/* css[view] */

// datatable-comp.products .table_container {
// 	min-width: 900px;
// }

.products_view_header {
	.toggle_view {
		& {
			--box-padding: 0 10px;
			--box_height: 35px;
			margin-right: 0;
		}
	}

	& {
		margin-bottom: 10px;
	}

	@media (min-width: 1100px) {
		margin-bottom: -35px;
	}
}
