/* css[view] */

// datatable-comp.products .table_container {
// 	min-width: 900px;
// }

.products_view_header {
	.toggle_view {
		margin-right: 3px;
	}

	& {
		margin-bottom: 10px;
	}
}

.products_view_header_under {
	@media (min-width: 1000px) {
		margin-bottom: -35px;
	}
}
