/* css[view] */

datatable-comp.shop_orders {
	.status_rect {
		padding: 0;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}
}

.overlay_wrapper:hover {
	filter: brightness(1.03);
}

.open_chat_btn {
	& {
		position: absolute;
		bottom: 10px;
		right: 10%;
		background: var(--clr_primary);
		color: #fff;
		border-radius: 100px;
		width: 60px;
		height: 60px;
		box-shadow: 0 3px 8px 0 #0007;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 28px;
		cursor: pointer;
		transition: transform 0.2s, opacity 0.2s;
	}
	&:hover {
		filter: brightness(1.05);
	}
	&.opened {
		opacity: 0;
		transform: scale(0.5);
	}
}

.chat_container {
	& {
		position: absolute;
		bottom: 0;
		right: 10%;
		background: #fff;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
		box-shadow: 0 1px 6px 0 #0004;
		display: flex;
		flex-direction: column;
		height: 350px;
		width: 350px;
		transition: transform 0.2s, opacity 0.2s;
		transform-origin: 80% 80%;
	}
	&:not(.visible) {
		opacity: 0;
		transform: scale(0.2);
	}
	.chat_messages {
		flex-grow: 1;
		padding: 5px;
	}
	.chat_header {
		--chat_header_height: 34px;
		background: var(--clr_primary);
		color: #fff;
		border-radius: inherit;
		position: relative;
		display: flex;
		height: var(--chat_header_height);
		align-items: center;
		flex-shrink: 0;
	}
	.chat_footer {
		display: flex;
		flex-shrink: 0;
		--field_padding_ver: 0.6em;
	}
	.chatter {
		padding: 5px 10px;
		font-weight: var(--semi_bold);
	}
	.close_btn {
		margin-left: auto;
		width: var(--chat_header_height);
		height: var(--chat_header_height);
		--btn-font-clr: #fff;
	}
	.chatter_img {
		width: 34px;
		height: 34px;
		border-radius: 100px;
	}
	.message {
		& {
			max-width: calc(100% - 34px - 3px);
			margin: 5px 0;
			display: flex;
			align-items: flex-start;
			gap: 3px;
		}
		.message_content {
			padding: 8px 15px;
			border-radius: 17px;
			line-height: 1.3;
		}
		&.ours {
			& {
				margin-left: auto;
			}
			.message_content {
				background: var(--clr_primary);
				color: #fff;
			}
		}
		&.others {
			& {
				margin-right: auto;
			}
			.message_content {
				background: #eee;
			}
		}
	}
	.new_message {
		max-height: 83px;
	}
}
