/* css[view] */

.favicon {
	width: 54px;
	height: 54px;
	display: block;
	object-fit: contain;
}

.share_img {
	width: 200px;
	height: 200px;
	display: block;
	object-fit: contain;
}

.upload_img_btn {
	margin-top: 5px;
}
