/* css[view] */

.favicon {
	width: 100px;
	max-height: 100px;
	display: block;
	object-fit: contain;
}

.share_img {
	width: 250px;
	max-height: 250px;
	display: block;
	object-fit: contain;
}

.upload_img_btn {
	margin-top: 5px;
}

.actual_content .logo {
	width: 180px;
	max-height: 180px;
	display: block;
	object-fit: contain;
}
