/* css[view] */

.favicon {
  width: max(38.25px, min(4.5vw, 54px));
  height: max(38.25px, min(4.5vw, 54px));
  display: block;
  margin: 10px 0;
  object-fit: contain;
}

.share_img {
  width: 200px;
  height: 200px;
  display: block;
  margin: 10px 0;
  object-fit: contain;
}
