/* css[global] */

.qty_controls {
	.btn.subtle {
		--btn-font-clr: #0008;
		font-size: 13px;
		width: 40px;
		height: 40px;
	}
	input {
		width: 58px;
		text-align: center;
		font-weight: 600;
		margin: 0 -1px;
		padding: 0;
	}
}

cart-products_product-comp.comp {
	& {
		display: grid;
		grid-template-columns: auto 1fr auto;
		grid-template-rows: auto auto;
		align-items: center;
		grid-gap: 5px 12px;
	}
	.product_img {
		width: 84px;
		grid-area: 1 / 1 / 3 / 2;
	}
	.product_name {
		& {
			grid-area: 1 / 2 / 2 / 3;
			font-weight: 600;
		}
		&:hover {
			text-decoration: underline;
		}
	}
	.product_remove {
		grid-area: 1 / 3 / 2 / 4;
		margin: -3px 0 auto auto;
	}
	.bottom_row {
		grid-area: 2 / 2 / 3 / 4;
		display: flex;
		align-items: center;
	}

	.product_price {
		font-size: 0.85em;
		color: #666;
	}

	.product_price,
	.qty_controls {
		margin-right: 10px;
	}
	.qty_controls {
		.btn {
			width: 34px;
			height: 34px;
		}
		input {
			width: 42px;
		}
	}

	@media only screen and (max-width: 360px) {
		&.comp {
			grid-gap: 5px 10px;
		}
		.product_img {
			width: 84px;
			grid-area: 1 / 1 / 2 / 2;
		}
		.product_name {
			grid-area: 1 / 2 / 2 / 3;
			font-weight: 600;
		}
		.product_remove {
			grid-area: 1 / 3 / 2 / 4;
			margin: -3px 0 auto auto;
		}
		.bottom_row {
			grid-area: 2 / 1 / 3 / 4;
			justify-content: flex-end;
			margin-top: 5px;
		}
		.product_total_price {
			margin-right: 10px;
		}
	}
}
