/* css[global] */

last-viewed-products-comp.comp {
	.square_img_wrapper {
		width: 60%;
		margin: auto;
		padding-top: 60%;
	}
	.product_name {
		& {
			font-weight: var(--semi_bold);
			display: block;
			text-align: center;
			margin-top: 5px;
		}
	}
	a {
		.no_touch &:hover {
			text-decoration: underline;
		}
	}
}
