/* css[global] */

list-comp {
	&.comp {
		display: flex;
		border: var(--list_border);
		--list_row_border: none;
		--list_border: none;
		--list_row_margin: 0;
		--list_row_margin_bottom_last: var(--list_row_margin);
		--list_row_padding: 0;
		--border_radius: 4px;
		& {
			border-radius: var(--border_radius);
		}
	}
	& > .list_row {
		&:first-child,
		&.grabbed {
			border-top-left-radius: var(--border_radius);
			border-top-right-radius: var(--border_radius);
		}
		&:last-child,
		&.grabbed {
			border-bottom-left-radius: var(--border_radius);
			border-bottom-right-radius: var(--border_radius);
		}
	}
	&.animating {
		& {
			overflow: hidden;
		}
		.btn {
			transition: 0.25s all;
		}
	}
	& > .list_row {
		flex-shrink: 0;
	}
	&:not(.horizontal) .list_row.cramp_row {
		height: 0 !important;
	}
	&.horizontal .list_row.cramp_row {
		width: 0 !important;
	}

	&:not(.horizontal) {
		flex-direction: column;
	}

	&.wireframe {
		& {
			--list_border: 1px solid #ccc;
			--list_row_border: 1px solid #ccc;
			--list_row_margin: -1px -1px 0;
			--list_row_margin_bottom_last: -1px;
		}
		&:empty {
			border-bottom-width: 0;
		}
	}
	&.space {
		& {
			--list_row_padding: 10px;
		}
	}
	&.clean {
		& {
			--list_row_margin: -1px -1px 0;
		}
	}
	&.striped {
		& {
			--list_row_padding: 10px 0;
			--border_radius: 0;
		}
		& > .list_row:first-child {
			border-top: 1px solid #ccc;
		}
		& > .list_row {
			border-bottom: 1px solid #ccc;
		}
	}
}

.list_row {
	& {
		transition: box-shadow 0.2s;
		margin: var(--list_row_margin);
		border: var(--list_row_border);
		padding: var(--list_row_padding);
		background: #fff;
	}
	&:last-child {
		margin-bottom: var(--list_row_margin_bottom_last);
	}
	&.cramp_row {
		padding: 0 !important;
		border-width: 0 !important;
		margin: 0 !important;
		min-width: 0 !important;
		min-height: 0 !important;
	}
	&.removing {
		pointer-events: none;
	}

	&.grabbed {
		& {
			position: relative;
			z-index: 500;
			box-shadow: 0 2px 5px 0 #0007;
		}
		&,
		* {
			cursor: grab !important;
		}
	}
	&.multi_grabbed {
		& {
			position: relative;
			z-index: 500;
			filter: drop-shadow(0 2px 2px #0007);
			opacity: 0.8;
		}
		&,
		* {
			cursor: grab !important;
		}
	}

	.node_list_grab_btn {
		cursor: grab;
		transition: 0.25s all;
		min-width: 28px;
	}
}

.multi_master .list_row {
	background: none;
}

.multi_list_grab_insert_rect {
	& {
		display: block;
		position: absolute;
		pointer-events: none;
		background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='4' stroke-dasharray='5%2c 9' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
		background-color: #0002;
		z-index: 450;
		opacity: 0.5;
	}
	&:not(.active) {
		display: none;
	}
}

.node_expand_multi_list_btn {
	& i {
		transition: 0.25s transform;
	}
	&.expanded i {
		transform: rotate(90deg);
	}
	&:not(.active) {
		visibility: hidden;
	}
}

.multi_list_add_btn {
	&:not(.active) {
		visibility: hidden;
	}
}

.node_expand_btn {
	& {
		width: 30px;
	}
	& i {
		transition: 0.25s transform;
	}
	&.expanded i {
		transform: rotate(90deg);
	}
	&.inactive {
		visibility: hidden;
	}
}

.list_label {
	font-size: 1.1em;
}
