/* css[piep_cms_dependencies] */

.module_grid {
	.cell_float {
		border: 1px solid #0005;
		pointer-events: none;
		min-height: 75px;
		min-width: 75px;
	}
	&:not(:hover) .cell_float {
		opacity: 0;
	}
}

.prop_grid_gap {
	select {
		width: 30px;
	}
}

.prop_grid_template {
	.grid_template {
		padding: 2px 0;
	}
	.template_row {
		& {
			padding: 2px 0;
			display: flex;
		}
		unit-input {
			& {
				flex-grow: 1;
			}

			&.glue_children select {
				width: 30px;
			}
		}
		.btn {
			margin-left: 4px;
		}
	}
}
