/* css[user] */

#p header.main {
	box-shadow: none;
}

.user_nav {
	& {
		display: flex;
		align-items: center;
		justify-content: center;
		background: #eee;
		border: 1px solid #ccc;
		border-left-width: 0;
		border-right-width: 0;
		color: #444;
		// z-index: 700;
	}
	.no_touch & > .gray_hover {
		&:hover {
			background: #ddd;
		}
		&:not(:hover) {
			background: #eee;
		}
		&.current_route {
			background: #ddd;
		}
	}

	& > a {
		& {
			padding: 10px;
			font-weight: var(--semi_bold);
			font-size: 1.1em;
			border-radius: 4px;
		}
	}
	@media (max-width: 899px) {
		& {
			flex-direction: column;
			padding: 10px 0;
		}
		& > a {
			width: 100%;
		}
	}
	@media (min-width: 900px) {
		& {
			padding: 20px 15px;
		}
	}
	// @media (min-width: 1100px) {
	// 	& > a {
	// 		margin: 10px;
	// 	}
	// }
}

.user_page_body {
	width: 100%;
	padding: 35px 10px;
	max-width: 1100px;
	margin: auto;
}
