/* css[global] */

header.main {
	&.ready {
		position: fixed;
	}
	& {
		width: 100%;
		display: flex;
		align-items: center;
		z-index: 600;
		background: #fff;
		border-bottom: 1px solid #ccc;
		box-shadow: 0 2px 9px 0 #0003;
		--header_padding_vertical: 10px;
		--header_padding_horizontal: 15px;
		padding: var(--header_padding_vertical) var(--header_padding_horizontal);
		justify-content: space-around;
		flex-flow: row wrap;
		--header-btn-radius: 4px;
		transition: 0.2s transform;
	}

	&.invisible {
		transform: translateY(-110%);
	}

	@media only screen and (min-width: 1200px) {
		& {
			--header_padding_vertical: 15px;
			--header_padding_horizontal: 20px;
		}
	}
	@media only screen and (max-width: 400px) {
		& {
			--header_padding_horizontal: 10px;
		}
	}

	.header_buttons {
		display: flex;
	}

	.user_btn .user_icon {
		display: block;
	}

	.headerbtn_menu {
		position: absolute;
		right: 0;
		top: 100%;
		transition: 0.2s opacity;
		background: #fff;
		border-radius: 4px;
		box-shadow: 0 3px 3px 0 #0004;
		border: 1px solid #ccc;
		cursor: default;
	}

	&.modals_only {
		& {
			justify-content: space-between;
		}

		.main_search_wrapper,
		.last_viewed_products_menu_btn,
		.wishlist_menu_btn {
			display: none !important;
		}
	}

	&.use_modals {
		.headerbtn_menu {
			display: none !important;
		}
	}

	&:not(.modals_only) {
		.mobile_search_btn {
			display: none !important;
		}
	}

	.headerbtn {
		& {
			position: relative;
			min-width: 50px;
			height: 50px;
			border-radius: var(--header-btn-radius);
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0 7px;
			transition: 0.2s background-color;
			background: transparent;
			border: none;
			cursor: pointer;
		}
		&:hover .cart_product_count {
			box-shadow: 0px 0px 0px 2px #eee;
			transition: none;
		}

		&:not(:hover) .headerbtn_menu {
			opacity: 0;
			pointer-events: none;
		}

		@media only screen and (max-width: 350px) {
			& {
				padding: 0 0;
				margin: 0 -2px;
				transform: scale(0.9);
			}
		}
	}

	.headerbtn > span {
		margin-right: 4px;
	}

	.basket_icon_wrapper {
		& {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.cart_product_count {
			background: var(--primary-clr);
			min-width: 22px;
			height: 22px;
			border-radius: 20px;
			color: white;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-2%, 6%);
			box-shadow: 0px 0px 0px 2px #fff;
			font-size: 0.9em;
			font-weight: 600;
			transition: 0.2s box-shadow;
		}
	}

	&:not(.menu_collapsed) .mobile_menu_btn,
	&.menu_collapsed nav {
		display: none !important;
	}
	nav:not(.bottom) a {
		border-radius: var(--header-btn-radius);
	}

	.cart_menu {
		& {
			min-width: 250px;
		}
		.cart_summary {
			& {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 10px;
				border-top: 1px solid #ccc;
			}
		}
		.all_products {
			& {
				min-width: 270px;
				transition: min-width 0.2s;
			}
			&:not(.empty) {
				min-width: 430px;
			}
			.list_row:first-child {
				border-top-width: 0;
			}
			.list_row:last-child {
				border-bottom-width: 0;
			}
		}
		.scroll_panel {
			max-height: min(70vh, 500px);
			padding: 0 10px;
		}
	}

	.menu_header {
		text-align: center;
		margin: 0.3em 0;
		font-weight: 600;
		font-size: 1.2em;
	}

	.last_viewed_products_menu_btn .menu_header {
		& {
			min-width: 250px;
		}
		.last_viewed_products_wrapper {
			min-width: 270px;
		}
	}

	.headerbtn_menu hr.indent {
		margin: 5px;
	}
}

.logo-default {
	width: max(85px, min(10vw, 120px));
	height: max(38px, min(4.5vw, 54px));
	display: block;
	object-fit: contain;
}

@media only screen and (min-width: 800px) {
	.case_mobile {
		display: none !important;
	}
}
@media only screen and (max-width: 799px) {
	.case_desktop {
		display: none !important;
	}
}

.search_wrapper {
	.btn {
		padding: 0;
		width: 40px;
	}
	.field {
		min-height: 42px;
	}

	&.active .field,
	.field:focus {
		box-shadow: inset 0 0 0 1px var(--focus-clr);
	}
	.search_icon {
		width: 22px;
		filter: invert(1);
		transform: translateY(3px);
	}
}

:root {
	--header_height: 0; // no need to set a default value, it's done on domload as well as putting the header as fixed node
}
.header_height {
	flex-shrink: 0;
	height: var(--header_height);
}
