// /* css[global] */

header.main {
	& {
		position: fixed;
		width: 100%;
		display: flex;
		align-items: center;
		z-index: 600;
		background: #fff;
		border-bottom: 1px solid #ccc;
		box-shadow: 0 2px 6px 0 #0002;
		--header_padding_vertical: 10px;
		--header_padding_horizontal: 15px;
		padding: var(--header_padding_vertical) var(--header_padding_horizontal);
		justify-content: space-around;
		flex-flow: row wrap;
		--header-btn-radius: 7px;
	}

	@media only screen and (min-width: 1200px) {
		& {
			--header_padding_vertical: 15px;
			--header_padding_horizontal: 20px;
		}
	}
	@media only screen and (max-width: 400px) {
		& {
			--header_padding_horizontal: 10px;
		}
	}

	.header_buttons {
		display: flex;
	}

	.user-wrapper:hover .user-menu {
		opacity: 1;
		pointer-events: auto;
	}

	.headerbtn_menu {
		position: absolute;
		right: 0;
		top: 100%;
		transition: 0.2s opacity;
		background: #fff;
	}

	.headerbtn {
		& {
			position: relative;
			min-width: 50px;
			height: 50px;
			border-radius: var(--header-btn-radius);
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0 7px;
			transition: 0.2s background-color;
			background: transparent;
			border: none;
		}
		&:hover {
			& {
				background: #eee;
				transition: none;
			}
			.basket_item_count {
				box-shadow: 0px 0px 0px 2px #eee;
				transition: none;
			}
		}
		&:not(:hover) .headerbtn_menu {
			opacity: 0;
			pointer-events: none;
		}
	}

	.headerbtn > span {
		margin-right: 4px;
	}

	.basket_icon-wrapper {
		& {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.basket_item_count {
			background: var(--primary-clr);
			min-width: 22px;
			height: 22px;
			border-radius: 20px;
			color: white;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-2%, 6%);
			box-shadow: 0px 0px 0px 2px #fff;
			font-size: 0.9em;
			font-weight: 600;
			transition: 0.2s box-shadow;
		}
	}

	@media only screen and (min-width: 600px) {
		.mobile_search_btn {
			display: none !important;
		}
	}
	@media only screen and (max-width: 599px) {
		.main_search_wrapper {
			display: none !important;
		}
	}

	&:not(.menu_collapsed) .mobile_menu_btn,
	&.menu_collapsed nav {
		display: none !important;
	}
	nav:not(.bottom) a {
		border-radius: var(--header-btn-radius);
	}
}

.logo-default {
	width: max(85px, min(10vw, 120px));
	height: max(38px, min(4.5vw, 54px));
	display: block;
	object-fit: contain;
}

@media only screen and (min-width: 800px) {
	.case_mobile {
		display: none !important;
	}
}
@media only screen and (max-width: 799px) {
	.case_desktop {
		display: none !important;
	}
}

.search_wrapper {
	.btn {
		padding: 0;
		width: 40px;
	}
	.field {
		min-height: 42px;
	}

	&.active .field,
	.field:focus {
		box-shadow: inset 0 0 0 1px var(--primary-clr);
	}
	.search_icon {
		width: 22px;
		filter: invert(1);
		transform: translateY(3px);
	}
}
