/* css[global] */

header .last_viewed_products_wrapper {
	max-height: calc(90vh - 100px);
}

header .product-history-icon,
.lastViewedProducts .product-history-icon {
	width: 34px;
}

.lastViewedProducts .modal-header {
	font-size: 16px;
	padding-right: 53px;
}
