/* css[global] */

.main-search-wrapper {
	position: relative;
	flex-grow: 0.8;
	display: flex;
	margin: auto;
}

.any-search-wrapper {
	flex-grow: 1;
}

.any-search-wrapper .btn {
	flex-shrink: 0 !important;
}
