/* css[global] */

.main_search_wrapper {
	& {
		position: relative;
		flex-grow: 0.6;
		display: flex;
		flex-basis: 200px;
		margin: 0 10px;
		z-index: 100;
	}
	&:not(.active),
	&:not(.show_results) {
		.search_results {
			opacity: 0;
			pointer-events: none;
		}
	}
	&.active.show_results > * {
		box-shadow: 0 2px 5px #0005;
	}
	.search_results {
		& {
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			background: #fff;
			border: 1px solid #ccc;
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
			opacity: 1;
			border-top-width: 0;
			overflow: hidden;
			transition: opacity 0.2s;
		}
		.product_img_wrapper {
			flex-shrink: 0;
		}
		.product_img {
			width: 60px;
		}
		.product_block {
			&,
			& > a {
				display: flex;
				align-items: center;
			}
			& > a {
				flex-grow: 1;
			}
			& {
				padding: 5px 10px 5px 5px;
				cursor: pointer;
			}
			&.selected {
				& {
					background: #f5f5f5;
					box-shadow: 0 0 0 1px #0002;
					z-index: 19;
				}
			}
		}
		.product_stock,
		.product_variants,
		.product_rating {
			display: none;
		}
		.product_name {
			padding: 0 10px;
			margin: 0;
			font-size: 1em;
			font-weight: 400;
		}
		.product_row {
			flex-shrink: 0;
		}
	}

	&.active.show_results {
		.field {
			border-bottom-left-radius: 0;
		}
		.btn {
			border-bottom-right-radius: 0;
		}
	}

	&.wanna_expand {
		.search_wrapper {
			transition: margin 0.2s;
			transition-delay: 0.2s;
		}

		&.active.show_results .search_wrapper {
			transition-delay: 0s;
		}

		&.expand_both {
			& > .search_results,
			&.active.show_results .search_wrapper {
				margin-left: calc(-250px + 0.5 * var(--main_search_wrapper_width));
				margin-right: calc(-250px + 0.5 * var(--main_search_wrapper_width));
			}
		}
		&:not(.expand_both) {
			& > .search_results,
			&.active.show_results .search_wrapper {
				margin-left: calc(-500px + var(--main_search_wrapper_width));
			}
		}

		&.active.show_results .search_results {
			transition-delay: 0.2s;
		}
	}
}

.search_wrapper {
	flex-grow: 1;
}

.search_wrapper .btn {
	flex-shrink: 0 !important;
}
