/* css[global] */

nav {
	ul {
		display: flex;
		padding: 0;
		margin: 0;
		list-style: none;
	}
	li > a {
		& {
			padding: 4px;
			display: block;
			transition: 0.2s background-color;
		}
		&:hover {
			background: #0001;
			transition: none;
		}
	}
	.level_0 > li {
		& {
			flex-grow: 1;
			text-align: center;
		}
		& > a {
			padding: 10px 8px;
			font-weight: 600;
			font-size: 1.1em;
		}
	}
	.level_1 {
		display: none;
	}
}

// header nav {
// 	width: 100%;
// 	display: flex;
// 	flex-wrap: wrap;
// 	justify-content: space-around;
// 	background: #fafafa;
// 	overflow: hidden;
// 	box-shadow: 0px 3px 14px -3px rgba(0, 0, 0, 0.08);
// 	border-bottom: 1px solid #ccc;
// }

// @media only screen and (max-width: 799px) {
// 	header nav {
// 		display: none;
// 	}
// }

// header nav.collapsed {
// 	transform: translateY(-100%);
// 	pointer-events: none;
// }

// header nav > div {
// 	flex-grow: 1;
// }

// .navigation a {
// 	display: block;
// }

// header nav > div > a {
// 	display: block;
// 	padding: 20px 14px;
// 	width: 100%;
// 	text-align: center;
// }

// nav > div > a.current-route {
// 	background: var(--primary-clr);
// 	color: white;
// }
// nav > div:hover > a:not(.current-route) {
// 	color: var(--primary-clr);
// 	background: #0001;
// }
// nav > div:hover > a:not(.current-route) > * {
// 	text-decoration: underline;
// }

// .mainMenu .navigation a {
// 	padding: 10px 12px;
// 	width: 100%;
// 	border-bottom: 1px solid #ccc;
// }
