/* css[global] */

header nav {
	& {
		flex-shrink: 0;
	}
	&.bottom {
		order: 2;
		margin: calc(-1 * var(--header_padding_vertical)) calc(-1 * var(--header_padding_horizontal));
		margin-top: var(--header_padding_vertical);
		min-width: 100%;
		flex-grow: 1;
		border-top: 1px solid #ccc;
	}
	ul {
		display: flex;
		padding: 0;
		margin: 0;
		list-style: none;
	}
	ul:not(.level_0) {
		flex-flow: column wrap;
	}
	li > a {
		padding: 4px;
		display: block;
		transition: 0.2s background-color;
	}
	li:hover > a {
		background: #0001;
		transition: none;
	}
	.level_0 > li {
		& {
			flex-grow: 1;
			text-align: center;
		}
		& > a {
			padding: 10px 10px;
			font-weight: 600;
			font-size: 1.05em;
		}
	}
	.level_1 {
		font-weight: 600;
		display: none;
	}
	.level_2 {
		font-weight: 400;
		margin-left: 30px;
	}
}

.float_menu > div {
	padding: 10px;
}
.float_menu > div > a:first-child {
	margin-bottom: 5px;
	font-weight: bold;
	display: inline-block;
}
.float_menu {
	background: white;
	padding: 4px;
	position: absolute;
	display: none;
	border: 1px solid #aaa;
	box-shadow: 0 2px 9px 0 #0003;
	transition: 0.15s opacity;
	opacity: 0;
	border-radius: 4px;
}
.float_menu.visible {
	opacity: 1;
}
