/* css[global] */

.mainMenu {
	a {
		display: flex;
		padding: 9px 15px;
		box-shadow: 0 1px 0 0 #ccc;
	}
	.expand_btn {
		& {
			margin: -9px -14px -9px auto;
			height: 42px;
			width: 42px;
		}
		& i {
			transition: transform 0.2s;
		}
		&.open i {
			transform: rotate(90deg);
		}
	}
	.level_0 > li > a {
		font-weight: 600;
	}
	.level_1 a {
		padding-left: 30px;
	}
	.level_2 a {
		padding-left: 45px;
	}

	.product_history_icon {
		width: 28px;
		margin: -2px 4px -2px 0;
	}
	.heart_icon {
		width: 28px;
		margin: -2px 4px -2px 0;
	}
}

header .main_menu {
	& {
		flex-shrink: 0;
	}
	&.bottom {
		order: 2;
		margin: calc(-1 * var(--header_padding_vertical)) calc(-1 * var(--header_padding_horizontal));
		margin-top: var(--header_padding_vertical);
		min-width: 100%;
		flex-grow: 1;
		border-top: 1px solid #ccc;
	}
	ul.level_0 {
		display: flex;
	}
	li > a {
		padding: 4px;
		display: block;
		transition: 0.2s background-color;
	}
	.level_0 > li {
		& {
			flex-grow: 1;
		}
		& > a {
			padding: 10px 10px;
			font-weight: 600;
			font-size: 1.05em;
			text-align: center;
		}
		&:hover > a {
			background: #0001;
			transition: none;
		}
	}
	.level_1 {
		& {
			font-weight: 600;
			display: none;
		}
		a {
			& {
				padding: 3px 7px;
			}
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.level_2 {
		font-weight: 400;
		margin-left: 18px;
	}
}

.float_menu {
	& {
		background: white;
		padding: 4px;
		position: absolute;
		display: none;
		border: 1px solid #ccc;
		box-shadow: 0 2px 9px 0 #0003;
		transition: 0.15s opacity;
		opacity: 0;
		border-radius: 4px;
		z-index: 500;
		margin-right: -1000px !important;
	}
	&.visible {
		opacity: 1;
	}
	&:not(.visible) {
		pointer-events: none;
	}
	&.created_columns {
		& {
			display: flex !important;
			padding: 10px 0;
		}
		& > div:not(:first-child) {
			border-left: 1px solid #cccc;
		}
		& > div {
			& {
				padding: 0 10px;
			}
			& > li:not(:first-child) {
				margin-top: 10px;
			}
		}
	}
}
