/* css[wo997_chat] */

.open_chat_btn {
	& {
		position: fixed;
		bottom: 10px;
		right: 10%;
		background: var(--clr_primary);
		color: #fff;
		border-radius: 100px;
		width: 60px;
		height: 60px;
		box-shadow: 0 3px 9px 0 #0009;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 28px;
		cursor: pointer;
		transition: transform 0.2s, opacity 0.2s;
		z-index: 10000;
	}
	&:hover {
		filter: brightness(1.05);
	}
	&.opened {
		opacity: 0;
		transform: scale(0.5);
		pointer-events: none;
	}
}

.chat_container {
	& {
		position: fixed;
		bottom: 0;
		right: 10%;
		background: #fffe;
		border-radius: 4px;
		box-shadow: 0 1px 8px 0 #0005;
		display: flex;
		flex-direction: column;
		height: 400px;
		width: 380px;
		transition: transform 0.2s, opacity 0.2s;
		transform-origin: 94% 90%;
		z-index: 10000;
		backdrop-filter: blur(5px);
		--chat_header_height: 42px;
	}
	&:not(.visible) {
		opacity: 0;
		transform: scale(0.2);
		pointer-events: none;
	}
	.chat_messages {
		& {
			position: relative;
		}
		.scroll_panel {
			flex-grow: 1;
		}
	}
	.messages_wrapper {
		display: flex;
		flex-direction: column;
		padding: 5px;
	}
	.chat_header {
		// background: var(--clr_primary);
		// color: #fff;
		position: relative;
		display: flex;
		height: var(--chat_header_height);
		align-items: center;
		flex-shrink: 0;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
	}
	.chat_footer {
		display: flex;
		flex-shrink: 0;
		--field_padding_ver: 0.6em;
	}
	.chatter_label {
		padding: 5px 10px;
		font-weight: var(--semi_bold);
		display: flex;
		align-items: center;
	}
	.close_btn {
		margin-left: auto;
		width: var(--chat_header_height);
		height: var(--chat_header_height);
		// --btn-font-clr: #fff;
	}
	.chatter_img {
		width: 34px;
		height: 34px;
		border-radius: 100px;
		object-fit: contain;
	}
	.message {
		& {
			max-width: calc(100% - 34px - 3px);
			margin: 5px 0;
			display: flex;
			align-items: flex-start;
			gap: 3px;
		}
		.message_content {
			padding: 8px 15px;
			border-radius: 17px;
			line-height: 1.3;
		}
		&.ours {
			& {
				margin-left: auto;
				transform-origin: 100% 100%;
			}
			.message_content {
				background: var(--clr_primary);
				color: #fff;
			}
		}
		&.others {
			& {
				margin-right: auto;
				transform-origin: 0% 100%;
			}
			.message_content {
				background: #eee;
			}
		}
	}
	.message_input {
		max-height: 83px;
	}
	.new_messages_btn {
		& {
			position: absolute;
			bottom: 5px;
			left: 50%;
			transform: translateX(-50%);
			transition: 0.2s;
		}
		&:not(.visible) {
			bottom: -35px;
		}
	}
	.chatter_is_typing {
		& {
			padding: 2px 13px;
			position: absolute;
			bottom: 0;
			left: 0;
			color: #555;
			transition: 0.2s all;
			background: #fff;
			font-weight: var(--semi_bold);
		}
		&:not(.visible) {
			opacity: 0;
		}
	}
}

@media (max-width: 800px) {
	.chat_container {
		width: calc(100% - 20px);
		height: calc(100% - 20px);
		right: 10px;
		bottom: 10px;
		// width: 100%;
		// height: 100%;
		// right: 0;
		// bottom: 0;
		transform-origin: 95% 95%;
		// --chat_header_height: 40px;
	}
	.open_chat_btn {
		right: 10px;
		bottom: 10px;
		width: 50px;
		height: 50px;
	}
	.chat_footer {
		padding: 5px;
	}
}

// just dots dude
.dot-flashing {
	position: relative;
	animation: dotFlashing 0.7s infinite linear alternate;
	animation-delay: 0.35s;
	display: inline-block;
	margin: 0 15px;
}

.dot-flashing,
.dot-flashing::before,
.dot-flashing::after {
	display: inline-block;
	border-radius: 5px;
	background-color: #999;
	color: #999;
	width: 10px;
	height: 10px;
}

.dot-flashing::before,
.dot-flashing::after {
	content: "";
	position: absolute;
	top: 0;
}

.dot-flashing::before {
	left: -12px;
	animation: dotFlashing 0.7s infinite alternate;
	animation-delay: 0s;
}

.dot-flashing::after {
	left: 12px;
	animation: dotFlashing 0.7s infinite alternate;
	animation-delay: 0.7s;
}

@keyframes dotFlashing {
	0% {
		background-color: #999;
	}
	50%,
	100% {
		background-color: #eee;
	}
}
