RewriteEngine On

RewriteRule ^([^\.]*)$ routing.php?url=$1 [QSA]

<Files ~ "\.php$">
    Order Deny,Allow
    Deny from all
</Files>

<FilesMatch (routing.php|ping.php)>
    Order Allow,Deny
    Allow from all
</FilesMatch>

RedirectMatch 301 /www.prolit.pl /

