/* css[tool_newCms] */

.locked_input {
	pointer-events: none;
}

.newCms {
	& {
		background: #ccc;
	}
	.custom-toolbar {
		z-index: 15000;
	}

	/* TODO: some styles like this one should be global */
	& img.newCms_block_content {
		max-width: 100%;
	}
}
