/* css[tool_newCms] */

.locked_input {
	pointer-events: none;
}

.newCms {
	& {
		background: #ccc;
	}
	.custom-toolbar {
		z-index: 15000;
	}

	/* TODO: some styles like this one should be global */
	/* TODO: you should probably also include videos and more */
	& img.newCms_block_content {
		max-width: 100%;
		flex-grow: 0;
		align-self: center;
	}
}

.block_35 {
	background: red !important;
	z-index: 10000000 !important;
}
