/* css[tool_newCms] */

.locked_input {
	pointer-events: none;
}

.newCms {
	& {
		background: #ccc;
	}
	.custom_toolbar {
		z-index: 15000;
	}

	/* TODO: some styles like this one should be global */
	/* TODO: you should probably also include videos and more */
	& img.newCms_block_content {
		max-width: 100%;
		flex-grow: 0;
		align-self: center;
	}
}

.content_overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.newCms.animating_rearrangement .content_overlay {
	display: none;
}
