:root {
	--select_control_width: 26px;
	--select_control_height: 26px;
	--rearrange_control_width: 26px;
	--rearrange_control_height: 26px;

	--content-padding: 25px;
}

.newCms {
	height: 100%;
	user-select: none;
}

.newCms_block {
	min-width: 40px;
	min-height: 40px;
	position: relative;
	transition: box-shadow 0.2s, background-color 0.2s, opacity 0.2s;
	cursor: pointer;
	display: flex;
	flex-direction: column;
}

.content_scroll_panel:hover .newCms_block,
.newCms.grabbed_block .newCms_block {
	box-shadow: 0 0 0 1px #0002;
}

.newCms_block:not(.container) > .newCms_block_content {
	pointer-events: none;
	padding: 10px;
}

/* block selection start */

.newCms_block.select_active {
	box-shadow: 0px 0px 0px 2px var(--primary-clr),
		inset 0px 0px 0px 2px var(--primary-clr) !important;

	/*background: #0001;*/
}

.newCms_block.container.select_active {
	box-shadow: 0px 0px 0px 2px #bbb, inset 0px 0px 0px 2px #bbb !important;
}

.newCms_block.select_active:not(.grabbed) .newCms_block {
	/*transform: scale(0.95);*/
	/*transform: translate(5px, 10px);*/
}

.select_controls {
	transition: opacity 0.2s;
	position: relative;
	z-index: 100;
}

/* idk rly */
/*.select_controls:not(.blocks_visible)
  .select_control:not(.container):not(.select_active) {
  opacity: 0;
}*/

.select_control {
	position: absolute;
	width: var(--select_control_width);
	height: var(--select_control_height);
	background: #ccc;
	border: 1px solid #000c;
	color: #222;
	opacity: 0.45;
	border-radius: 4px;
	transition: 0.2s all;
	font-size: 1.15em;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.select_control:not(.container) {
	background: #fafafa;
	color: var(--primary-clr);
}

.select_control.select_active,
.select_control.rearrange_active {
	opacity: 1;
}

.newCms:not(.grabbed_block) .select_control.select_active {
	box-shadow: 0 1px 1px 0 #0005;
}

/*.newCms.anything_selected .select_control:not(.select_active) {
  opacity: 0.2;
}*/

.newCms:not(.anything_selected):not(.grabbed_block)
	.content_scroll_panel:not(:hover)
	.select_controls,
.newCms:not(.grabbed_block)
	.content_scroll_panel:not(:hover)
	.grid_wireframe_line:before,
.newCms:not(.grabbed_block)
	.content_scroll_panel:not(:hover)
	.grid_wireframe_line:after,
.select_controls:not(.visible) {
	opacity: 0;
	pointer-events: none;
}

/* block selection end */

/* block rearrangement start */

.rearrange_controls {
	transition: opacity 0.2s;
	position: relative;
	z-index: 500;
}
.rearrange_controls:not(.visible) {
	opacity: 0;
	pointer-events: none;
}

.rearrange_control {
	position: absolute;
	width: var(--rearrange_control_width);
	height: var(--rearrange_control_height);
	background: #ccc;
	border: 1px solid #0008;
	color: #222;
	/*opacity: 0.55;*/
	border-radius: 4px;
	transition: 0.2s all;
	font-size: 1.15em;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	box-shadow: 0 1px 1px 0 #0005;
}

.rearrange_control.unavailable {
	opacity: 0;
	pointer-events: none;
}

.rearrange_control.first_grid_node {
	opacity: 0.4;
	pointer-events: none;
}

.rearrange_control.grid_control {
	border-radius: 50%;
}

.rearrange_control.rearrange_active {
	opacity: 1;
	background: var(--primary-clr);
}

.rearrange_control > * {
	transition: 0.2s all;
}

.rearrange_control.rearrange_active > * {
	filter: invert();
}

.rearrange_insert_rect {
	position: absolute;
	pointer-events: none !important;
	background-image: repeating-linear-gradient(
		-45deg,
		#fff3 0px 10px,
		#0003 10px 20px
	);
}
.rearrange_insert_rect:not(.visible),
.newCms:not(.grabbed_block) .rearrange_insert_rect,
.newCms:not(.rearrange_possible) .rearrange_insert_rect {
	opacity: 0;
}

.rearrange_grabbed_rect {
	position: absolute;
	background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%230000004F' stroke-width='4' stroke-dasharray='5%2c 9' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
	background-color: #8881;
	z-index: 50;
}

.rearrange_grabbed_rect:not(.visible) {
	opacity: 0;
	pointer-events: none;
}

.newCms_block.grabbed {
	background: #aaa3;
}

.newCms_block.grabbed > .newCms_block_content {
	overflow: hidden;
}

.newCms_block.grabbed,
.side_block.grabbed {
	filter: contrast(0.7);
	opacity: 0.6;
	box-shadow: 0 4px 12px -1px #0008;
	pointer-events: none !important;
	position: relative;
	z-index: 1000;
}

.newCms .sidebar .grabbed,
.newCms .content_scroll_panel .grabbed {
	opacity: 0;
}

.newCms.grabbed_block .sidebar {
	pointer-events: none;
}

.newCms.grabbed_block * {
	cursor: not-allowed !important;
}

.newCms.grabbed_block.rearrange_possible .content_scroll_panel * {
	cursor: pointer !important;
}

/*.content_scroll_panel.grabbed_block .newCms_block.container_header,
.content_scroll_panel.grabbed_block .newCms_block:not(.newCms_block.container) {
  filter: contrast(0.7);
}*/

.content_scroll_panel.grabbed_block .newCms_block.container {
	border-color: #ccc7 !important;
}

.newCms.grabbed_block .newCms_block.container {
	box-shadow: 0px 0px 0px 2px #bbb, inset 0px 0px 0px 2px #bbb;
}

.newCms.grabbed_block .newCms_block:not(.container),
.newCms.grabbed_block .select_controls {
	filter: contrast(0.9);
	opacity: 0.65;
}

.newCms.grabbed_block .newCms_block.rearrange_active:before,
.newCms.grabbed_block .newCmsContent.rearrange_active:before {
	content: "";
	transition: 0.2s box-shadow;
}

.newCms.grabbed_block .newCms_block.rearrange_active:before,
.newCms.grabbed_block .newCmsContent.rearrange_active:before {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 400;
	box-shadow: 0 0 0 2px var(--primary-clr), inset 0 0 0 2px var(--primary-clr);
	pointer-events: none;
}

.newCms.grabbed_block .newCms_block.rearrange_active,
.newCms.grabbed_block .newCmsContent.rearrange_active {
	box-shadow: 0 0 0 2px var(--primary-clr), inset 0 0 0 2px var(--primary-clr);
	/*background: #0001;*/
}

/* block rearrangement end */

/* newCms_container_content start */
.newCms_block.container > .newCms_block_content {
	/*display: flex;*/
	flex-shrink: 0;
	position: relative;
}

.newCms_block.container > .newCms_block_content {
	/*flex-flow: column;*/
}

/* block inside of a block caused the margins to collapse, the solution down below is simple, make it flex! ;)
    DUUUUUUUUDE, it just fucked up everything again :/ we need them to flex but we are back to the same shit
    putting flex again does seem to fix it maybe idk
*/
.newCms_block_content {
	display: flex;
	flex-flow: column;
	flex-grow: 1;
}

/*.newCms_block::before,
.newCms_block::after {
	content: " ";
	display: table;
}*/

.newCms_block_content.container_row {
	flex-flow: row wrap;
}

/* newCms_container_content end */

/* edit_block start */
.edit_block_node {
	position: absolute;
	transform: translate(-50%, -50%);
	z-index: 9000;
	transition: 0.2s opacity;
}

.edit_block_node:not(.visible) {
	opacity: 0;
	pointer-events: none;
}

.newCms_block.edit_active {
	background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%230000004F' stroke-width='4' stroke-dasharray='5%2c 9' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.edit_block_node svg {
	filter: drop-shadow(0px 1px 3px #000a);
	transition: 0.2s all;
	transform: scale(1);
}

.edit_block_node:not(.visible) svg {
	transform: scale(0.7);
}

.edit_block_node .context-btn {
	cursor: pointer;
	stroke: #0003;
	stroke-width: 1px;
}

/*.edit_block_node .relocate_btn {
	cursor: grab;
}*/

.edit_block_node .context-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	stroke-width: 0;
}

.edit_block_node .context-btn:hover,
.edit_block_node .context-btn:hover + foreignObject {
	opacity: 0.8;
}

/* edit_block_node end */

.edit_block_node .btn:not(.remove_btn):hover {
	color: var(--primary-clr);
}

/*.relocate_btn {
	cursor: grab;
}*/

/* quill_editor end */

/* deprecated */
/*.quill_editor.ql-container {
	height: auto;
}

.quill_editor_wrapper:not(.visible) {
	display: none;
}

.newCmsContent .quill_editor {
	min-height: 30px;
}*/
/* quill_editor end */

.newCmsContent {
	position: relative;
}

.newCmsContent .during_inline_edit {
	border: none !important;
	box-shadow: 0 2px 6px #0005;
}
.newCmsContent .during_inline_edit > .newCms_block_content {
	display: none;
}

.content_scroll_panel {
	height: 100%;
	overflow-y: scroll;
}

.locked_input {
	pointer-events: none;
}

/* sidebar start */

.newCms .sidebar {
	width: 300px;
	border-right: 1px solid #ccc;
	box-shadow: 0 0 12px -4px rgba(0, 0, 0, 0.39);
	background: #eee;
	flex-shrink: 0;
}

.newCms .sidebar .scroll-panel {
	height: 100%;
}

.newCms .sidebar_content_wrapper {
	width: 100%;
	position: relative;
}

.newCms .sidebar_content_wrapper.transiting {
	overflow: hidden;
}

[data-side_menu] {
	padding: 15px 10px;
}

[data-side_menu]:not(.active):not(.appears):not(.disappears) {
	opacity: 0;
}

[data-side_menu]:not(.active) {
	top: -10000px;
	pointer-events: none;
	position: absolute;
}

[data-side_menu].disappears,
[data-side_menu].appears {
	top: 0;
}

.block_list {
	margin: 0 -4px -4px 0;
	display: flex;
	flex-flow: wrap;
}

.side_block {
	padding: 7px;
	border: 1px solid #aaa;
	background: #fafafa;
	border-radius: 4px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 46px;
	margin: 0 4px 4px 0;
	width: calc(50% - 4px);
	/*cursor: grab;*/
	transition: box-shadow 0.2s;
}

.side_block:not(.grabbed):hover {
	box-shadow: 0 1px 3px 0 var(--primary-clr);
	filter: brightness(1.15);
}

.side_block.grabbed {
	filter: none !important;
}

.side_block span {
	margin-left: 7px;
	line-height: 1.3;
}

.side_block .default-icon {
	width: 1.8em;
}

.side_block i {
	font-size: 1.8em;
}

.side_block .default-icon,
.side_block i {
	/*filter: contrast(0) sepia(1) hue-rotate(171deg) brightness(0.75) contrast(5);*/
	color: var(--primary-clr);
}

/* side end */

.sidebar .quill_editor {
	background: #fff;
}

.rearrange_node {
	position: absolute;
	pointer-events: none;
	z-index: 9000;
}

.rearrange_node:not(.visible) {
	display: none;
}

.newCmsContent_copy {
	position: absolute;
	pointer-events: none;
	background: #fff;
	opacity: 1;
}

.newCmsContent_copy:not(.visible) {
	opacity: 0;
}

.newCmsContent_copy .cramped {
	display: none !important;
}

.newCmsContent_copy .grid_wireframe_line:before {
	opacity: 0 !important;
}

/* grid start */

.newCms_block[data-block="grid"] > .newCms_block_content {
	display: grid;
	/*grid-gap: 5px;*/
	grid-template-columns: 2fr 1fr 3fr;
	grid-template-rows: 1fr 2fr;
	min-width: 200px;
	min-height: 200px;
}

.newCms_block[data-block="grid"] > .newCms_block_content > * {
	/*min-width: 60px; just height lol */
	min-height: 60px;
}

.grid_wireframe_line {
	position: relative;
	pointer-events: none;
}
.grid_wireframe_line:before,
.grid_wireframe_line:after {
	content: "";
	position: absolute;
	background: #0002;
	transition: opacity 0.2s;
}
.grid_wireframe_line_left:before {
	left: -1px;
	top: 0;
	width: 2px;
	height: 100%;
}
.grid_wireframe_line_top:before {
	left: 0;
	top: -1px;
	width: 100%;
	height: 2px;
}
.grid_wireframe_line_right:after {
	right: -1px;
	top: 0;
	width: 2px;
	height: 100%;
}
.grid_wireframe_line_bottom:after {
	left: 0;
	bottom: -1px;
	width: 100%;
	height: 2px;
}

/* grid end */
