/* css[view] */

.variant_option {
	font-weight: 600;
}

.price_diff {
	font-weight: 400;
	transition: all 0.2s;
}

.price_diff_4 .price_diff {
	display: none;
}

.price_diff_1 {
	.price_diff {
		display: block;
	}

	.price_diff,
	.price_diff_before {
		width: 100%;
		font-size: 0.8em;
	}

	.variant_option.has_price_diff {
		.price_diff {
			height: 1.5em;
		}
		.price_diff_before {
			height: 0;
		}
	}
	.variant_option:not(.has_price_diff) {
		.price_diff,
		.price_diff_before {
			opacity: 0;
			height: 0.75em;
		}
	}
}

.price_diff_2,
.price_diff_3 {
	& .price_diff {
		position: absolute;
		right: -1px;
		top: -1px;
		font-size: 0.8em;
		line-height: 1;
		height: 1.35em;
		background: #e32;
		color: white;
		padding: 2px 3px;
		border-top-right-radius: 4px;
		border-bottom-left-radius: 4px;
		min-width: 20px;
	}

	& .variant_option:not(.has_price_diff) .price_diff {
		opacity: 0;
	}
}

.price_diff_3 .price_diff {
	background: #888;
}

.selected_product_was_price {
	position: relative;
	bottom: 0.2em;
	font-size: 0.8em;
}

.buy_btn {
	background: var(--buynow-clr);
	color: white;
}

.buy_btn .basket_icon {
	filter: invert(1);
	vertical-align: sub;
	width: 1.35em;
}

.vdo {
	& {
		--option-padding: 3px;
		margin-bottom: 20px;
	}
	.checkbox_area {
		margin-top: 6px;
	}
}

.product_offer {
	max-width: 450px;
	padding: 0 10px;
}

@media only screen and (min-width: 850px) {
	.product_wrapper {
		display: flex;
	}
	.product_images {
		width: 47%;
		margin: 32px auto 0;
		position: sticky;
		top: 150px;
	}
	.product_offer {
		width: 40%;
		margin-top: 20px;
	}
	.sticky_product {
		display: none;
	}
}

@media only screen and (max-width: 849px) {
	.product_offer {
		margin: 20px auto;
	}
	.sticky_product {
		& {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			padding: 5px 5px 5px 10px;
			z-index: 600;
			background: #fff;
			border-bottom: 1px solid #ccc;
			box-shadow: 0 2px 9px 0 #0003;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		span {
			font-weight: 600;
			flex-shrink: 1;
		}
		img {
			flex-shrink: 0;
			width: 60px;
			height: 60px;
		}
	}
}
