/* css[view] */

.piep_editor_float_menu {
	position: absolute;
	background: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 2px 5px 0 #0003;
	border-radius: 4px;
	padding: 2px;
	margin-right: -10000px;
	margin-bottom: -10000px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 350;
}
.piep_editor_float_menu > *:not(:last-child) {
	margin-right: 2px;
}

p-option color-picker {
	padding: 0 !important;
	overflow: hidden;
}

.input_icon {
	border: 1px solid #555;
	width: 22px;
	height: 18px;
	border-radius: 3px;
	font-weight: var(--semi_bold);
	font-size: 0.8em;
	line-height: 1;
	padding-right: 10px;
	padding-top: 1px;
}

.font_size_float {
	& {
		background: #fff;
		box-shadow: 0 2px 4px 0 #0004;
		border: 1px solid #aaa;
		padding: 5px;
		border-radius: 4px;
	}
	.value_input {
		width: 100px;
	}
}

.piep_editor_unit_input {
	margin-left: -1px;
}
