/* css[view] */

/****** THIS SHOULD BE GLOBAL ******/
.blc {
	min-width: 0;
	min-height: 0;
}
/****** THIS SHOULD BE GLOBAL ******/

.piep_editor_float_multi_insert {
	& {
		position: absolute;
		z-index: 1200;
	}

	.foreign_insert_btn {
		& {
			pointer-events: none;
		}
		i {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			width: 100%;
			color: var(--focus-clr);
		}
		&.foreign_hover i {
			color: #fff;
		}
	}
	.center_circle {
		fill: #fff7;
	}
	.svg_insert_btn {
		& {
			stroke: var(--focus-clr);
			stroke-width: 2px;
			fill: none;
			cursor: pointer;
			fill: #fff7;
		}
		&:hover {
			fill: var(--focus-clr);
		}
	}
}

.piep_editor_grabbed_block_wrapper {
	& {
		position: absolute;
		z-index: 1300;
		pointer-events: none;
		transform-origin: 0 0;
	}
	&:not(.visible) {
		display: none;
	}
	& .blc {
		opacity: 0.7;
	}
}

.piep_editor_inspector {
	& {
		position: absolute;
		right: 0;
		width: 350px;
		background: #fff;
		padding: 10px;
		border: 1px solid #ccc;
		box-shadow: 0 2px 5px #0002;
		border-radius: 4px;
		top: 20px;
		z-index: 1400;
		transition: transform 0.2s;
	}
	&:not(.open) {
		transform: translateX(100%);
	}
	.tree {
		& {
			max-height: 350px;
			border: 1px solid #ccc;
		}
		.v_node_label {
			& {
				padding: 5px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				flex-shrink: 0;
				//padding-left: calc(13px * var(--level) - 4px);
				padding-left: calc(13px * var(--level) + 8px);
				user-select: none;
				cursor: pointer;
			}
			&:not(.selected):hover {
				background: #eee;
			}
			&.selected {
				background: var(--pretty_blue_background);
				color: var(--pretty_blue);
			}
			&:not(:first-child) {
				border-top: 1px solid #eee;
			}
			.name {
				font-weight: 600;
			}
			.info {
				color: #666;
			}
		}
	}
	&.open {
		.show_inspector_btn {
			opacity: 0;
		}
	}
	.show_inspector_btn {
		position: absolute;
		right: 100%;
		border-right-width: 0;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		top: 100px;
		transition: 0.2s opacity;
		box-shadow: 0 2px 4px 0 #0006;
	}
	.hide_inspector_btn {
		width: 29px;
		margin: 5px 0 5px auto;
	}
}

.piep_editor_float_menu {
	position: absolute;
	background: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 2px 5px 0 #0003;
	border-radius: 4px;
	padding: 2px;
	margin-right: -10000px;
	margin-bottom: -10000px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 350;
}
.piep_editor_float_menu > *:not(:last-child) {
	margin-right: 2px;
}

.piep_editor_float_focus,
.piep_editor_parent_float_focus {
	position: absolute;
	// border: 2px solid var(--primary-clr);
	// box-shadow: 0 1px 4px 0 #0007, inset 0 1px 4px 0 #0007;
	pointer-events: none;
	margin-right: -10000px;
	margin-bottom: -10000px;
	// border-radius: 4px;
}

.piep_editor_parent_float_focus,
.piep_editor_float_focus,
.piep_editor_grabbed_block_wrapper {
	background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%233339' stroke-width='4' stroke-dasharray='2%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.piep_editor_advanced_menu {
	& {
		width: 350px;
		background: #fff;
		border-right: 1px solid #ccc;
		box-shadow: 0 0 5px 0 #0003;
		flex-shrink: 0;
		z-index: 2500;
	}
	.filter_advanced_menu {
		& {
			display: flex;
		}
		.checkbox_area {
			& {
				display: flex;
				align-items: center;
				flex-direction: column;
				flex: 1 1 0;
				transition: all 0.2s;
				padding: 8px 5px;
				color: #666;
			}
			.filter_icon {
				font-size: 20px;
				transition: all 0.2s;
			}
			&:not(.checked) {
				& {
					background: #eee;
					cursor: pointer;
				}
				&:hover {
					background: #fafafa;
					box-shadow: inset 0 -3px 0 0 #eee;
					transition: none;
				}
			}
			&.checked {
				& {
					box-shadow: inset 0 -3px 0 0 var(--primary-clr);
					color: #000;
					cursor: default;
				}
				.filter_icon {
					color: var(--primary-clr);
				}
			}
			& > span {
				font-size: 0.9em;
				display: block;
				margin-top: 5px;
			}
		}
	}
}

.actual_content {
	padding: 0 !important;
	width: 100%;
	height: 100%;
}
.main_admin_scroll {
	overflow: hidden;
}

.navbar_admin,
.footer {
	display: none;
}

.main_admin_scroll {
	background: #eee !important;
}

.piep_editor_content_scroll {
	height: 100%;
}

.piep_editor {
	& {
		position: relative;
		display: flex;
		overflow: hidden;
		width: 100%;
		height: 100%;
	}

	&::before,
	&::after {
		content: "";
		background: #eee;
		position: absolute;
		left: -20px;
		right: -20px;
		height: 20px;
		z-index: 2000;
	}
	&::before {
		top: 0;
	}
	&::after {
		bottom: 0;
	}

	.piep_editor_content_wrapper {
		margin: 20px;
		overflow: hidden;
		border: 1px solid #ccc;
		box-shadow: 0 2px 5px 0 #0003;
	}
	.piep_editor_content {
		& {
			background: #fff;
			white-space: pre-wrap;
			display: flex;
			flex-direction: column;
			box-shadow: 0 2px 5px 0 #0002;
			flex-shrink: 0;
			flex-grow: 1;
		}
		& > * {
			flex-shrink: 0;
		}
		// ::selection {
		// 	color: green;
		// 	background: yellow;
		// }
	}

	.piep_editor_cursor {
		position: absolute;
		background: #000;
		pointer-events: none;
		animation: cursor_blink 1s infinite;
		//box-shadow: 0 0 0 1px #7775;
	}

	&.has_insert_pos .insert_blc:not(:hover) {
		opacity: 0.3;
	}

	.insert_blc {
		& {
			--insert_blc_clr: var(--focus-clr);
			position: absolute;
			width: 24px;
			height: 24px;
			background: #fff7;
			border-radius: 4px;
			transform: translate(-50%, -50%);
			cursor: pointer;
			z-index: 1100;
			display: flex;
			align-items: center;
			justify-content: center;
			color: var(--insert_blc_clr);
			border: 2px solid var(--insert_blc_clr);
			font-weight: 700;
			box-shadow: 0 1px 3px 0 #0004;
		}
		&.multiple {
			font-size: 1.1em;
			--insert_blc_clr: var(--important-clr);
		}
		&:hover {
			color: #fff;
			background: var(--insert_blc_clr);
			box-shadow: 0 1px 3px 0 #0006;
		}
	}

	&.grabbed_block {
		&:not(.has_insert_pos) .piep_editor_content {
			opacity: 0.7;
		}
		& .piep_editor_inspector {
			display: none !important;
		}
	}
}

@keyframes cursor_blink {
	0%,
	20%,
	80%,
	100% {
		background: #000;
		//box-shadow: 0 0 1px 1px transparent;
		//box-shadow: 0 0 1px 1px #fff5;
	}
	50% {
		background: #fff;
		//box-shadow: 0 0 1px 1px #fff;
		//box-shadow: 0 0 1px 1px #0005;
	}
}

.color_circle {
	border-radius: 8px;
	width: 16px;
	height: 16px;
	box-shadow: inset 0 0 0 1px #0004;
}

p-option color-picker {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0;
}
