/* css[view] */

// [contenteditable] {
// 	background: #0001;
// }

.piep_editor_inspector {
	& {
		position: absolute;
		right: 0;
		width: 350px;
		background: #fff;
		padding: 10px;
		border: 1px solid #ccc;
		box-shadow: 0 2px 5px #0002;
		border-radius: 4px;
		height: 500px;
		top: 0;
	}
	.tree {
		& {
			max-height: 350px;
			border: 1px solid #ccc;
		}
		.v_node_label {
			& {
				padding: 5px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				flex-shrink: 0;
				//padding-left: calc(13px * var(--level) - 4px);
				padding-left: calc(13px * var(--level) + 8px);
				user-select: none;
				cursor: pointer;
			}
			&:not(.selected):hover {
				background: #eee;
			}
			&.selected {
				background: var(--pretty_blue_background);
				color: var(--pretty_blue);
			}
			&:not(:first-child) {
				border-top: 1px solid #eee;
			}
			.name {
				font-weight: 600;
			}
			.info {
				color: #666;
			}
		}
	}
}

.piep_editor_float_menu {
	position: absolute;
	background: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 2px 5px 0 #0003;
	border-radius: 4px;
	// padding: 0 4px;
	padding: 2px;
	margin-right: -10000px;
	margin-bottom: -10000px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.piep_editor_float_menu > *:not(:last-child) {
	margin-right: 2px;
}

.piep_editor_float_focus {
	position: absolute;
	border: 2px solid var(--primary-clr);
	box-shadow: 0 0 1px 0 #fff4, inset 0 0 1px 0 #fff4;
	pointer-events: none;
	margin-right: -10000px;
	margin-bottom: -10000px;
	border-radius: 4px;
}

.piep_editor_advanced_menu {
	width: 350px;
	background: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 2px 5px 0 #0003;
	border-radius: 4px;
	padding: 10px;

	margin-top: 30px;
}

.navbar_admin,
.footer {
	display: none;
}

.piep_editor {
	& {
		position: relative;
	}

	.piep_editor_content {
		& {
			background: #fff;
			white-space: pre-wrap;
			max-width: 600px;
		}
		// ::selection {
		// 	color: green;
		// 	background: yellow;
		// }
	}

	.piep_editor_cursor {
		position: absolute;
		background: #000;
		pointer-events: none;
		animation: cursor_blink 1s infinite;
		//box-shadow: 0 0 0 1px #7775;
	}

	.grabbed_block {
		position: absolute;
		opacity: 0.5;
		z-index: 350;
		pointer-events: none;
	}

	.insert_blc {
		& {
			--insert_blc_clr: var(--focus-clr);
			position: absolute;
			width: 24px;
			height: 24px;
			background: #fff7;
			border-radius: 4px;
			transform: translate(-50%, -50%);
			cursor: pointer;
			z-index: 300;
			display: flex;
			align-items: center;
			justify-content: center;
			color: var(--insert_blc_clr);
			border: 2px solid var(--insert_blc_clr);
			font-weight: 700;
			box-shadow: 0 1px 3px 0 #0004;
		}
		&.multiple {
			font-size: 1.1em;
			--insert_blc_clr: var(--important-clr);
		}
		&:hover {
			color: #fff;
			background: var(--insert_blc_clr);
			box-shadow: 0 1px 3px 0 #0006;
		}
	}
}

@keyframes cursor_blink {
	0%,
	20%,
	80%,
	100% {
		background: #000;
		//box-shadow: 0 0 1px 1px transparent;
		//box-shadow: 0 0 1px 1px #fff5;
	}
	50% {
		background: #fff;
		//box-shadow: 0 0 1px 1px #fff;
		//box-shadow: 0 0 1px 1px #0005;
	}
}

.color_circle {
	border-radius: 8px;
	width: 16px;
	height: 16px;
	box-shadow: inset 0 0 0 1px #0004;
}

p-option color-picker {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0;
}
