/* css[view] */

deliveries-config-comp.main {
	& {
		max-width: 750px;
	}

	deliveries-config_carrier-comp {
		.node_list_delete_btn {
			display: none;
		}
	}

	.clickable_label {
		& {
			cursor: pointer;
		}
		&:hover {
			text-decoration: underline;
		}
	}

	.fa-chevron-right {
		& {
			transition: all 0.2s;
		}
		&.open {
			transform: rotate(90deg);
		}
	}

	.label.medium.bold {
		--form_spacing_factor: 1.5;
	}
}
