/* css[view] */

deliveries-config-comp.main {
	& {
		max-width: 900px;
	}

	.inactive {
		filter: contrast(0.82);
		opacity: 0.7;
	}
	datatable-comp .inactive {
		background: #fff;
		filter: contrast(0.82);
		opacity: 0.7;
	}

	deliveries-config_carrier-comp {
		.header .node_list_delete_btn {
			display: none;
		}
	}

	.clickable_label {
		& {
			cursor: pointer;
		}
		&:hover {
			text-decoration: underline;
		}
	}

	.fa-chevron-right {
		& {
			transition: all 0.2s;
		}
		&.open {
			transform: rotate(90deg);
		}
	}

	.label.medium.bold {
		--form_spacing_factor: 1.5;
	}
}
