/* css[view] */

deliveries-config-comp.main {
	list-comp {
		max-width: 750px;
	}

	.clickable_label {
		& {
			cursor: pointer;
		}
		&:hover {
			text-decoration: underline;
		}
	}

	.fa-chevron-right {
		& {
			transition: all 0.2s;
		}
		&.open {
			transform: rotate(90deg);
		}
	}
}
