/* css[global] */

:root {
  --checkbox-height: 2em;
  --checkbox-width: 4.5em;
}

checkbox {
  width: var(--checkbox-width) !important;
  height: var(--checkbox-height);
  border: 1px solid #ccc;
  border-radius: var(--checkbox-height);
  position: relative;
  overflow: hidden;
  border: none;
  cursor: pointer;
}

checkbox::before {
  content: "";
  width: var(--checkbox-width);
  height: var(--checkbox-height);
  border: 1px solid #bbb;
  box-shadow: inset 0px 0px 2px 0px #ccc;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: var(--checkbox-height);
  background: #0001;
}

checkbox .circle {
  width: var(--checkbox-height);
  height: var(--checkbox-height);
  border-radius: var(--checkbox-height);
  background: #f7f7f7;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: inset 0 0 3px 0 #0007;
  transition: 0.2s all;
}

checkbox:hover .circle {
  filter: brightness(1.02);
}

checkbox.checked:hover .circle {
  filter: brightness(1.13);
}

checkbox .circle::before {
  content: "";
  background: transparent;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.3;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  box-shadow: calc(-50px - 0.5 * var(--checkbox-height)) 0 0 50px
    var(--success-clr);
}

checkbox.checked .circle {
  background: var(--success-clr);
  left: calc(var(--checkbox-width) - var(--checkbox-height));
}

checkbox .fa-check,
checkbox .fa-minus {
  position: absolute;
  opacity: 1;
  transition: 0.2s all;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
checkbox .fa-check {
  color: white;
}
checkbox .fa-minus {
  color: #999;
}

checkbox:not(.checked) .fa-check,
checkbox.checked .fa-minus {
  opacity: 0;
  pointer-events: none;
}
