/* css[view] */

product-comp {
	datatable-comp .dt_cell:not(:first-child):not(:nth-child(4)) {
		min-width: 150px;
	}

	.variant_header,
	.option_header {
		display: flex;
		align-items: center;
	}

	.variant_header {
		margin-bottom: 10px;
	}

	.bind_features {
		& {
			--list_row_margin: 10px 0 0;
			--list_border: unset;
		}
		& > .list_row {
			& {
				background: #f6f6f6;
			}
		}
	}
	.bind_options {
		&,
		& > .list_row {
			background: #fff;
		}
		& {
			margin-top: 5px;
		}
	}
}

manage-product-list-modal-comp {
	.bind_questions .list_row .option {
		& {
			margin-top: 10px;
		}
		p-checkbox {
			margin-right: 3px;
		}
	}
}

product-feature-modal-comp .group_nav {
	font-weight: 600;
	margin-right: -1px;
}
