/* css[view] */

product-comp {
	/*& {
		max-width: 700px;
	}*/

	.variants,
	.options {
		.list_row {
			& {
				padding: 10px;
			}
			&:not(:first-child) {
				border-top: 1px solid #ccc;
			}
		}
	}

	list-comp:empty {
		border-width: 0;
	}

	.variant_header,
	.option_header {
		display: flex;
		align-items: center;
	}

	.variant_header {
		padding-bottom: 10px;
	}

	.variant_header,
	.option_header {
		.title {
			margin-right: auto;
		}
	}

	.variants {
		background: #fafafa;
		border: 1px solid #ccc;
		margin-top: 5px;
		border-radius: 4px;
	}
	.options {
		background: #fff;
		border: 1px solid #ccc;
		margin-top: 5px;
		border-radius: 4px;
	}
}

product-feature-option-comp {
	& {
		padding: 5px;
		border: 1px solid #ccc;
	}
	product-feature-option-comp {
		margin-left: 30px;
	}
	& > list-comp:not(:empty) {
		margin-top: 5px;
	}
}

select-product-features-modal-comp.comp,
product-feature-modal-comp.comp {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: 100%;
	width: 100%;
}
