/* css[admin] */

body {
  height: 100%;
}

.main-container {
  flex-grow: 1;
  display: flex;
  height: 100%;
}

.home {
  display: block;
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
header .logo-wrapper img {
  display: inline-block;
}

.navbar_admin {
  flex-grow: 0;
  flex-shrink: 0;
  width: 220px;
  border-right: 1px solid #ccc;
  box-shadow: 0 3px 10px -3px rgba(0, 0, 0, 0.19);
  background: #f8f8f8;
  color: #444;
}

footer {
  display: none;
}
.footer {
  background: #222;
  color: #eee;
  padding: 10px;
  text-align: center;
  margin-top: auto;
}

.content {
  flex-shrink: 1;
  flex-grow: 1;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #fcfcfc;
}

.main-wrapper {
  width: 100%;
}

.menu_item.current {
  background: #0001;
}

h1 {
  font-weight: bold;
  margin: 40px 0 20px;
  font-size: 24px;
}
.main-wrapper {
  display: flex;
}
@media only screen and (max-width: 799px) {
  .navbar_admin {
    width: 100%;
  }
  .content {
    height: auto;
  }
  .main-wrapper {
    flex-direction: column;
  }
}

.sub_menu {
  padding-left: 1em;
  background: #00000008;
  margin: -1px 0;
}

.navbar_admin .menu_item a {
  display: block;
  width: 100%;
  padding: 4px 9px;
}
.navbar_admin .menu_item {
  display: block;
  margin: 1px 0;
  display: block;
  font-size: 15px;
  cursor: default;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  transition: all 0.1s;
}

.navbar_admin .menu_item .expand_arrow {
  align-self: center;
  width: 32px;
  height: 32px;
}
.navbar_admin .menu_item .expand_arrow:hover {
  background: #fff5;
}

.navbar_admin .menu_item.current-route,
.navbar_admin .menu_item:hover {
  background: #ddd;
  color: black;
}

.navbar_admin .menu_item .fas {
  width: 1.2em;
  text-align: center;
}
