/* css[global] */

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 150;
}

.custom-toolbar {
  display: flex;
  padding: 5px;
  align-items: center;
  background: var(--primary-clr);
  color: white;
  flex-wrap: wrap;
  flex-shrink: 0;
  top: 0;
  z-index: 150;
}

.custom-toolbar .title {
  margin-right: auto;
  display: block;
  padding: 2px 5px;
  font-weight: bold;
}

.custom-toolbar > *:not(.title) {
  margin-left: 5px;
}

.custom-toolbar .btn.secondary {
  color: white;
  border-color: white;
  background: transparent;
}

.custom-toolbar .btn.secondary:not(:disabled):hover {
  background: #fff2;
}

.custom-toolbar .btn.primary {
  background: #fafafa;
  color: #125;
  font-weight: 600;
  border-color: #999;
  box-shadow: none;
}
