/* css[global] */

.sticky-top {
	position: sticky;
	top: 0;
	z-index: 150;
}

.custom-toolbar {
	display: flex;
	padding: 5px;
	align-items: center;
	flex-wrap: wrap;
	flex-shrink: 0;
	top: 0;
	z-index: 150;
	border-bottom: 1px solid #ccc;
}

.custom-toolbar .title {
	margin-right: auto;
	display: block;
	padding: 2px 5px;
	font-weight: bold;
	font-size: 1.3em;
}

.custom-toolbar > *:not(.title) {
	margin-left: 5px;
}
