/* css[admin] */

:root {
  --primary-clr: #6d3 !important;
  --subtle-font-clr: #333 !important;
  --subtle-background-clr: #ececec !important;
  --important-clr: #34e !important;
  --red-clr: #e22 !important;
}
