/* css[global] */

.product-block {
  width: 100%;
  padding: 8%;
}

.product-block a {
  display: block;
}

.product-block:hover h3 {
  text-decoration: underline;
}

.product-title {
  font-size: 1em;
  font-weight: 400;
  margin: 0.4em 0 0.2em;
  overflow: hidden;
  display: -webkit-box;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  line-height: 1.5;
  height: 3em;
}

.product-block .buynow {
  background: var(--buynow-clr);
  color: white;
  padding: 6px 8px;
  text-align: center;
  width: 120px;
  border-radius: 4px;
  margin: 10px auto 0;
  display: block;
}

.product-image {
  width: 100%;
  object-fit: contain;
  display: block;
}

@media only screen and (min-width: 1200px) {
  .product-block {
    font-size: 1.1em;
  }
}

/* grid */
.grid {
  display: flex;
  flex-wrap: wrap;
}

/* slider */
.slider .swiper-slide > .product img {
  width: 100%;
}

.product_list_module .swiper-nav {
  background: var(--primary-clr);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.22);
  border: 2px solid #0002;
  border-top-width: 0;
}

.product_list_module .swiper-button-prev {
  padding-right: 5px;
}
.product_list_module .swiper-button-next {
  padding-left: 5px;
}

.product_list_module .swiper-nav i {
  text-shadow: none;
  opacity: 0.9;
}

.product_list_module .swiper-nav:hover {
  filter: brightness(1.15);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.42);
}
.product_list_module .swiper-nav:active {
  filter: brightness(1);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.42);
}

.product_list_module .swiper-button-prev:active i {
  margin-right: 3px;
}
.product_list_module .swiper-button-next:active i {
  margin-right: -3px;
}

@media only screen and (min-width: 1650px) {
  .cms-container:not(.desktop-full-width)
    .product_list_module
    .swiper-button-prev {
    left: -55px !important;
  }
  .cms-container:not(.desktop-full-width)
    .product_list_module
    .swiper-button-next {
    right: -55px !important;
  }
}

@media only screen and (max-width: 1000px) {
  .product_list_module .swiper-nav {
    display: none;
  }
}
