/* css[global] */

.product-block {
	width: 100%;
	padding: 4% 8%;
	-webkit-user-select: none !important;
	user-select: none !important;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	position: relative;
}

.product-block a {
	display: block;
}

.product-block a:hover .product-title,
.product-block a:hover .product-title * {
	text-decoration: underline;
}

.product-title {
	margin: 0.4em 0 0.2em;
	font-size: 1em;
	font-weight: 600;
	height: 3em;
	position: relative;
}

.product-title span {
	overflow: hidden;
	display: -webkit-box;
	-moz-box-orient: vertical;
	-webkit-box-orient: vertical;
	box-orient: vertical;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	line-height: 1.5;
	height: 3em;
	position: absolute;
	bottom: 0;
	left: 0;
}

.product-title span.require-tooltip:hover {
	overflow: unset;
	display: block;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.18);
	z-index: 10;
	height: auto;
	background: white;
	padding: 3px 5px;
	margin: 0 -5px;
	border-radius: 4px;
}

.product-block .buynow {
	background: var(--buynow-clr);
	color: white;
	padding: 6px 8px;
	text-align: center;
	width: 120px;
	border-radius: 4px;
	margin: 10px auto 0;
	display: block;
}

.product-image {
	width: 100%;
	object-fit: contain;
	display: block !important;
}

@media only screen and (min-width: 1200px) {
	.product_list_module .product-block,
	.item-list {
		font-size: 1.1em;
	}
}

/* grid */
.product_list_module.grid {
	display: flex;
	flex-wrap: wrap;
}

.product-row {
	display: inline-flex;
	flex-wrap: wrap;
	width: 100%;
}

/* product actions */

.product-row {
	margin: 2px 0;
}
.product-actions {
	display: inline-block;
	margin-left: auto;
	opacity: 0;
	transition: 0.2s opacity;
	margin-bottom: -10px;
}
.product-block:hover .product-actions {
	opacity: 1;
}
.product-actions .basket-icon {
	width: 1.4em;
	margin: 0 0;
}
.product-actions .heart-icon {
	width: 1.3em;
	margin: 0.1em 0;
}

.product-actions .btn-wrapper {
	position: relative;
	display: inline-block;
	cursor: pointer;
	width: 1.4em;
	height: 1.4em;
}

.product-actions .btn-wrapper .below,
.product-actions .btn-wrapper .over {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 0.2s all;
	display: block;
}

.product-actions .btn-wrapper .over {
	opacity: 0;
	filter: drop-shadow(0 2px 1px #0003);
}

.product-actions .btn-wrapper:hover .over {
	opacity: 1;
}
.product-actions .btn-wrapper:hover .below {
	opacity: 0;
}

.product-actions .btn-wrapper:hover > * {
	transform: translate(-50%, -55%);
}
