/* css[global] */

:root {
	--form_spacing_factor: 1;
}

.label {
	&:not(.first) {
		margin-top: calc(var(--form_spacing_factor) * var(--form_spacing));
	}
	& {
		margin-bottom: calc((var(--form_spacing_factor) - 0.75) * 0.8em);
		user-select: none;
		-webkit-user-select: none;
		font-weight: var(--semi_bold);
		display: block;
	}

	&.semi_medium {
		--form_spacing_factor: 1.15;
	}
	&.medium {
		--form_spacing_factor: 1.3;
	}
	&.big {
		--form_spacing_factor: 1.6;
	}
}

label {
	cursor: pointer;
}

.form_columns {
	& {
		display: flex;
		margin-left: -10px;
	}
}

.form_column {
	& {
		flex-grow: 1;
		flex-shrink: 1;
		margin-left: 10px;
	}
}

.optional_label {
	& {
		font-size: 0.9em;
		color: #555;
	}
	&::before {
		content: "(Pole opcjonalne)";
	}
}

.has_correctness {
	padding-right: 35px;
}

.pretty_errors {
	&:not(.correct) .input_correctness .fa-check,
	&:not(.wrong) .input_correctness .fa-times {
		opacity: 0;
	}
}

.input_errors {
	color: var(--error-clr);
	font-weight: var(--semi_bold);
}

.pretty_errors .input_errors_wrapper {
	transition: padding 0.2s;
}

.pretty_errors.wrong .input_errors_wrapper {
	padding-top: 5px;
}

.input_correctness {
	& {
		position: relative;
		height: 0;
		--top_offset: -19px;
		transform: translateY(var(--top_offset));
		pointer-events: none;
	}
	.fas {
		position: absolute;
		right: 20px;
		transform: translate(50%, -50%);
		transition: all 0.2s;
	}
	.fa-check {
		color: var(--success-clr);
	}
	.fa-times {
		color: var(--error-clr);
	}
}

.field_desc {
	flex-shrink: 0;
	max-width: 50%;
	background: #eee;
	display: flex;
	align-items: center;
	padding: 0 7px;
	border: 1px solid #ccc;
	color: #555;
	border-radius: 4px;
	margin: 0 -2px;
	font-weight: var(--semi_bold);
}
