/* css[global] */

.simple-list[data-count="0"].required > .add_btn.add_begin {
	background: var(--error-clr);
}

img.required {
	box-shadow: 0px 0px 0px 2px var(--error-clr);
}

.field-error {
	opacity: 0;
	pointer-events: none;
	transition: 0.3s opacity;
}
.field-error.field-error-visible {
	opacity: 1;
	pointer-events: all;
}

.form-space {
	height: 0.6em;
}

.warn-outline-active,
.simple-list-field-error {
	border-color: var(--error-clr);
	box-shadow: 0 0 0 1px var(--error-clr) inset !important;
}

.field_desc {
	flex-shrink: 0;
	max-width: 50%;
	background: #eee;
	display: flex;
	align-items: center;
	padding: 0 7px;
	border: 1px solid #ccc;
	color: #555;
	border-radius: 4px;
	margin: 0 -2px;
}
