/* css[global] */

:root {
	--form_spacing_factor: 1;
}

.label {
	&:not(.first) {
		margin-top: calc(var(--form_spacing_factor) * var(--form_spacing));
	}
	& {
		margin-bottom: calc((var(--form_spacing_factor) - 0.75) * 0.8em);
		user-select: none;
		-webkit-user-select: none;
		font-weight: 600;
		display: block;
	}

	&.medium {
		--form_spacing_factor: 1.3;
	}
	&.big {
		--form_spacing_factor: 1.6;
	}
}

label {
	cursor: pointer;
}

.form_columns {
	& {
		display: flex;
	}
}

.form_column {
	& {
		flex-grow: 1;
		flex-shrink: 1;
	}
	&:not(.first) {
		margin-left: var(--form_spacing);
	}
}

.space_top {
	margin-top: var(--form_spacing);
}
.space_bottom {
	margin-bottom: var(--form_spacing);
}
.space_right {
	margin-right: var(--form_spacing);
}
.space_left {
	margin-left: var(--form_spacing);
}

.optional_label {
	& {
		font-size: 0.9em;
		color: #555;
	}
	&::before {
		content: "(opcjonalne)";
	}
}

.space_btn_left {
	margin-left: 6px;
}
