/* css[global] */

.info_hover {
	& {
		background: #5ac;
		color: #fff;
		height: 1.5em;
		width: 1.5em;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		border-radius: 100px;
		cursor: help;
		box-shadow: inset 0 0 0 1px #0003;
		font-weight: var(--bold);
		vertical-align: middle;
		transform: translateY(-2px);
	}
	svg {
		width: 0.4em;
		filter: invert(1);
	}
}
