/* css[global] */

datatable-comp.comp {
	& {
		border: 1px solid #ccc;
	}
	.table_header,
	.dt_row {
		display: flex;
	}
	.dt_cell {
		padding: 6px 8px;
	}
	.table_body .dt_cell {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.dt_row {
		transition: 0.25s background-color;
	}
	.dt_row.even {
		background: #f3f3f3;
	}
}
