/* css[global] */

datatable-comp {
	.table_body,
	.table_header {
		border: 1px solid #ccc;
	}
	.table_body {
		border-top-width: 0;
		overflow: hidden;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}
	.table_header,
	.dt_row {
		display: flex;
	}
	.dt_cell {
		padding: 6px 8px;
		flex-grow: 1;
	}
	.dt_cell:not(:last-child) {
		border-right: 1px solid #0001;
	}
	&.searching .table_body {
		filter: contrast(0.9);
	}
	.table_body .dt_cell {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.dt_row {
		transition: 0.25s background-color;
		background: #fff;
	}
	.dt_row.even {
		background: #f3f3f3;
	}
	.dt_header_controls {
		display: inline-block;
		/*margin: -2px 0;*/
	}
	.table_header .dt_cell .label {
		margin: 4px 0;
		display: inline-block;
	}
	.table_header .dt_cell > * {
		vertical-align: middle;
	}
	.table_header {
		box-shadow: 0 2px 2px 0 #0001;
		position: relative;
		background: #fff;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		z-index: 200;
	}
	.dt_header_controls > .btn {
		width: 28px;
		height: 28px;
		padding: 0;
	}
	.datatable_label {
		font-weight: 600;
		font-size: 1.3em;
	}
	.pagination {
		margin-top: 10px;
	}
	.empty_table {
		padding: 5px;
		text-align: center;
		background: #fff7;
		border: 1px solid #ccc;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		color: #555;
		border-top-width: 0;
	}
}
