/* css[global] */

list-comp.animating {
	overflow: hidden;
}
list-comp > .list_row {
	flex-shrink: 0;
}
list-comp:not(.horizontal) .list_row.cramp_row {
	height: 0 !important;
}
list-comp.horizontal .list_row.cramp_row {
	width: 0 !important;
}

.list_row {
	&.cramp_row {
		padding: 0 !important;
		border-width: 0 !important;
		margin: 0 !important;
		min-width: 0 !important;
		min-height: 0 !important;
	}
	&.removing {
		pointer-events: none;
	}
}

list-comp.comp {
	display: flex;
}

list-comp:not(.horizontal) {
	flex-direction: column;
}
