/* css[global] */

list-comp.horizontal {
	display: flex;
}

pagination-comp.comp {
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

pagination-comp .splitter {
	background: none;
	pointer-events: none;
	padding-left: 7px;
	padding-right: 7px;
}

pagination-comp list-comp {
	background: #eee;
}
pagination-btn-comp .btn.transparent {
	--btn-border-clr: #ddd;
	margin-right: -1px;
}

pagination-comp list-comp {
	& > *:not(:last-child) .btn {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	& > *:not(:first-child) .btn {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}

pagination-comp .pages {
	margin-right: auto;
}

@media only screen and (max-width: 799px) {
	pagination-comp .pages {
		display: none;
	}
}
