/* css[global] */

pagination-comp {
	&.comp {
		margin-top: 10px;
		display: flex;
		justify-content: center;
	}

	.arrows .btn {
		--btn-border-clr: #ddd;
		margin-right: -1px;
	}
	.arrows .btn:disabled {
		opacity: 0.4;
	}

	.arrows {
		background: #eee;
		margin-left: 10px;
	}

	.arrows select {
		background: #fff;
		padding-right: 0.42em;
		height: 100%;
		border-radius: 0;
	}

	.pages {
		margin-right: auto;
	}

	@media only screen and (max-width: 799px) {
		.pages {
			display: none;
		}
	}

	.select_overlay {
		position: absolute;
		left: 2px;
		top: 2px;
		right: 2px;
		bottom: 2px;
		background: white;
		pointer-events: none;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 600;
	}
}
