/* css[global] */

pagination-comp.comp {
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

pagination-comp .splitter {
	background: none;
	pointer-events: none;
	padding-left: 7px;
	padding-right: 7px;
}

pagination-comp list-comp {
	background: #eee;
}
pagination-comp .btn.subtle,
pagination-comp .arrows .btn {
	--btn-border-clr: #ddd;
	margin-right: -1px;
}

pagination-comp .arrows {
	background: #eee;
	margin-left: 10px;
}

pagination-comp .arrows select {
	background: #fff;
	padding-right: 0.42em;
}

pagination-comp list-comp {
	& > *:not(:last-child) .btn {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	& > *:not(:first-child) .btn {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}

pagination-comp .pages {
	margin-right: auto;
}

@media only screen and (max-width: 799px) {
	pagination-comp .pages {
		display: none;
	}
}

.select_overlay {
	position: absolute;
	left: 2px;
	top: 2px;
	right: 2px;
	bottom: 2px;
	background: white;
	pointer-events: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
