/* css[view] */

.my_component {
	border: 1px solid #ccc;
	padding: 10px;
}

.my_list {
	border: 1px solid #ccc;
	padding: 10px;
	width: 100%;
}

.my_list_row {
	border: 1px solid #ccc;
	padding: 10px;
}

.type_something {
	border-color: red !important;
}

.even {
	width: 300px;
}
