/* css[admin] */

file-manager-comp {
	.node_files_grid {
		& {
			display: flex;
			flex-flow: row wrap;
			margin: -5px;
		}
		.file_wrapper {
			& {
				width: calc(50% - 10px);
				margin: 5px;
				border: 1px solid #ddd;
				background: #fff;
				cursor: pointer;
				border-radius: 4px;
				box-shadow: 0 2px 4px 0 #0001;
				overflow: hidden;
				position: relative;
				background: #eee;
			}
			.file_controls {
				& {
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					transition: 0.15s all;
					opacity: 1;
					background: #fff;
					border-top: 1px solid #ddd;
					padding: 4px;
					display: flex;
					justify-content: center;
				}
				.btn:not(:first-child) {
					margin-left: -1px;
				}
			}
			&:not(:hover) .file_controls {
				transform: translateY(100%);
				opacity: 0;
			}
			@media (min-width: 1000px) {
				& {
					width: calc(25% - 10px);
				}
			}
			@media (min-width: 1400px) {
				& {
					width: calc(16.666% - 10px);
				}
			}
		}
	}

	&:not(.selectable) .select_btn {
		display: none;
	}
}

.drop_files {
	& {
		text-align: center;
		background-color: #eef;
		border-radius: 4px;
		font-weight: var(--semi_bold);
		background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%237578FFFF' stroke-width='4' stroke-dasharray='4%2c 8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: column;
		width: min(600px, 75vw);
		height: min(400px, 50vw);
		font-size: 1.2em;
	}
	&.active {
		background-color: #ddf;
	}
	input {
		display: none;
	}
	&:not(.active) .dropitbro {
		opacity: 0;
	}
	.dropitbro {
		transition: opacity 0.2s;
		position: absolute;
		left: 0;
		top: 0;
		background: #ccf;
		right: 0;
		bottom: 0;
		justify-content: center;
		align-items: center;
		display: flex;
		border-radius: inherit;
		font-size: 1.1em;
		pointer-events: none;
	}

	&:not(.uploading) .upload {
		opacity: 0;
	}
	.upload {
		transition: opacity 0.2s;
		position: absolute;
		left: 0;
		top: 0;
		background: #ccf;
		right: 0;
		bottom: 0;
		border-radius: inherit;
		pointer-events: none;
	}
}
