/* css[admin] */

page-seo-data-comp.comp {
	.bind_seo_title,
	.bind_seo_description {
		font-family: arial, sans-serif !important;
		box-sizing: content-box;
		width: 600px;
		padding: 4px 8px;
		line-height: 1.58;
	}
	.bind_seo_description {
		height: 44px;
		font-size: 14px;
		resize: none;
		padding: 4px 8px;
	}
	.bind_seo_title {
		font-size: 20px;
	}
	.is_ok > * {
		padding: 5px;
	}
}
