/* css[admin] */

product-comp {
	.variant_header,
	product_feature-option-comp.comp,
	product_variant-option-comp.comp {
		display: flex;
		align-items: center;
	}

	.variant_header {
		margin-bottom: 10px;
	}

	.bind_options {
		margin-top: 5px;
	}

	.node_selected_options {
		margin-left: 10px;
	}

	textarea {
		overflow: hidden;
	}

	.common_variant {
		height: 0px;
		overflow: hidden;
		padding: 0px;
		border: none;
		margin: 0px;
	}

	.select_options_wrapper {
		& {
			position: relative;
			width: 28px;
			display: inline-block;
		}
		& .btn {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			pointer-events: none;
		}
		&:hover .btn {
			filter: brightness(var(--brighten-factor));
		}
	}
	& product_img-comp.comp {
		& {
			display: flex;
			align-items: center;
		}
	}

	.case_has_page {
		& {
			display: inline-block;
		}
		&.inactive {
			& {
				opacity: 0.4;
				cursor: not-allowed;
			}
			* {
				pointer-events: none;
			}
		}
	}

	.bind_product_list_view {
		& {
			--box-padding: 7px 10px;
		}
		i {
			font-size: 1.2em;
			transform: translateY(1px);
		}
	}

	.node_all_products {
		// @media (min-width: 1000px) {
		// 	margin-top: -35px;
		// }

		.list_row.inactive {
			filter: contrast(0.82);
			opacity: 0.7;
		}
	}

	.node_products_dt_wrapper.missing_products {
		& {
			filter: ontrast(0.82);
			opacity: 0.7;
		}
		* {
			pointer-events: none;
		}
	}

	.sticky_subheader {
		& {
			transition: 0.2s all;
			position: sticky;
			top: -1px;
			background: #fff;
			padding: 8px 15px;
			margin: 0 -15px;
			z-index: 1200;
			width: 100vw;
			border-bottom: 1px solid transparent;
		}
		&.sticking {
			border-color: #ccc;
			box-shadow: 0 0 8px 0 #0002;
		}
	}

	.bind_images > .list_row {
		background: #fafafa;
	}

	// body.no_touch & product_variant-comp:not(:hover) {
	// 	.btn {
	// 		opacity: 0.2;
	// 	}
	// 	.node_select_options {
	// 		opacity: 0;
	// 	}
	// 	.field {
	// 		background-color: transparent;
	// 		border-color: transparent;
	// 	}
	// }

	@media (min-width: 1199px) {
		.node_dt_descriptions {
			max-width: calc(100% - 400px);
			margin-bottom: 0 !important;
		}
		.node_products_dt {
			margin-top: -2.5em;
		}
	}
}

.injectable_header {
	.node_history {
		display: inline-block;
	}
}

product_feature-option-comp.comp {
	.node_save_btn,
	.node_cancel_btn {
		margin-left: 4px;
	}
}
