/* css[admin] */

product-modal-comp {
	.disabled_container {
		background: #eee;
		pointer-events: none;
		border-radius: 4px;
	}
	.striped_container {
		border-radius: 4px;
		background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%2300000057' stroke-width='4' stroke-dasharray='2%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
	}
}
