/* css[admin] */

product-comp {
	.variant_header,
	.option_header {
		display: flex;
		align-items: center;
	}

	.variant_header {
		margin-bottom: 10px;
	}

	.bind_features {
		& {
			--list_row_margin: 0 0 10px;
			--list_row_margin_bottom_last: 0;
		}
		&:not(:empty) {
			--list_border: 1px solid transparent;
		}
		& > .list_row {
			background: #f6f6f6;
			border-radius: var(--border_radius);
		}
	}
	.bind_options {
		&,
		& {
			margin-top: 5px;
		}
	}

	& product_image-comp.comp {
		& {
			display: flex;
			align-items: center;
		}
		.select_image_options_wrapper {
			& {
				position: relative;
				min-width: 140px;
			}
			& .btn {
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				width: 100%;
				pointer-events: none;
			}
			&:hover .btn {
				filter: brightness(var(--brighten-factor));
			}
		}
		.node_selected_options:not(:empty) {
			margin-top: 5px;
		}
	}
}

.injectable_header {
	.node_history {
		display: inline-block;
	}
}
