/* css[admin] */

selectable-comp.comp {
	&:not([data-selection="0"]) {
		.node_input {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
	&[data-selection="0"] {
		.node_selection {
			display: none;
		}
	}

	.suggestion,
	.case_empty {
		padding: 4px var(--field_padding_hor);
	}
	.node_suggestions {
		& {
			position: absolute;
			left: 0;
			right: 0;
			top: 100%;
			box-shadow: 0 2px 5px 0 #0002;
			border: 1px solid #ccc;
			border-top-width: 0;
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
			background: #fff;
			z-index: 500;
			max-height: 200px;
			overflow-y: auto;
		}
		.suggestion {
			& {
				padding: 4px var(--field_padding_hor);
				cursor: pointer;
				position: relative;
			}
			&.selected {
				background: #f5f5f5;
				box-shadow: 0 0 0 1px #0002;
				z-index: 19;
			}
			.fa-plus {
				position: absolute;
				right: 5px;
				top: 50%;
				transform: translateY(-50%);
				color: var(--clr_primary);
				font-size: 0.9em;
			}
			&:not(.selected) .fa-plus {
				visibility: hidden;
			}
		}
		&:not(.visible) {
			display: none;
		}
	}
	.node_selection {
		& {
			border: 1px solid #ccc;
			border-top-width: 0;
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
		}
		.selection {
			padding: 4px 4px 4px var(--field_padding_hor);
		}
		.btn {
			color: #555;
			margin: -4px;
		}
	}
}
