/* css[global] */

:root {
	--box_margin: 6px;
}

.boxes {
	& {
		display: flex;
		flex-flow: row wrap;
		margin-right: calc(var(--box_margin) * -1);
		margin-top: calc(var(--box_margin) * -1);
		--box-width: auto;
		--box-padding: 10px;
	}
	&.big_boxes {
		--box_height: 0;
		--box_height: 80px;
	}
	&.small_boxes {
		--box-padding: 6px 10px;
	}
	> * {
		& {
			position: relative;
			padding: var(--box-padding);
			display: flex;
			flex-wrap: wrap;
			min-height: var(--box_height);
			text-align: center;
			align-items: center;
			justify-content: center;
			margin-right: var(--box_margin);
			margin-top: var(--box_margin);
			transition: all 0.2s;
			border-radius: 4px;
			border: 1px solid #bbb;
			width: var(--box-width);
			--selection_clr: var(--clr_primary);
		}
		&.error {
			--selection_clr: var(--error-clr);
		}
		&.success {
			--selection_clr: var(--success-clr);
		}
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			pointer-events: none;
		}

		&:hover {
			border-color: #666;
			box-shadow: 0 1px 5px 0 #0005;
		}

		&.disabled,
		&.inactive {
			& {
				background: #ddd;
				opacity: 0.6;
			}
		}
		&:not(.checked) {
			&.disabled,
			&.inactive {
				&:not(:hover) {
					border-color: #ddd;
				}
			}
		}

		&.disabled {
			pointer-events: none;
		}

		&.checked:not(.empty) {
			border-color: var(--selection_clr);
		}
	}
	&:not(.pretty_blue) > .checked {
		box-shadow: 0 0 0 1px var(--selection_clr), inset 0 0 0 1px var(--selection_clr);
	}
	&.spiky {
		& > * {
			border-radius: 0;
		}
	}

	&.columns_1,
	&.columns_2,
	&.columns_3,
	&.columns_4,
	&.columns_5,
	&.columns_6 {
		--box-padding: 5px;
	}

	&.columns_1 > * {
		width: calc(100% - var(--box_margin));
	}
	&.columns_2 > * {
		width: calc(50% - var(--box_margin));
	}
	&.columns_3 > * {
		width: calc(33.33333% - var(--box_margin));
	}
	&.columns_4 > * {
		width: calc(25% - var(--box_margin));
	}
	&.columns_5 > * {
		width: calc(20% - var(--box_margin));
	}
	&.columns_6 > * {
		width: calc(16.66666% - var(--box_margin));
	}

	&.pretty_blue {
		& {
			--box_margin: -1px;
		}
		& > * {
			box-shadow: none !important;
		}
		& > *.checked:not(.empty) {
			background: var(--pretty_blue_background);
			color: var(--pretty_blue);
			font-weight: var(--semi_bold);
			--selection_clr: var(--pretty_blue_border);
			z-index: 10;
		}
		& > *:not(.checked),
		& > .empty {
			& {
				background: #fff;
				color: #777;
			}
			&:hover {
				background: #eee;
				box-shadow: 0 2px 3px 0 #0003 !important;
				transition: 0s;
				z-index: 12;
			}
		}
	}
}

.hide_checks,
.boxes .pretty_blue {
	p-checkbox {
		display: none !important;
	}
}
