/* css[admin] */

.category-picker {
  background: #fcfcfc;
  padding: 7px;
  border-radius: 4px;
  box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.17);
  border: 1px solid #bbb;
}
.category-picker label {
  margin: 2px;
  display: inline-block;
  cursor: pointer;
}
.category-picker-row > *,
.category-picker-row > * > * {
  vertical-align: middle;
}
.category-picker-column {
  padding-left: 20px;
  width: 100%;
  overflow: hidden;
}

.category-picker-column,
.category-picker-row {
  position: relative;
}
/*.category-picker-column:before {
    position: absolute;
    left: 10px;
    top: bottom;
    height: calc(100% - 16px);
    width: 1px;
    background: #bbb;
    content: "";
  }*/
.category-picker-row:before {
  position: absolute;
  left: -10px;
  bottom: 50%;
  height: 1px;
  width: 6px;
  background: #bbb;
  content: "";
}

.category-picker-row:after {
  position: absolute;
  left: -10px;
  bottom: 50%;
  height: 1000px;
  width: 1px;
  background: #bbb;
  content: "";
}

.category-picker > div > .category-picker-row:before,
.category-picker > div > .category-picker-row:after {
  display: none;
}
