/* css[global] */

.dropdown {
	position: relative;
	z-index: 50;
}
.dropdown-user {
	z-index: 1000;
}
.dropdown-header {
	cursor: pointer;
}

.dropdown-user.hovered .dropdown-header {
	background: #f5f5f5;
}

.dropdown-expand {
	transition: opacity 0.2s;
	overflow: hidden;
	position: absolute;
	background: white;
	right: 0;
	top: 100%;
	text-align: left;
	min-width: 200px;
	opacity: 0;
	pointer-events: all;
}
.dropdown.hovered {
	z-index: 200;
}

.menu_item {
	cursor: pointer;
}

.dropdown-expand .menu_item,
.dropdown-user .menu_item .dropdown-header {
	display: block;
	white-space: nowrap;
}
.dropdown-user .menu_item .dropdown-header {
	padding: 5px 20px;
}
.dropdown-user .menu_item .dropdown-header {
	font-size: 13px;
}
.dropdown-user .dropdown-expand a:hover {
	background: #eee;
}
.dropdown.hovered .dropdown-expand {
	opacity: 1;
}
.dropdown:not(.hovered) .dropdown-expand {
	pointer-events: none;
}
.dropdown > .dropdown-expand > * {
	transition: margin-bottom 0.2s;
}
.dropdown:not(.hovered) > .dropdown-expand > * {
	margin-bottom: -4px;
}

.dropdown-header:after {
	content: "\f105";
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	font-weight: 700;
	transition: transform 0.2s;
	transform-origin: 50% 50%;
}
.dropdown.hovered > .dropdown-header:after {
	transform: rotate(90deg);
}

.dropdown-expand .dropdown-expand {
	position: static;

	box-shadow: unset;
}

.dropdown-user .menu_item.dropdown .dropdown-header {
	background: white;
}

.dropdown-user .menu_item .dropdown-expand {
	padding-left: 20px;
}

.dropdown-expand a {
	padding: 5px 13px;
}
