/* css[global] */

.flexbar {
  display: flex;
  align-items: stretch;
  margin-top: 10px;
  justify-content: center;
  width: 100%;
  margin-bottom: -10px;
}

.flexbar:not(.single-line) {
  flex-wrap: wrap;
}

.flexbar > * {
  margin-bottom: 10px;
}
.flexbar .space {
  margin-left: 10px;
  margin-right: 10px;
}
.flexbar .space-right {
  margin-right: 10px;
}
.flexbar .space-left {
  margin-left: 10px;
}
.flexbar .big.space {
  margin-left: 18px;
  margin-right: 18px;
}
.flexbar .big.space-right {
  margin-right: 18px;
}
@media only screen and (max-width: 759px) {
  .flexbar .big.no-space-mobile {
    margin-right: 0;
    margin-left: 0;
  }
  .flexbar .no-space-mobile {
    margin-right: 0;
    margin-left: 0;
  }
}

.flexbar > .btn > *:not(:first-child) {
  margin-left: 0.3em;
}
