/* css[global] */

/* TEMPORARY */
h2 i {
	display: none !important;
}

:root {
	--focus-clr: #47a;
}

html {
	overflow-x: hidden;
	background: #fff;
}
html,
body {
	padding: 0;
	margin: 0;
}
body,
textarea,
button {
	font-size: 15px;
}
@media only screen and (max-width: 340px) {
	body {
		font-size: 14px;
	}
}

body,
.btn,
input,
select,
textarea {
	line-height: 1.55;
}
:root {
	--field-height: 35px;
}
*,
*::after,
*::before {
	box-sizing: border-box;
}
p {
	margin: 0;
}
.main_wrapper {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.main_container {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}
.inline {
	display: inline-block !important;
}
.block {
	display: block !important;
}
.inline_flex {
	display: inline-flex !important;
}

.h1 {
	margin: 1em 0;
	font-size: 1.85em;
	line-height: 1.2em;
}

hr {
	height: 1px;
	background: #0002;
	border: none;
	margin: 0;
}

select.inline,
.btn.inline {
	width: auto;
}

a {
	text-decoration: none;
	color: inherit;
}

@media only screen and (max-width: 750px) {
	.mobileRow {
		flex-direction: column;
	}
	.mobileRow > div {
		width: 100% !important;
	}
}
.pln {
	word-spacing: -0.1em;
}
.mobileRow {
	display: flex;
}
footer {
	margin-top: auto;
}

.hidden:not(.expand_y):not(#modal_wrapper):not(.modal) {
	display: none !important;
}
.expander_space {
	display: table; /* prevent margin collapsing, a flex container is even better tho */
}
.expand_arrow {
	width: 1.5em;
	height: 1.5em;
	padding: 0;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-height: 0 !important;
}
.expand_arrow:not(.open) .fas {
	transform: translate(0.5px, 0.5px) rotate(0deg);
}
.expand_arrow.open .fas {
	transform: translate(-1px, 0) rotate(90deg);
}

.center {
	text-align: center;
}

.flex_children_width {
	display: flex;
}
.flex_children_width * {
	min-width: 0;
}

.flex_column {
	display: flex;
	flex-direction: column;
}

.flex {
	display: flex;
}

// h1,
// h2,
// h3 {
// 	font-weight: 600;
// }

.lazy * {
	display: none;
}

img {
	display: inline-block;
}

.text-bottom {
	vertical-align: bottom;
}

.light {
	font-weight: unset;
}

.underline {
	text-decoration: underline;
}

.flex_stretch {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

a {
	cursor: pointer;
}

// .title .btn,
// .label .btn,
// .label + .btn {
// 	margin-left: 5px;
// }

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
