/* css[global] */

/* TEMPORARY */
h2 i {
	display: none !important;
}

:root {
	--focus-clr: #47a;
}

html,
body {
	padding: 0;
	margin: 0;
	font-size: 16px;
}
body,
textarea,
button {
	font-size: 16px;
}
@media only screen and (max-width: 340px) {
	body {
		font-size: 15px;
	}
}

body,
.btn,
input,
select,
textarea {
	line-height: 1.55;
}
:root {
	--field-height: 35px;
}
*,
*::after,
*::before {
	box-sizing: border-box;
}
p {
	margin: 0;
}
.main_wrapper {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.main_container {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}
.inline {
	display: inline-block !important;
}
.block {
	display: block !important;
}
.inline-flex {
	display: inline-flex !important;
}
// .checkbox-wrapper.block {
// 	display: block;
// }
// .btn.block {
// 	display: block;
// }

/* showhover start */
.showhover {
	position: relative;
}
.showhover:not(:hover) .menucontent {
	display: none !important;
}
.showhover .menucontent {
	position: absolute;
	right: 0;
	top: 100%;
	z-index: 50;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.h1 {
	margin: 1em 0;
	font-size: 1.85em;
	line-height: 1.2em;
}

hr {
	height: 1px;
	background: #0002;
	border: none;
	margin: 0;
}
.heading {
	width: 100%;
	text-align: center;
	margin: 60px 0;
	font-size: 32px;
	color: #fb0;
}

select.inline,
.btn.inline {
	width: auto;
}

.dropdown-expand {
	box-shadow: 0px 3px 14px -3px rgba(0, 0, 0, 0.2);
}

.headerplain {
	display: inline-block;
	margin: 0;
	font-size: inherit;
	font-weight: inherit;
}
.drop-arrow:after {
	border-style: solid;
	border-width: 0.1em 0.1em 0 0;
	content: "";
	display: inline-block;
	height: 0.4em;
	position: relative;
	top: 0.2em;
	transform: rotate(135deg);
	vertical-align: top;
	width: 0.4em;
	margin-left: 5px;
	transition: 0.3s;
	color: #555;
}

.hideTablet {
	display: inline-block;
}
// h1 {
// 	text-align: center;
// }
/*@media (hover: hover) {*/
@media only screen and (min-width: 1200px) {
	.drop-arrow {
		display: none;
	}
}

/*@media (hover: none) {*/
@media only screen and (max-width: 1199px) {
	.drop-arrow {
		position: absolute;
		top: 0;
		right: 0;
		width: 53px;
		height: 100%;
		background: #f5f5f5;
		border: none;
		border-left: 1px solid #eee;
	}
	.expandable:after {
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	.items::after {
		content: "";
		flex: auto;
	}
	.someWidth {
		width: 100% !important;
	}
	.hideTablet {
		display: none;
	}
}
a {
	text-decoration: none;
	color: inherit;
}

@media only screen and (max-width: 750px) {
	.mobileRow {
		flex-direction: column;
	}
	.mobileRow > div {
		width: 100% !important;
	}
}
.pln {
	word-spacing: -0.1em;
}
.mobileRow {
	display: flex;
}
footer {
	margin-top: auto;
}

.hidden:not(.expand_y):not(#modal_wrapper):not(.modal) {
	display: none !important;
}
.expander_space {
	display: table; /* prevent margin collapsing, a flex container is even better tho */
}
.expand_arrow {
	width: 1.5em;
	height: 1.5em;
	padding: 0;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-height: 0 !important;
}
.expand_arrow:not(.open) .fas {
	transform: translate(0.5px, 0.5px) rotate(0deg);
}
.expand_arrow.open .fas {
	transform: translate(-1px, 0) rotate(90deg);
}

.center {
	text-align: center;
}

.align-middle {
	vertical-align: middle;
}

.flex_children_width {
	display: flex;
}
.flex_children_width * {
	min-width: 0;
}

.flex_column {
	display: flex;
	flex-direction: column;
}

.flex {
	display: flex;
}

// h1,
// h2,
// h3 {
// 	font-weight: 600;
// }

.lazy * {
	display: none;
}

img {
	display: inline-block;
}

.text-bottom {
	vertical-align: bottom;
}

.light {
	font-weight: unset;
}

.semi-bold {
	font-weight: 600;
}

.bold {
	font-weight: 900;
}

.underline {
	text-decoration: underline;
}

.flex_stretch {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

a {
	cursor: pointer;
}

// .title .btn,
// .label .btn,
// .label + .btn {
// 	margin-left: 5px;
// }

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
