/* css[global] */

:root {
	--focus-clr: #47a;
	--body_padding_top: 0px;
	--base_font_size: 14px;
}

html {
	overflow-x: hidden;
	background: #fff;
	// width: 100vw;
	// height: 100vh;
}
html,
body {
	padding: 0;
	margin: 0;
}

body {
	padding-top: var(--body_padding_top);
	//min-height: 100%;
}

:root,
textarea,
button {
	& {
		font-size: var(--base_font_size);
	}
	@media (max-width: 340px) {
		& {
			--base_font_size: 13px;
		}
	}
	@media (min-width: 1200px) {
		& {
			--base_font_size: 14.5px;
		}
	}
}

body,
.btn,
input,
select,
textarea {
	line-height: var(--default_line_height);
}
:root {
	//--field-height: 35px;
	--default_line_height: 1.55;
}
*,
*::after,
*::before {
	box-sizing: border-box;
}
p {
	margin: 0;
}
.main_wrapper {
	width: 100%;
	//min-height: calc(100vh - var(--body_padding_top)); // 0px worked but gets minidied ugh
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.h1 {
	margin: 1em 0;
	font-size: 1.85em;
	line-height: 1.2em;
}

h1,
h2,
h3 {
	font-weight: var(--bold);
}

hr {
	height: 1px;
	background: #0002;
	border: none;
	margin: 0;
}

select.inline,
.btn.inline {
	width: auto;
}

a {
	text-decoration: none;
	color: inherit;
}

.pln {
	word-spacing: -0.1em;
}

footer {
	margin-top: auto;
}

.hidden:not(.expand_y):not(#modal_wrapper):not(.modal) {
	display: none !important;
}
.expander_space {
	display: table; /* prevent margin collapsing, a flex container is even better tho */
}
.expand_arrow {
	width: 1.5em;
	height: 1.5em;
	padding: 0;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-height: 0 !important;
}
.expand_arrow:not(.open) .fas {
	transform: translate(0.5px, 0.5px) rotate(0deg);
}
.expand_arrow.open .fas {
	transform: translate(-1px, 0) rotate(90deg);
}

img {
	display: inline-block;
}

a {
	cursor: pointer;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
