/* css[global] */

.glue_children {
	& {
		display: flex;
	}
	& > :not(:first-child):not(.ignore-glue) {
		*& {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
	& > :not(:last-child):not(.ignore-glue) {
		*& {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
}
/*
.glue_vertically {
	& > :not(:first-child):not(.ignore-glue) {
		border-top-right-radius: 0;
		border-top-left-radius: 0;
	}
	& > :not(:last-child):not(.ignore-glue) {
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}
}
*/
