/* css[global] */

.user_icon {
	width: 32px;
}
.product-history-icon {
	width: 39px;
}
.basket_icon {
	width: 40px;
}
.heart_icon {
	width: 36px;
}
.menu_icon {
	width: 36px;
}
.search_icon {
	width: 28px;
}
