/* css[global_important] */

.user_icon {
	width: 32px;
}
.product_history_icon {
	width: 39px;
}
.basket_icon {
	width: 40px;
}
.heart_icon {
	width: 36px;
}
.menu_icon {
	width: 36px;
	transform: scaleX(0.9);
}
.search_icon {
	width: 28px;
}
