/* css[global] */

.clamp-lines {
  overflow: hidden;
  display: -webkit-box;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  line-height: 1.3;
}

.clamp-2 {
  -webkit-line-clamp: 2;
  line-clamp: 2;
  height: 2.6em;
}
.clamp-3 {
  -webkit-line-clamp: 3;
  line-clamp: 3;
  height: 3.9em;
}
.clamp-4 {
  -webkit-line-clamp: 4;
  line-clamp: 4;
  height: 5.2em;
}
