/* css[global] */

.clamp_lines {
	& {
		overflow: hidden;
		display: -webkit-box;
		-moz-box-orient: vertical;
		-webkit-box-orient: vertical;
		box-orient: vertical;
		--clamp_lines: 1;
		-webkit-line-clamp: var(--clamp_lines);
		line-clamp: var(--clamp_lines);
	}
	&.same_height {
		line-height: var(--default_line_height);
		height: calc(1em * var(--default_line_height) * var(--clamp_lines));
	}
}

.clamp_2 {
	--clamp_lines: 2;
}
.clamp_3 {
	--clamp_lines: 3;
}
.clamp_4 {
	--clamp_lines: 4;
}
