/* css[global] */

.link {
	color: #33d;
	font-weight: 600;
	cursor: pointer;
}
.link:hover {
	filter: brightness(1.05);
	text-decoration: underline;
}
// .linkable {
// 	border-bottom: 1px solid #35f;
// 	color: #35f;
// }
// .linkable:hover {
// 	border-bottom: 1px solid #13b;
// 	color: #13b;
// }
