/* css[global] */

// .message-container {
// 	margin: 10px auto 0;
// 	color: #7b7;
// 	width: fit-content;
// 	border: 1px solid #7b7;
// 	border-radius: 5px;
// 	background: #efe;
// 	padding: 10px;
// 	text-align: center;
// }
// .message-container .fa-times {
// 	margin: -5px;
// 	padding: 5px;
// 	display: inline-block;
// }
// .message-container.warning {
// 	color: #f25151;
// 	border: 1px solid #f25151;
// 	background: #fee;
// }
// .message-container.inline {
// 	padding: 5px 10px;
// 	display: flex;
// 	justify-content: space-between;
// 	width: 100%;
// }

.messagebox_modal > * {
	margin: 10px;
}

.messagebox_header {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	color: #fff;
	text-align: center;
	font-size: 1.4em;
	padding: 5px 18px;
	font-weight: 600;
}

.messagebox_body {
	padding: 15px;
	padding: 20px 20px 10px;
	text-align: center;
}

.messagebox_footer {
	display: flex;
	align-items: center;
	padding: 10px;
}

.messagebox_footer > * {
	flex-grow: 1;
}

.messagebox_footer > .btn:not(:last-child) {
	margin-right: 10px;
}

.messagebox_modal > .modal_body > * {
	border-radius: inherit;
}
