/* css[global] */

.product_list {
	& {
		display: flex;
		flex-flow: row wrap;
		margin: -1.618vw -1vw;
	}
	.product_block {
		width: var(--product_width);
		padding: 1.618vw 1vw;
	}
}

.product_name {
	font-weight: 600;
	margin: 7px 0;
	font-size: 1.1em;
}

.product_stock {
	&::before {
		content: "";
		margin-right: 5px;
		width: 0.5em;
		height: 0.5em;
		border-radius: 0.25em;
		display: inline-block;
	}
	&::after {
		font-size: 0.85em;
		font-weight: 600;
	}
	&.available {
		&::before {
			background-color: var(--success-clr);
		}
		&::after {
			color: var(--success-clr);
			content: "Dostępny";
		}
	}
	&.unavailable {
		&::before {
			background-color: var(--error-clr);
		}
		&::after {
			color: var(--error-clr);
			content: "Niedostępny";
		}
	}
}

.product_img {
	width: 100%;
	object-fit: cover;
	display: block;
}

.product_img_wrapper {
	& {
		position: relative;
		overflow: hidden;
	}
	.overlay {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		height: 100%;
		transition: 0.2s opacity;
		opacity: 0;
		pointer-events: none;
	}
}
