/* css[global] */

.product_list {
	& {
		display: flex;
		flex-flow: row wrap;
		margin: -1vw;
	}
	.product_block {
		width: var(--product_width);
		padding: 1vw;
	}
}
.product_block {
	.product_name {
		font-weight: 600;
		margin: 7px 0;
		font-size: 1.1em;
	}
}

.product_image {
	width: 100%;
	object-fit: cover;
}
