/* css[global] */

input,
select {
	font-size: 1em;
	width: 185px; /* default width man */
}

/* buttons */
/* .btn {
	font-size: 1em;
}
.btn.medium {
	font-size: 1.2em;
}
.btn.big {
	font-size: 1.4em;
} */

.btn {
	font-size: 1em;
}
.medium {
	font-size: 1.2em;
	font-weight: 600;
}
.big {
	font-size: 1.4em;
	font-weight: 700;
}

.semi-bold {
	font-weight: 600;
}

.bold {
	font-weight: 900;
}

/* buttons */
