/* css[global] */

.shadow-node {
	& {
		z-index: 1000;
		pointer-events: none;
		flex-shrink: 0;
	}
	&.left,
	&.right {
		height: 100%;
		position: absolute;
		top: 0;
		width: 20px;
	}
	&.top,
	&.bottom {
		width: 100%;
		position: relative;
		height: 20px;
	}
	&.top {
		box-shadow: inset 0 10px 5px -5px rgba(0, 0, 0, 0.15);
		margin-bottom: -20px;
	}
	&.bottom {
		box-shadow: inset 0 -10px 5px -5px rgba(0, 0, 0, 0.15);
		margin-top: -20px;
	}

	&.left {
		box-shadow: inset 10px 0 5px -5px rgba(0, 0, 0, 0.15);
		left: 0;
	}
	&.right {
		box-shadow: inset -10px 0 5px -5px rgba(0, 0, 0, 0.15);
		right: 0;
	}

	&.top.light {
		width: 30px;
		margin-bottom: -30px;
		background: linear-gradient(to top, #fff0 0%, #fff 100%);
		box-shadow: none;
	}
	&.bottom.light {
		width: 30px;
		margin-top: -30px;
		background: linear-gradient(to bottom, #fff0 0%, #fff 100%);
		box-shadow: none;
	}
	&.left.light,
	&.right.light {
		box-shadow: none;
		width: 30px;
		background: linear-gradient(to left, #fff0 0%, #fff 100%);
	}
	&.right.light {
		transform: scaleX(-1);
	}
}
