/* css[global] */

:root {
	--pretty_blue_background: #d0e0ff;
	--pretty_blue: #149;
	--pretty_blue_border: #59c;
}

.tab_option {
	& {
		padding: 5px 10px;
		border: 1px solid #ccc;
		background: #fff;
		color: #777;
		cursor: pointer;
		flex-grow: 1;
		border-radius: 4px;
		text-align: center;
		flex-basis: 0;
		position: relative;
		user-select: none;
		transition: all 0.2s;
	}
	&:not(:last-child) {
		margin-right: -1px;
	}
	&.current {
		background: var(--pretty_blue_background);
		color: var(--pretty_blue);
		font-weight: var(--semi_bold);
		border-color: var(--pretty_blue_border);
		z-index: 10;
	}
	&:not(.current):hover {
		background: #eee;
		box-shadow: 0 2px 3px 0 #0003;
		transition: 0s;
	}
}
