/* css[global] */

.wo997tooltip {
	position: fixed;
	pointer-events: none;
	background: white;
	padding: 3px 4px;
	border-radius: 4px;
	font-size: 0.9rem;
	box-shadow: 0px 2px 5px 0px #0003;
	z-index: 20000000;
	max-width: 40vw;
	border: 1px solid #bbb;
}
