/* css[view] */

.body_content {
	max-width: 1100px;
}

.status_rect {
	padding: 4px 8px;
	width: 100%;
}

@media only screen and (max-width: 999px) {
	.table_header * {
		display: none !important;
	}
	.table_header {
		min-height: 0 !important;
		padding: 0 !important;
		box-shadow: none !important;
		border-top-width: 0 !important;
	}
}
