/* css[view] */

.color_circle {
	border-radius: 8px;
	width: 16px;
	height: 16px;
	box-shadow: inset 0 0 0 1px #0004;
	display: inline-block;
	margin-right: 4px;
	vertical-align: middle;
	transform: translateY(-1px);
}

.category_name {
	& {
		margin: 40px 0 20px;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: row wrap;
	}
	& > a {
		& {
			font-size: 0.65em;
			color: #555;
		}
		.no_touch &:hover {
			text-decoration: underline;
		}
		i {
			margin: 0 5px;
			font-size: 0.85em;
		}
	}
	& > span:last-child {
		width: 100%;
	}
}

.results_info,
.results_info_mobile {
	text-align: center;
	margin-bottom: 20px;
	font-weight: var(--semi_bold);
}

.product_list_pagination.comp {
	margin: 30px 0;
}

.searching_wrapper {
	.search_header {
		& > span {
			font-size: 1.2em;
			font-weight: var(--bold);
		}
		& {
			margin-bottom: 10px;
		}
		&:not(.first) {
			margin-top: 30px;
		}
	}
	.clear_filters_btn {
		margin: -3px 0;
	}
}

.product_categories {
	.expand_btn {
		& {
			padding: 0;
			width: 24px;
			height: 24px;
			margin: -6px 0 -6px 5px;
		}
		& i {
			transition: transform 0.2s;
		}
		&.open i {
			transform: rotate(90deg);
		}
	}

	a {
		& {
			padding: 3px 0;
			display: inline-block;
		}
		.no_touch &:hover {
			text-decoration: underline #000c;
		}
		&.current {
			text-decoration: underline #000c;
		}
	}

	.level_0 > li {
		& > a,
		& > .count {
			font-weight: var(--semi_bold);
		}
	}
	.level_1 a {
		padding-left: 15px;
	}
	.level_2 a {
		padding-left: 30px;
	}
}

.product_features {
	.feature_label {
		font-weight: var(--semi_bold);
		display: block;
		margin-bottom: 0.2em;
	}
	.feature_row:not(:first-child) .feature_label {
		margin-top: 1.2em;
	}
	.feature_option_label {
		padding: 5px 0;
		display: inline-block;
	}
	.level_1 .checkbox_area {
		padding-left: var(--p-checkbox-height);
	}
	.level_2 .checkbox_area {
		padding-left: calc(2 * var(--p-checkbox-height));
	}
	.option_row > .checkbox_area {
		display: inline-block;
	}

	.angle_up .check {
		transform: translate(-41%, -37%) rotate(135deg);
	}
	.angle_down .check {
		transform: translate(-41%, -74%) rotate(-45deg);
	}
	.angle_up .check,
	.angle_down .check {
		width: 0.8em;
		height: 0.8em;
	}
}

@media (min-width: 850px) {
	.products_all {
		display: flex;
		flex-shrink: 1;
	}

	.searching_wrapper .mobile_search_btn {
		display: none;
	}

	:root {
		--searching_wrapper_width: 300px;
	}

	.products_all {
		min-height: 100vh;
	}

	.searching_wrapper {
		& {
			position: sticky;
			transform: translateX(calc(-1 * var(--searching_wrapper_width)));
			margin-right: calc(-1 * var(--searching_wrapper_width));
			top: 0;
			left: 0;
			width: var(--searching_wrapper_width);
			flex-shrink: 0;
			height: calc(100vh - var(--header_height));
			overflow: hidden;
			background: #fff;
			border-right: 1px solid #ccc;
			box-shadow: 0 6px 8px 0 #0002;
		}
		body:not(.freeze) & {
			position: fixed;
			top: var(--header_height);
			width: var(--searching_wrapper_width);
			transform: none;
			margin-right: 0;
		}
		& > .scroll_panel {
			padding: 20px;
			height: 100%;
		}
	}

	.product_list_wrapper {
		padding: 0 2vw;
		width: 100%;
	}

	.main_wrapper {
		padding-left: var(--searching_wrapper_width);
	}

	header.main {
		margin-left: calc(-1 * var(--searching_wrapper_width));
		width: calc(100% + var(--searching_wrapper_width)) !important;
		box-shadow: var(--searching_wrapper_width) 0 8px 0 #0002 !important;
	}

	:root {
		--header_box_shadow_off_x: var(--searching_wrapper_width) !important;
	}

	.results_info_mobile {
		display: none;
	}
}

.product_list {
	& {
		position: relative;
		transition: opacity 0.2s;
	}
	.spinner {
		--spinner-size: 5em;
		--spinner-width: 0.35em;
		--spinner-color: var(--clr_primary);
		--spinner-background: none;
		top: min(50%, calc(50vh - var(--header_height) - 50px));
		filter: drop-shadow(0px 0px 1px #0009);
	}
	.no_results {
		& {
			text-align: center;
			width: 100%;
			margin: 40px 0;
		}
		& > span {
			font-size: max(1em, min(3vw, 1.3em));
			font-weight: var(--semi_bold);
		}
		& > .btn {
			margin-top: 15px;
		}
	}
}

@media (max-width: 849px) {
	.product_list_wrapper,
	.searching_wrapper > .scroll_panel {
		padding: 15px;
	}
	.searching_wrapper {
		border-bottom: 1px solid #ccc;
		box-shadow: 0 2px 5px 0 #0002;
	}
	.product_categories {
		& .expand_btn {
			width: 36px;
			height: 36px;
			margin-left: auto;
		}
		a {
			display: flex;
			align-items: center;
			padding: 8px 0;
		}
		li:not(:last-child) > a {
			box-shadow: 0 1px 0 0 #ccc;
		}
		.count {
			margin-left: 5px;
		}
		.level_1 a {
			padding-left: 18px;
		}
		.level_2 a {
			padding-left: 36px;
		}
	}

	.results_info_mobile {
		& {
			position: fixed;
			bottom: 0;
			right: 0;
			left: 0;
			z-index: 600;
			background: #fff;
			margin: 0;
			padding: 10px;
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			border-top: 1px solid #ccc;
			box-shadow: 0 -2px 9px 0 #0003;
			transition: 0.2s transform;
		}
		&:not(.visible) {
			transform: translateY(110%);
		}
		span {
			font-size: 1.05em;
		}
	}

	.product_list .product_img_wrapper {
		width: 60%;
		margin-left: auto;
		margin-right: auto;
		padding-top: 60%;
	}
}
@media (min-width: 340px) {
	.results_info_mobile .btn {
		min-width: 100px;
	}
}

.just_color {
	background: var(--color);
	width: 1.3em;
	height: 1.3em;
	display: inline-block;
	vertical-align: middle;
	box-shadow: inset 0 0 0 1px #0003;
	border-radius: 4px;
}

.range_filter input {
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}

/* randomize animation start */

// .randomize_btn {
// 	width: 170px;
// 	white-space: nowrap;
// }

// .randomize_btn .randomize_text {
// 	width: 110px;
// 	transition: 0.2s all;
// 	display: inline-block;
// }

// .randomize_btn.randomize .randomize_text {
// 	width: 0;
// 	transform: scale(0);
// 	opacity: 0;
// }

// .randomize_btn .randomize_loader_wrapper {
// 	display: inline-block;
// }

// .randomize_btn.randomize .randomize_loader_wrapper {
// 	transform: scale(1.4);
// 	transition: 0.2s transform;
// }

// .randomize_btn.randomize .randomize_loader {
// 	animation: rotating 1s linear infinite;
// }

// @keyframes rotating {
// 	from {
// 		transform: rotate(0deg);
// 	}

// 	to {
// 		transform: rotate(360deg);
// 	}
// }

/* randomize animation end */
