/* css[user_produkty_page] */

.category-picker-row > *,
.category-picker-row > * > * {
  vertical-align: baseline;
}

.search-wrapper .categories {
  min-width: 240px;
}

.search-wrapper,
.products {
  padding: 20px;
}

.category_name {
  max-width: 200px;
  display: inline-block;
  padding: 2px;
}

.search-wrapper {
  width: auto;
  border: 1px solid #eee;
  box-shadow: 0px 3px 10px -3px rgba(0, 0, 0, 0.19);
}

.categories > div > .category-picker-row:before {
  display: none;
}

.categories > div > .category-picker-row:after {
  display: none;
}

.category_name.current {
  color: var(--primary-clr);
  text-decoration: underline;
  font-weight: bold;
}

.category-picker-row .expand_arrow {
  color: #999;
  margin-left: 1px;
  box-shadow: none;
  transition: 0.2s all;
}

.attribute-label {
  display: block;
  padding: 2px 0;
}

@media only screen and (max-width: 799px) {
  .search-wrapper {
    width: 100%;
  }

  .category-picker-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    align-items: center;
    padding-left: 12px;
    height: 2.55em;
  }

  .category-picker-row .expand_arrow {
    width: 2.8em;
    height: 100%;
  }

  .category_name {
    padding: 5px;
    flex-grow: 1;
    max-width: unset;
  }

  .category-picker-row:before,
  .category-picker-row:after {
    display: none;
  }

  .category-picker-column {
    padding: 0;
  }

  .search-wrapper,
  .products {
    padding: 10px;
  }

  .attribute-label {
    padding: 4px 0;
  }
}

@media only screen and (min-width: 800px) {
  .category_name {
    padding-left: 0 !important;
  }

  .category-picker-row .expand_arrow {
    transform: translateY(1px);
  }

  .category-picker-row .expand_arrow:hover {
    border-radius: 5px;
    background: #dadada;
  }

  .search-wrapper .mobile-search-btn {
    display: none;
  }

  .search-wrapper {
    max-width: 300px;
  }
}

.attribute-list .attribute-list {
  margin-left: 25px;
}

.category_name:hover {
  text-decoration: underline #000c;
}

.product_list-wrapper {
  padding: 2vw;
  overflow: hidden;
}

.attribute-header {
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 0.3em;
}

.product_list-animation-wrapper {
  position: relative;
  overflow: hidden;
}

.product_list-container-swap,
.product_list-container-swap-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  pointer-events: none;
  z-index: 100;
}

.product_list-container-swap-background {
  height: 10000px;
  top: 100%;
}

.under-products {
  position: relative;
  box-shadow: 0px 0px 25px 25px rgba(255, 255, 255, 1);
  margin-bottom: 50px;
}

.order_by_item {
  display: block;
}

.order_by_item input {
  display: none;
}

.order_by_item span {
  background: #fafafa;
  padding: 3px 9px;
  display: block;
  margin-bottom: 3px;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  transition: 0.1s all;
  cursor: pointer;
  font-weight: 600;
}

.order_by_item input:not(:checked) + span:hover {
  filter: brightness(0.95);
}

.sorting-wrapper .order_by_item input:checked + span {
  background: var(--primary-clr);
  color: #fffd;
  cursor: default;
}

.sorting-wrapper .order_by_item input:checked + span {
  background: var(--primary-clr);
  color: #fffd;
  cursor: default;
}

.sorting-wrapper .order_by_item input:checked + span img {
  filter: invert();
}

.order_by_item input:not(:checked) + span .fas,
.order_by_item input:not(:checked) + span svg {
  opacity: 0.8;
}

.order_by_item .fas {
  width: 16px;
  text-align: center;
  transform: scale(1.1);
}

.search-header {
  margin: 30px 0 10px;
  font-weight: bold;
  font-size: 16px;
}

.search-wrapper .mobile-search-btn,
.mobile-margin-bottom {
  margin-bottom: 10px;
}

.sorting-wrapper.horizontal .order_by_item span {
  padding: 6px 10px;
  margin-right: 10px;
}

.sorting-wrapper.horizontal .order_by_item:first-child span {
  margin-left: 10px;
}

.sorting-wrapper.horizontal .order_by_item:last-child span {
  margin-right: 10px;
}

.horizontal-scroll-wrapper {
  display: flex;
  margin: 0 -10px;
}

.horizontal-scroll-wrapper .order_by_item > span {
  min-width: 38vw !important;
  text-align: center;
  border-radius: 20px;
}

@media only screen and (min-width: 500px) {
  .horizontal-scroll-wrapper .order_by_item > span {
    min-width: 21vw !important;
    text-align: center;
  }
}

.filters_description {
  text-align: center;
  font-size: 1.2em;
}

/* randomize animation start */

.randomize_btn {
  width: 170px;
  white-space: nowrap;
}

.randomize_btn .randomize_text {
  width: 110px;
  transition: 0.2s all;
  display: inline-block;
}

.randomize_btn.randomize .randomize_text {
  width: 0;
  transform: scale(0);
  opacity: 0;
}

.randomize_btn .randomize_loader_wrapper {
  display: inline-block;
}

.randomize_btn.randomize .randomize_loader_wrapper {
  transform: scale(1.4);
  transition: 0.2s transform;
}

.randomize_btn.randomize .randomize_loader {
  animation: rotating 1s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* randomize animation end */
