/* css[admin] */

p-dropdown {
	& {
		display: flex;
		flex-direction: column;
		vertical-align: bottom;
		position: relative;
		user-select: none;
	}
	&.inline {
		display: inline-flex !important;
	}
	&.pretty_blue {
		&:not(.dropped).selected {
			background: var(--pretty_blue_background);
			color: var(--pretty_blue);
			border-color: var(--pretty_blue_background);
		}
		&:not(.dropped):not(.selected) {
			border-color: transparent;
			background-color: transparent;
		}
	}
	p-option.selected {
		background: var(--pretty_blue_background);
		color: var(--pretty_blue);
		border-color: var(--pretty_blue_background);
	}
	& .options_wrapper {
		display: flex;
		position: absolute;
		align-items: stretch;
		border-radius: 4px;
	}
	&:not(.grid) .options_wrapper {
		flex-direction: column;
	}
	&.grid .options_wrapper {
		display: grid;
	}
	&.dropped {
		& {
			background: #fff;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			border-color: #aaa;
		}
		& .options_wrapper {
			background: #fff;
			box-shadow: 0 2px 4px 0 #0004;
			border: 1px solid #aaa;
			left: 50%;
			top: 100%;
			transform: translate(-50%, 0);
			min-width: 100%;
		}
		&:not(.grid) .options_wrapper {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-top-color: #ddd;
		}
		&.grid .options_wrapper {
		}
	}

	&:not(.dropped) .options_wrapper {
		pointer-events: none;
		margin: 0 calc(-1 * var(--field_padding_hor));
		height: 0;
		opacity: 0;
	}
	& .selected_option,
	& p-option {
		&:empty::after {
			// prevent colapsing
			content: ".";
			visibility: hidden;
			border-radius: 4px;
		}
	}
	&.grid p-option {
		padding: var(--field_padding_ver);
	}
	&:not(.grid) p-option {
		padding: var(--field_padding_ver) var(--field_padding_hor);
	}

	p-option {
		& {
			display: flex;
			align-items: center;
			justify-content: center;
			min-width: 28px;
			min-height: 28px;
			position: relative;
		}
		&:hover {
			background: #eee;
		}
		&[data-value=""] {
			& {
				color: transparent;
				position: relative;
			}
			&::after {
				color: #000;
				content: "-";
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				visibility: visible;
			}
			* {
				visibility: hidden;
			}
		}
	}
}
