/* css[piep_cms_dependencies] */

.piep_editor_side_menu .prop_width_type {
	.checkbox_area > span {
		width: 100%;
		text-align: center;
		display: block;
	}
}

.combo_directions {
	& {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		gap: 10px;
	}
	.left {
		grid-area: 2 / 1 / 3 / 3;
	}
	.right {
		grid-area: 2 / 3 / 3 / 5;
	}
	.top {
		grid-area: 1 / 2 / 2 / 4;
	}
	.bottom {
		grid-area: 3 / 2 / 4 / 4;
	}
	.glue_children select {
		--field_padding_hor: 3px;
	}
	select {
		width: 30px;
	}
}

.case_no_aspect_ratio.inactive {
	opacity: 0.4;
	pointer-events: none;
}
