/* css[view] */

.price_wrapper {
	margin: 1.5em 0;
	line-height: 1.3;
}

.price_label {
	display: block;
	font-size: 1.6em;
	font-weight: var(--semi_bold);
	// font-weight: var(--bold);
}

.selected_product_price {
	& {
		font-size: 2em;
		font-weight: var(--bold);
	}
	@media (min-width: 1000px) {
		& {
			font-size: 2.2em;
		}
	}
}

.selected_product_price.price_off {
	color: var(--clr_buynow);
}

.selected_product_was_price,
.selected_product_percent_off {
	position: relative;
	bottom: 0.35em;
	font-size: 1.3em;
	color: #666;
	margin-left: 3px;
}
.selected_product_percent_off {
	font-size: 1.15em;
	bottom: 0.45em;
}

.discount_on_products_label {
	& {
		font-size: 1.2em;
		background: var(--clr_buynow);
		color: #fff;
		display: inline-block;
		padding: 5px 12px;
		font-weight: var(--semi_bold);
		margin-top: 5px;
		cursor: pointer;
		user-select: none;
	}
	&,
	i {
		transition: 0.2s all;
	}
	&:hover {
		& {
			filter: brightness(1.1);
			box-shadow: 0 1px 6px -1px #0008;
		}
		i {
			transform: translateX(2px);
		}
	}
	&.expanded {
		i {
			transform: translateX(2px) rotate(90deg);
		}
	}
}

// .discount_on_products {
// 	ul {
// 		margin-top: 10px;
// 	}
// }

.variant_option {
	font-weight: var(--semi_bold);
}

.price_diff,
.price_diff_before {
	font-weight: var(--normal);
	transition: all 0.15s;
}

.price_diff {
	display: block;
}

.price_diff,
.price_diff_before {
	width: 100%;
	font-size: 0.9em;
}

.variant_option.has_price_diff {
	.price_diff {
		height: 1.5em;
	}
	.price_diff_before {
		height: 0;
	}
}
.variant_option:not(.has_price_diff) {
	.price_diff,
	.price_diff_before {
		opacity: 0;
		height: 0.75em;
	}
}

.pvo_discount {
	position: absolute;
	right: 0;
	top: 0;
	background: var(--clr_buynow);
	color: #fff;
	font-weight: var(--normal);
	font-size: 0.9em;
	border-bottom-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: 0 4px;
	line-height: 1.5;
	letter-spacing: 1px;
}

.product_offer {
	max-width: 450px;
	padding: 0 10px;
}

.product_imgs .slider_below {
	--slide_padding: 3px;
}

.main_qty_controls .qty_price_quick {
	align-self: center;
	margin-left: 10px;
}

@media (max-width: 650px) {
	.comments_label {
		width: 100%;
	}
}

@media (min-width: 850px) {
	.product_wrapper {
		display: flex;
		max-width: var(--container_max_width);
		margin: 10px auto;
		width: 100%;
		position: relative;
		align-items: flex-start;
	}
	.product_imgs {
		width: 47%;
		margin: 32px auto 0;
		position: sticky;
		top: 150px;
	}
	.product_offer {
		width: 40%;
		margin-top: 20px;
	}
	.sticky_product {
		display: none;
	}
	.product_imgs .slider_below {
		margin: 3px -3px;
	}
}

@media (max-width: 849px) {
	.product_imgs > .wo997_slider:first-child {
		height: 100vw; // boost UX & SEO
	}
	.product_offer {
		margin: 20px auto;
	}
	.sticky_product {
		& {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			padding-left: 10px;
			z-index: 600;
			background: #fff;
			display: flex;
			justify-content: space-between;
			align-items: center;
			transition: 0.2s transform;
			box-shadow: 0 -5px 15px 0 #0005;
		}
		span {
			font-weight: var(--semi_bold);
			flex-shrink: 1;
		}
		.img_wrapper {
			& {
				position: relative;
				flex-shrink: 0;
				margin: 3px;
				border-radius: 4px;
			}
			&::after {
				content: "";
				box-shadow: inset 0 0 0 1px #0003;
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				border-radius: inherit;
			}
			img {
				width: 66px;
				height: 66px;
				border-radius: inherit;
				object-fit: contain;
				display: block;
			}
		}
		&:not(.visible) {
			transform: translateY(-110%);
		}
	}
	.product_imgs .slider_below {
		margin: 3px 0;
	}
}

.case_can_buy_product {
	& {
		transition: opacity 0.2s;
	}
	&:not(.can_buy) {
		> * {
			opacity: 0.5;
			cursor: not-allowed;
		}
	}
}

.case_cannot_buy_product .user_info {
	padding: 5px;
	text-align: center;
}

.case_has_products.inyourbasket {
	margin-top: 15px;
}
cart-products-comp.has_products {
	margin: 5px 0 15px;
}

.addComment,
.notifyProductAvailable,
.notifyProductSuccess {
	@media (max-width: 499px) {
		.desktop {
			display: none;
		}
	}
	@media (min-width: 500px) {
		.mobile {
			display: none;
		}
	}
}

.rating_picker {
	& {
		font-size: 1.5em;
		display: inline-flex;
	}
	&:hover {
		& {
			filter: brightness(1.1);
		}
		& > i:not(.far.fa-star) {
			filter: drop-shadow(0 1px 1px #0006);
		}
	}

	& > i {
		cursor: pointer;
	}
}

list-comp.comments {
	--list_row_padding: 15px 0;
}
comment-comp.comp {
	& {
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
	}

	.nickname {
		font-weight: var(--semi_bold);
		margin-right: 5px;
		font-size: 1.1em;
	}
	.nick_rating {
		grid-area: 1 / 1 / 2 / 2;
	}
	.created_at {
		grid-area: 1 / 2 / 2 / 3;
		justify-self: flex-end;
		color: #555;
	}
	.comment {
		padding-top: 7px;
		grid-area: 2 / 1 / 3 / 3;
	}
	.options {
		display: inline-block;
	}
	.option {
		background: #eee;
		border-radius: 100px;
		padding: 2px 11px;
		color: #555;
		display: inline-block;
		margin-right: 5px;
		min-width: 36px;
		text-align: center;
		box-shadow: 0 1px 2px 0 #0003;
		font-weight: var(--semi_bold);
	}

	@media (max-width: 600px) {
		.options {
			display: block;
		}
		.option {
			margin-top: 5px;
		}
	}
}

.comments_filters {
	.coms_container {
		padding: 10px;
		border: 1px solid #ccc;
		margin: 5px 0 15px;
		border-radius: 4px;
		position: relative;
		box-shadow: 0 2px 7px 0 #0003;
	}
	.field.inline {
		width: 100%;
		max-width: 300px;
	}
	.variants_container {
		margin-bottom: 3px;
	}
	@media (max-width: 600px) {
		.field.inline {
			max-width: none;
		}
	}
}

.product_feature_list {
	& {
		max-width: min(10000px, var(--container_max_width));
		margin: 0px auto;
		padding: 10px;
	}
	.pflr {
		& {
			display: flex;
			flex-wrap: wrap;
			border-top: 1px solid #ddd;
		}
		// &:not(:first-child) {
		// 	border-top: 1px solid #ddd;
		// }
		&:last-child {
			border-bottom: 1px solid #ddd;
		}
	}
	.pflc {
		padding: 10px 10px 10px 0;
		&:first-child {
			width: 40%;
		}
		&:last-child {
			width: 60%;
		}
		@media (max-width: 600px) {
			&:first-child {
				width: 100%;
			}
			&:last-child {
				width: 100%;
				padding-top: 0;
			}
		}
	}
	.pflo {
		// &.active {
		// 	font-weight: var(--semi_bold);
		// }
		&.inactive {
			opacity: 0.5;
		}
		&:not(.active) .case_active {
			display: none;
		}
		.case_active {
			margin: 0 2px;
			font-size: 0.9em;
		}
		// & {
		// 	white-space: nowrap;
		// }
	}
}

.product_comments {
	max-width: var(--container_max_width);
	margin: 50px auto;
	padding: 10px;
}
