/* css[global] */

.cms {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.attention {
  box-shadow: inset 0px 0px 20px 0px rgb(255, 253, 113) !important;
}

.background-color,
.background-image {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  background: transparent;
  pointer-events: none;
  left: 0;
  top: 0;
}

.cms-container {
  display: flex;
  position: relative;
  width: 100%;
  background: white;
}
.cms-container-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*overflow: hidden;*/
}

.cms-block {
  display: flex;
  position: relative;
  max-width: 100%;
  width: 100%;
  /*overflow: hidden;*/
}
.cms-block-content {
  position: relative;
}

.align-vertical-top,
.align-vertical-none {
  align-items: flex-start;
}
.align-vertical-center {
  align-items: center;
}
.align-vertical-bottom {
  align-items: flex-end;
}

/*.cms-block > * {
    min-height: 100% !important;
  }*/
.align-vertical-top > *,
.align-vertical-center > *,
.align-vertical-bottom > * {
  min-height: 100px !important;
}

.align-horizontal-left {
  justify-content: flex-start;
}
.align-horizontal-center {
  justify-content: center;
}
.align-horizontal-right {
  justify-content: flex-end;
}

.cms-block > * {
  width: 100%;
}
.align-horizontal-left > *,
.align-horizontal-center > *,
.align-horizontal-right > * {
  width: auto;
}

.background-image {
  object-fit: cover;
}

.block-padding-none > *,
.block-padding-none .ql-editor {
  padding: 0;
}
.block-padding-small > *,
.block-padding-small .ql-editor {
  /*padding: 3%; 12px default */
}
.block-padding-medium > *,
.block-padding-medium .ql-editor {
  padding: 3%;
}
.block-padding-large > *,
.block-padding-large .ql-editor {
  padding: 6%;
}

.background-image {
  z-index: 1;
}
.background-color {
  z-index: 2;
}
.cms-block-content,
.cms-container-content,
.ql-editor {
  z-index: 3;
}
