/* css[global] */

.comments .comment_header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.comments .pseudonim {
  font-size: 15px;
  font-weight: bold;
}

.comments table .dodano {
  margin-left: 10px;
  color: #666;
  font-size: 0.9em;
}

.comments .datatable {
  box-shadow: none;
}
