/* css[global] */

.margin_bottom {
  margin-bottom: 5px;
}
.filter_menu {
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.27);
  padding: 5px;
  border-radius: 4px;
  background: #eee;
  position: absolute;
  border: 1px solid #ccc;
  display: none;
  min-width: 230px;
}
#filter_menu .menu_body {
  width: 250px;
}
.filter_menu .checkbox-wrapper,
#filter_menu .checkbox-wrapper {
  margin: 5px 0;
}
.filter_menu_footer {
  display: flex;
  padding-top: 5px;
}
.filter_menu .footer .btn {
  white-space: nowrap;
  width: 50%;
}
#admin .datatable-column-highlighted .datatable-search-btn {
  background: #ccc !important;
  pointer-events: none;
  color: #444;
}
.filter_menu .header {
  text-align: center;
  background: #ddd;
  margin: -5px;
  margin-bottom: 5px;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  padding: 3px;
  border-bottom: 1px solid #ccc;
}
.filter_menu .field-title:not(.first) {
  margin-top: 5px;
}

.datatable-wrapper .no-results {
  width: 100%;
  text-align: center;
  background: #f8f8f8;
  padding: 10px;
  font-weight: 600;
  margin-top: -10px;
  position: relative;
  .no-results;
}
.table-wrapper {
  overflow-x: auto;
  margin: 0 -10px;
}
.datatable-wrapper .flexbar {
  user-select: none;
}
.table-scroll-width {
  padding: 0 10px;
  width: fit-content;
  min-width: 100%;
}
.default-form
  .datatable-wrapper
  input:not([type="checkbox"]):not([type="radio"]),
.default-form .datatable-wrapper select {
  width: auto;
}
.datatable .btn.secondary {
  background: white;
  font-weight: 600;
  color: var(--primary-clr);
}
/*.datatable-wrapper .pagination {
    margin-right: auto;
  }*/
@media only screen and (max-width: 799px) {
  .datatable-wrapper .pagination {
    margin-left: auto;
  }
  .datatable th:not(.auto-width) {
    white-space: nowrap;
  }
}
.datatable {
  border-spacing: 0;
  text-align: left;
  width: 100%;
}
@media only screen and (min-width: 800px) {
  .datatable {
    table-layout: fixed;
  }
}
.datatable td:not(.auto-width) {
  padding: 6px 8px;
}
.datatable th:not(.auto-width) {
  padding: 9px 8px;
}
.datatable td:not(.auto-width) {
  max-width: 400px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.datatable tr:nth-child(even) {
  background: #fcfcfc;
}
.datatable tr:nth-child(odd) {
  background: #f3f3f3;
}
.datatable th {
  background: var(--primary-clr);
  color: white;
  font-weight: 600;
  user-select: none;
}

.datatable-wrapper.noOrder td:nth-child(1) * {
  visibility: hidden;
  pointer-events: none;
}

.datatable-sort-btn {
  width: 28px;
  text-align: center;
}
.datatable-search-btn {
  width: 30px;
  text-align: center;
}
.datatable th:not(:first-child),
.datatable td:not(:first-child) {
  border-left: 1px solid #0001;
}

.table-search-toggle {
  display: none;
}
.table-search-container {
  padding: 10px;
  border: 1px solid #bbb;
}

.datatable th {
  position: relative;
}
.datatable th > span {
  min-height: 29px;
}
.datatable th:before {
  position: absolute;
  content: "";
  width: calc(100% + 1px);
  height: 1px;
  background: #0006;
  top: calc(100% + 0px);
  left: -1px;
}
.datatable th:after {
  position: absolute;
  content: "";
  width: calc(100% + 1px);
  height: 1px;
  background: #0002;
  top: calc(100% + 1px);
  left: -1px;
}
.datatable th:first-child::before,
.datatable th:first-child::after {
  left: 0;
  width: 100%;
}
.has_selected_rows .selected-results-count,
.has_selected_rows .na-strone,
.has_selected_rows [data-param="rowCount"] {
  display: none;
}

.datatable td .fa-minus-circle,
.datatable td .fa-plus-circle {
  color: #aaa;
  cursor: pointer;
  transform: scale(1.5);
}
.datatable td .fa-minus-circle:hover {
  color: #c55;
}
.datatable td .fa-plus-circle:hover {
  color: #5c5;
}
.selected_rows.required:before {
  content: "Musisz wybrać min. 1 element";
  padding: 4px;
  display: block;
  text-align: center;
  background: #fdd;
  color: red;
  border: 1px solid;
  font-weight: bold;
}
.selected_rows.required {
  box-shadow: none;
}
.table-header-buttons {
  display: inline-block;
  margin-bottom: -3px;
}
.selected_rows .table-header-buttons {
  display: none;
}
.selected_rows {
  max-height: 1000px;
  overflow-y: auto;
  overflow-x: hidden;
}

.selected-results-count {
  text-align: center;
  width: 100%;
  display: inline-block;
}

.datatable .kolejnosc {
  width: 50px;
}

.table-search-wrapper .metadata-column {
  display: none;
}

.datatable-column-highlighted {
  filter: brightness(1.1);
}

.bulk_edit_checkbox + .checkbox {
  margin: -2px 0;
}

.datatable th:first-child {
  border-top-left-radius: 4px;
}
.datatable th:last-child {
  border-top-right-radius: 4px;
}
.datatable tr:last-child td:first-child {
  border-bottom-left-radius: 4px;
}
.datatable tr:last-child td:last-child {
  border-bottom-right-radius: 4px;
}

.datatable {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  padding: 10px 0;
}

.selected_rows th:first-child {
  filter: brightness(0.9);
}

.datatable-wrapper .showBtn {
  width: 100%;
}

.kolejnosc-column i {
  opacity: 0.6;
}

.has_selected_rows .kolejnosc-column {
  display: none;
}
