/* css[global] */
html {
  height: 100%;
  overflow-x: hidden;
  overflow-y: unset;
}
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
}
:root {
  --scrollbar-width: 0px;
}
body {
  min-width: calc(100vw - 20px);
  width: calc(100vw - var(--scrollbar-width));
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  line-height: 1.55;
}
p {
  margin: 0;
}
.main-container {
  flex-grow: 1;
}

.inline {
  display: inline-block;
}
.block {
  display: block;
}
.checkbox-wrapper.block {
  display: block;
}
.btn.block {
  display: block;
}

.desktopRow {
  display: flex;
}
.desktopRow > * {
  width: 100%;
}
@media only screen and (max-width: 799px) {
  .desktopRow {
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 800px) {
  .desktopRow.spaceColumns > * {
    margin: 0 10px;
  }
  .desktopRow.spaceColumns {
    margin: 0 -10px;
  }
}

button,
input[type="button"] {
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

body,
button,
input,
textarea,
.cms,
select {
  font-family: "Open Sans", sans-serif;
  /*font-family: 'Poppins', sans-serif;*/
  margin: 0;
}

/* showhover start */
.showhover {
  position: relative;
}
.showhover:not(:hover) .menucontent {
  display: none !important;
}
.showhover .menucontent {
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* showhover end */

/* buttons start */

.btn:disabled {
  opacity: 0.7;
  cursor: not-allowed !important;
  filter: contrast(0.85);
}

button,
input,
select,
textarea {
  -webkit-appearance: none;
  border: 1px solid #ccc;
  outline: none;
  margin: 0;
}
button,
input,
select,
textarea {
  border-radius: 4px;
}
input[type="button"] {
  border-radius: 4px;
}

textarea {
  resize: none;
}

.field.slim,
.btn.slim {
  padding: 0.1em 0.4em;
}
.field.tall,
.btn.tall {
  padding: 0.5em 0.5em;
}

.btn {
  border-radius: 0.2em;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border: none;
  transition: 0.1s all;
  user-select: none;
}

.btn.primary,
.btn.important,
.btn.red {
  box-shadow: inset 0px -1px 2px 0px rgba(0, 0, 0, 0.5);
}

.btn.subtle,
.cms-block-options .btn {
  box-shadow: inset 0px -1px 2px 0px rgba(0, 0, 0, 0.1);
}

.btn.transparent {
  background: none;
}

.btn.primary {
  background: var(--primary-clr);
  color: white;
}
.btn.secondary {
  background: #fafafa;
  color: var(--primary-clr);
  border: 1px solid var(--primary-clr);
  box-shadow: none;
}
.btn.subtle {
  background: var(--subtle-background-clr);
  color: var(--subtle-font-clr);
}

.btn.success {
  background: var(--success-clr);
  color: white;
}
.btn.error {
  background: var(--error-clr);
  color: white;
}

.btn.black-outline {
  color: black;
  border: 1px solid black;
  background: transparent;
}
.btn.black {
  background: black;
  color: white;
}
.btn.buff {
  padding: 0.55em 1.3em;
  min-height: 2.8em;
}
.btn:not(:disabled):hover {
  filter: brightness(1.1);
}
.btn.subtle:not(:disabled):hover {
  filter: brightness(1.015);
}
.btn.fill {
  width: 100%;
}

.btn:active {
  box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
  filter: brightness(0.97) !important;
}

/* buttons end */

.red-notification {
  background: red;
  color: white;
  padding: 0 2px;
  font-weight: normal;
  min-width: 1.3em;
  text-align: center;
  display: inline-block;
  line-height: 1.35;
}

.grabbed {
  filter: contrast(0.5);
}

/* tooltip start */

.tooltip {
  position: fixed;
  pointer-events: none;
  background: white;
  padding: 3px 4px;
  border-radius: 4px;
  font-size: 0.8rem;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.23);
  z-index: 20000000;
  max-width: 40vw;
  border: 1px solid #aaa;
}

.fa-info-circle[data-tooltip] {
  opacity: 0.75;
}

/* tooltip end */

button,
input[type="button"] {
  background: #eee;
  cursor: pointer;
}

.fb_button {
  padding: 5px 0px;
  display: inline-block;
  background: #3b5998;
  color: white;
  border-radius: 4px;
  font-size: 12px;
  width: 218px;
  text-align: center;
  box-sizing: border-box;
}
.abcRioButtonIcon {
  margin-left: 10px;
  margin-right: -10px;
}

.abcRioButtonContents span:first-child:after {
  content: " przez Google";
}
.abcRioButton.abcRioButtonLightBlue {
  height: 35px !important;
  width: 218px !important;
}
.fb-wrapper {
  display: flex !important;
  justify-content: center;
  margin-top: 10px;
}
.g-signin2 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  min-height: 35px; /* prevent bump */
}

/* new form start */
.field-title:not(.first) {
  margin-top: 0.8em;
}
.field-title {
  margin-bottom: 0.2em;
  user-select: none;
  font-weight: 600;
  display: block;
}
.field-title [data-type] {
  margin-top: 4px;
}
.field-title [data-type="src"] {
  max-width: 100%;
  max-height: 200px;
  max-width: 200px;
  display: block;
}

.flexbar:not(.slim) .btn,
.field {
  padding: 0.42em 0.8em;
}
.field {
  background-color: #fbfbfb;
  box-shadow: inset 0px 1px 5px -2px rgba(0, 0, 0, 0.2);
}
.field.small {
  padding: 1px 5px;
}
.field:not(.inline) {
  display: block;
  width: 100%;
}
.field:hover {
  border-color: #aaa;

  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.09);
}
.field:hover:not(:focus) {
  background-color: #fff;
}
.field:focus {
  border-color: #888;

  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.13);
  background-color: #fff;
}

.glue-children {
  display: flex;
}
.glue-children > *:not(:first-child) {
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.glue-children > *:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form-header {
  text-align: center;
  font-size: 22px;
  margin-bottom: 25px;
  font-weight: 600;
}
.form-header:not(.first) {
  margin-top: 25px;
}
/* new form end */
.row-padding {
  margin: 0 -8px;
}
.row-padding > * {
  padding: 8px;
}

.h1 {
  margin: 1em 0;
  font-size: 28px;
  line-height: 1.2em;
}
.social-icons a {
  padding: 5px;
  font-size: 20px;
}

.expandClick {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.expandHeader {
  color: #444;
  cursor: pointer;
  user-select: none;
  padding: 9px 0;
  position: relative;
}
.expandClick .fa-plus {
  transition: 0.2s;
}
.expandClick.expanded .fa-plus {
  transform: translateY(-50%) scaleY(0);
}
.expandHeader .fas {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.expandContent {
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
  transition: 0.2s;
}
.expandClick.expanded .expandContent {
  max-height: 500px;
  transition: 0.4s;
  opacity: 1;
}

.specyfikacja {
  /*background: #fafafa;*/
  border-spacing: 0;
  margin: 0 auto 8px;
}
.specyfikacja td {
  padding: 2px 8px;
}
.specyfikacja td:first-child {
  text-align: right;
  color: rgb(18, 165, 181);
  border-right: 1px solid rgb(18, 165, 181);
  font-weight: bold;
}

input[type="radio"] {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 100%;
  background-color: #fafafa;
  border: 1px #aaa solid;
  height: 20px;
  width: 20px;
  position: relative;
  top: 6px;
  transition: 0.2s;
}
@media (hover: hover) {
  input[type="radio"]:hover:not(:checked) {
    filter: brightness(0.9);
  }
}
input[type="radio"]:not([value=""]):checked {
  background-color: var(--primary-clr);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.username {
  padding: 7px 20px;
  background: #fcfcfc;
  max-width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333;
  font-size: 13px;
}
.timeBtn {
  background: transparent;
  border: none;
  vertical-align: middle;
}
.datepicker.center {
  text-align: center;
  padding: 4px;
  width: 95px;
}
@media only screen and (max-width: 759px) {
  .dropdown-user > .dropdown-expand {
    position: fixed !important;
    width: 100% !important;
    top: unset !important;
  }

  .item-list-full tr {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    margin: 5px 0;
  }
  .item-list-full td {
    width: auto !important;
    text-align: center !important;
  }
  .item-list-full tr:first-child {
    display: none;
  }
  .item-list-full label {
    width: auto;
    display: inline-block;
  }
  .item-list-full tr:not(:first-child) {
    background: white !important;

    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    padding-bottom: 7px;
  }
}
@media only screen and (min-width: 750px) {
  .item-list-full label {
    display: none;
  }
  .item-list-full td {
    border-bottom: 1px solid #ccc;
  }
}
.item-list-full tr:not(:first-child) td:not(:nth-child(2)) {
  font-size: 1.1rem;
}
.adjustable-list .item-list td:nth-child(4) {
  min-width: 115px;
}

table input[type="number"] {
  width: 100px;
  text-align: center;
}

.oneline {
  white-space: nowrap;
}
.text-wrap {
  white-space: normal;
}

.item-list-full tr:not(:first-child) {
  background: white !important;
}
.item-list-full td:nth-child(1) {
  text-align: center;
  width: auto !important;
}
.item-list-full td:nth-child(2) {
  width: 30%;
}
.item-list td:nth-child(3),
.item-list td:nth-child(4),
.item-list td:nth-child(5) {
  width: 15%;
  text-align: center;
}

.removeBtn,
.addBtn {
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 1px 0;
  cursor: pointer;
  display: inline-block;
  width: 24px;
  margin: 0 4px;
  background: #f7f7f7;
  color: #888;
  border: 1px solid #ccc;
}
.removeBtn:hover,
.addBtn:hover {
  background: #fff;
}
.removeBtn {
  padding-left: 2px !important;
}

hr {
  height: 1px;
  background: #0002;
  border: none;
  margin: 0;
}
.heading {
  width: 100%;
  text-align: center;
  margin: 60px 0;
  font-size: 32px;
  color: #fb0;
}
.centerVerticallyMenu {
  min-height: calc(100vh - 150px);
  flex-direction: column;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  box-sizing: border-box;
}
.rect {
  border-radius: 4px;
  padding: 2px 7px;
  color: white;
  display: inline-block;
  font-weight: normal;
  margin: 0 4px;
  font-size: 14px;
  text-align: center;

  box-shadow: none;
}
.status_rect {
  width: 179px;
}

input[type="text"]:not(.field) {
  padding-left: 4px;
  padding-right: 4px;
}

select {
  background: url(/img/dropdown.png) 100% / 20px no-repeat white;
  padding-right: 30px !important;
  padding: 0.1em 0.5em;
}
select.inline,
.btn.inline {
  width: auto;
}

.dropdown-expand {
  box-shadow: 0px 3px 14px -3px rgba(0, 0, 0, 0.2);
}

.headerplain {
  display: inline-block;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}
nav > div > a {
  font-size: 14px;
  transition: 0.3s;
}
.expandable::after {
  left: 0.15em;
}
.expandable::after,
.drop-arrow:after {
  border-style: solid;
  border-width: 0.1em 0.1em 0 0;
  content: "";
  display: inline-block;
  height: 0.4em;
  position: relative;
  top: 0.2em;
  transform: rotate(135deg);
  vertical-align: top;
  width: 0.4em;
  margin-left: 5px;
  transition: 0.3s;
  color: #555;
}

.someWidth {
  width: 40%;
}
.hideTablet {
  display: inline-block;
}
h1 {
  text-align: center;
}
/*@media (hover: hover) {*/
@media only screen and (min-width: 1200px) {
  .drop-arrow {
    display: none;
  }
  nav.centerwhenbig {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-right: auto;
    align-items: center;
    padding-right: 0;
  }
}

nav.centerwhenbig {
  width: 100%;
  order: 2;
  justify-content: center;
  padding: 0;
}

/*@media (hover: none) {
  .dropdown:hover:not(.hovered) .dropdown-expand {
    opacity: 0;
    pointer-events: none;
  }
  .dropdown-user:hover:not(.hovered) .dropdown-header {
    background: white;
  }
}*/

/*@media (hover: none) {*/
@media only screen and (max-width: 1199px) {
  .drop-arrow {
    position: absolute;
    top: 0;
    right: 0;
    width: 53px;
    height: 100%;
    background: #f5f5f5;
    border: none;
    border-left: 1px solid #eee;
  }
  .expandable:after {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .items::after {
    content: "";
    flex: auto;
  }
  .someWidth {
    width: 100% !important;
  }
  .hideTablet {
    display: none;
  }
}
a {
  text-decoration: none;
  color: inherit;
}
.items > div {
  width: 33.3333%;
  padding: 1%;
  box-sizing: border-box;
}
@media only screen and (max-width: 1000px) {
  .items > div {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 750px) {
  /*.sameButtons .btn {
    width: 100% !important;
  }*/
  .items > div {
    width: 50%;
  }
  .mobileRow {
    flex-direction: column;
  }
  .noMaxWidthMobile {
    max-width: unset !important;
  }
  .mobileRow > div {
    width: 100% !important;
    box-sizing: border-box;
  }
  .mobileCenter {
    margin-left: auto;
    margin-right: auto;
  }
  .mobileTextCenter {
    text-align: center !important;
  }
  #basket h2 {
    padding: 0;
  }
  footer > div > div {
    margin-top: 13px;
  }
}
@media only screen and (max-width: 550px) {
  .items > div {
    width: 100%;
  }
}
.pln {
  /*font-family: "Nanum Gothic", sans-serif !important;*/
  font-weight: 600;
  word-spacing: -0.1em;
}
.mobileRow {
  display: flex;
}
footer {
  background: #111;
  color: #ccc;
  padding: 25px;
  text-align: justify;
  margin-top: auto;
}
footer a {
  color: inherit;
  display: inline-block;
}
.paddingable {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.dropdown {
  position: relative;
  z-index: 50;
}
.dropdown-user {
  z-index: 1000;
}
.dropdown-header {
  cursor: pointer;
}

.dropdown-user.hovered .dropdown-header {
  background: #f5f5f5;
}

.dropdown-expand {
  transition: opacity 0.2s;
  overflow: hidden;
  position: absolute;
  background: white;
  right: 0;
  top: 100%;
  text-align: left;
  box-sizing: border-box;
  min-width: 200px;
  opacity: 0;
  pointer-events: all;
}
.dropdown.hovered {
  z-index: 200;
}

.menu_item {
  cursor: pointer;
}

.dropdown-expand .menu_item,
.dropdown-user .menu_item .dropdown-header {
  display: block;
  white-space: nowrap;
}
.dropdown-user .menu_item .dropdown-header {
  padding: 5px 20px;
}
.dropdown-user .menu_item .dropdown-header {
  font-size: 13px;
}
.dropdown-user .dropdown-expand a:hover {
  background: #eee;
}
.dropdown.hovered .dropdown-expand {
  opacity: 1;
}
.dropdown:not(.hovered) .dropdown-expand {
  pointer-events: none;
}
.dropdown > .dropdown-expand > * {
  transition: margin-bottom 0.2s;
}
.dropdown:not(.hovered) > .dropdown-expand > * {
  margin-bottom: -4px;
}

.dropdown-header:after {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-weight: 700;
  transition: transform 0.2s;
  transform-origin: 50% 50%;
}
.dropdown.hovered > .dropdown-header:after {
  transform: rotate(90deg);
}

/* deeper level? ignore */
.dropdown-expand .dropdown-expand > * {
  margin-bottom: 0 !important;
}
.dropdown-expand .dropdown-expand {
  position: static;

  box-shadow: unset;
}

.dropdown-user .menu_item.dropdown .dropdown-header {
  background: white;
}

.dropdown-user .menu_item .dropdown-expand {
  padding-left: 20px;
}

.dropdown-expand a {
  padding: 5px 13px;
}

input:read-only {
  background: #fafafa;
  color: #444;
}
.slash {
  position: relative;
}
.slash:after {
  content: "";
  width: 100%;
  background: #933;
  height: 2px;
  display: block;
  position: absolute;
  top: 11px;
  left: 2px;
  transform: rotate(-10deg);
}

.link {
  color: #16f;
  font-weight: bold;
  cursor: pointer;
}
.link:hover {
  color: #58c;
}
.linkable {
  border-bottom: 1px solid #35f;
  color: #35f;
}
.linkable:hover {
  border-bottom: 1px solid #13b;
  color: #13b;
}

/* used in f.e. tables */
.goto {
  white-space: nowrap;
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.goto-label {
  display: inline-block;
  max-width: calc(100% - 16px);
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 3px;
}

input[type="checkbox"] {
  display: none !important;
}
input[type="checkbox"]:checked ~ .checkbox {
  background-color: var(--primary-clr);
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.17);
}

.checkbox {
  background-color: #fafafa;
  height: 20px;
  width: 20px;
  display: inline-block;
  border-radius: 6px;
  transition: 0.1s;
  border: 1px solid #aaa;
  vertical-align: middle;
  transform: translateY(-1px);
  box-shadow: inset 0px 1px 5px -2px rgba(0, 0, 0, 0.2);
}
.checkbox:not(.standalone) {
  margin-right: 4px;
}

@media (hover: hover) {
  label:hover:not(:checked) .checkbox {
    filter: brightness(0.9);
  }
}

.checkbox::after {
  content: "";
  display: none;
  position: relative;
  left: 6px;
  top: 1.5px;
  width: 7px;
  height: 12px;
  border: solid white;
  border-width: 0 2.5px 2.5px 0;
  transform: rotate(40deg);
}
input[type="checkbox"]:checked ~ .checkbox::after {
  display: block;
}
:disabled ~ .checkbox {
  opacity: 0.5;
  background: #aaa;
}
:disabled ~ .checkbox {
  cursor: not-allowed;
}

.primary-link {
  font-weight: bold;
  color: #35f;
}

footer a:hover {
  text-decoration: underline;
}

/* deprecated */

.displayModal #slider {
  transform: translateX(-50%) translateY(-50%);
}

#slider {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-70%) scale(0.9);
  background-color: #f5f5f5;
  max-width: 1000px;
  padding: 7px;
  border-radius: 4px;
  width: calc(100vw - 50px);
  -webkit-transition: transform 300ms cubic-bezier(0.29, 0, 0.41, 1);
  -webkit-transition: transform 300ms cubic-bezier(0.29, 0, 0.41, 1.205);
  -moz-transition: transform 300ms cubic-bezier(0.29, 0, 0.41, 1.205);
  -o-transition: transform 300ms cubic-bezier(0.29, 0, 0.41, 1.205);
  transition: transform 300ms cubic-bezier(0.29, 0, 0.41, 1.205);
  -webkit-transition-timing-function: cubic-bezier(0.29, 0, 0.41, 1);
  -webkit-transition-timing-function: cubic-bezier(0.29, 0, 0.41, 1.205);
  -moz-transition-timing-function: cubic-bezier(0.29, 0, 0.41, 1.205);
  -o-transition-timing-function: cubic-bezier(0.29, 0, 0.41, 1.205);
  transition-timing-function: cubic-bezier(0.29, 0, 0.41, 1.205);
}

#gallery > div {
  width: 25%;
  display: block;
  border: 2px solid transparent;
  box-sizing: border-box;
  position: relative;
}

#gallery > div > img {
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.shift #gallery > div:after {
  content: "Usuń";
  color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #a005;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0 0 1px black;
  left: 0;
  top: 0;
}

#gallery {
  height: calc(100vh - 200px);
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 13px 0;
}

.disable-scroll {
  overflow: hidden;
  position: fixed;
}

/* cms start */

.preview_html {
  border: 1px solid #ccc;
  overflow-y: auto;
  min-height: 20px;
}

.cms {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.attention {
  box-shadow: inset 0px 0px 20px 0px rgb(255, 253, 113) !important;
}

.background-color,
.background-image {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  background: transparent;
  pointer-events: none;
  left: 0;
  top: 0;
}

.cms-container {
  display: flex;
  position: relative;
  width: 100%;
  background: white;
}
.cms-container-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*overflow: hidden;*/
}

.cms-block {
  display: flex;
  position: relative;
  max-width: 100%;
  width: 100%;
  /*overflow: hidden;*/
}
.cms-block-content {
  position: relative;
}

.align-vertical-top,
.align-vertical-none {
  align-items: flex-start;
}
.align-vertical-center {
  align-items: center;
}
.align-vertical-bottom {
  align-items: flex-end;
}

/*.cms-block > * {
  min-height: 100% !important;
}*/
.align-vertical-top > *,
.align-vertical-center > *,
.align-vertical-bottom > * {
  min-height: 100px !important;
}

.align-horizontal-left {
  justify-content: flex-start;
}
.align-horizontal-center {
  justify-content: center;
}
.align-horizontal-right {
  justify-content: flex-end;
}

.cms-block > * {
  width: 100%;
}
.align-horizontal-left > *,
.align-horizontal-center > *,
.align-horizontal-right > * {
  width: auto;
}

.cms-block,
.quill-editor-container,
.cms-container,
.cmsBlockBackgroundPreview {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.background-image {
  object-fit: cover;
}

.block-padding-none > *,
.block-padding-none .ql-editor {
  padding: 0;
}
.block-padding-small > *,
.block-padding-small .ql-editor {
  /*padding: 3%; 12px default */
}
.block-padding-medium > *,
.block-padding-medium .ql-editor {
  padding: 3%;
}
.block-padding-large > *,
.block-padding-large .ql-editor {
  padding: 6%;
}

.background-image {
  z-index: 1;
}
.background-color {
  z-index: 2;
}
.cms-block-content,
.cms-container-content,
.ql-editor {
  z-index: 3;
}

/* cms end */

/*.tooltip-wrapper {
  position: relative;
}*/
/*tooltip-icons
.tooltip-wrapper:not(:hover) .tooltip-content {
  display: none;
}*/
.tooltip-wrapper:not(.active) .tooltip-content {
  display: none;
}
.tooltip-content i {
  padding: 4px;
}
.tooltip-content {
  position: absolute;
  background: white;

  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.14);
}

.ql-toolbar .tooltip-content {
  border: 1px solid #ccc;
  width: calc(100% - 6px);
  left: 3px;
  padding: 10px;
}
ql-icon i {
  position: relative;
}
ql-icon i span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  display: block;
}
.tooltip-icons > div > div {
  display: inline-block;
  cursor: pointer;
}
.tooltip-icons > div > div:hover {
  background: black;
  color: white;
}
.tooltip-icons.active > i {
  background: black;
  color: white;
  padding: 3px;
  margin: -3px;
}

.checkbox-wrapper {
  user-select: none;
  display: inline-block;
  cursor: pointer;
}

.onelinecut {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.opacity-icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  transform: translateY(10%);
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(255, 255, 255, 1)),
    color-stop(100%, rgba(0, 0, 0, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=1 );
}

.expand_y.animate_hidden {
  height: 0 !important;
  min-height: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  pointer-events: none;
}
.expand_y.animating,
.expand_y.animate_hidden {
  pointer-events: none;
  overflow: hidden;
}
.hidden:not(.expand_y) {
  display: none !important;
}
.expander_space {
  display: flex;
}
.expand_arrow {
  width: 1.4em;
  height: 1.4em;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 0 !important;
}
.expand_arrow.open .fas {
  transform: rotate(90deg);
}

.category-picker {
  background: #fcfcfc;
  padding: 5px 10px;

  box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.17);
  border: 1px solid #bbb;
}
.category-picker label {
  margin: 2px;
  display: inline-block;
  cursor: pointer;
}
.category-picker-row > *,
.category-picker-row > * > * {
  vertical-align: middle;
}
.category-picker-column {
  padding: 2px 0px 2px 20px;
  width: 100%;
  overflow: hidden;
}

.category-picker-column,
.category-picker-row {
  position: relative;
}
/*.category-picker-column:before {
  position: absolute;
  left: 10px;
  top: bottom;
  height: calc(100% - 16px);
  width: 1px;
  background: #bbb;
  content: "";
}*/
.category-picker-row:before {
  position: absolute;
  left: -10px;
  bottom: 50%;
  height: 1px;
  width: 6px;
  background: #bbb;
  content: "";
}

.category-picker-row:after {
  position: absolute;
  left: -10px;
  bottom: 50%;
  height: 1000px;
  width: 1px;
  background: #bbb;
  content: "";
}

.category-picker > div > .category-picker-row:before,
.category-picker > div > .category-picker-row:after {
  display: none;
}

.breadcrumb {
  display: inline-block;
  margin-right: 10px;
}

.breadcrumb .current {
  text-decoration: underline;
  font-weight: bold;
  display: inline-block;
}

.breadcrumb > * {
  margin-bottom: 5px;
}

/* float-icon start */
.float-icon {
  position: relative;
}
.float-icon i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.6em;
  opacity: 0.7;
  font-style: normal;
}
.float-icon .fa-search {
  opacity: 0.4;
}
.float-icon:focus-within i {
  /*opacity: 0.2;
  display: none;*/
}

/* float-icon end */

/* tab menu start */

.tab-option {
  padding: 5px 10px;
  background: #fff;
  margin-bottom: -1px;
  margin-right: 5px;
  border: 1px solid #ccc;
  background: #fafafa;
  color: #666;
  cursor: pointer;
}

.tab-header {
  display: flex;
}
.tab-content {
  padding: 5px;
  border: 1px solid #bbb;
}

.tab-option.current {
  background: #fff;
  color: black;
  border-bottom-color: white;
}

/* tab menu end */

.datatable i.fas.fa-shopping-bag {
  color: #666;
}

/* miejscowosc picker start */
.miejscowosc-picker-list {
  display: none;
  position: absolute;
  max-height: 150px;
  overflow-y: auto;

  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.2);
}
input:placeholder-shown:hover + .miejscowosc-picker-list,
input:placeholder-shown + .miejscowosc-picker-list:hover {
  display: block;
  background: white;
  width: 100%;
}
.miejscowosc-picker-wrapper {
  position: relative;
}
.miejscowosc-picker-list > div {
  padding: 3px 7px;
  cursor: pointer;
}
.miejscowosc-picker-list > div:hover {
  background: #eee;
}
/* miejscowosc picker end */

/* top nav start */

/*nav [data-depth="2"] {
  padding-left: 15px;
  font-size: 0.9em;
}*/

.float-category > div {
  padding: 10px;
}
.float-category > div > a:first-child {
  margin-bottom: 5px;
  font-weight: bold;
  display: inline-block;
}
.float-category {
  background: white;
  padding: 4px;
  position: absolute;
  display: none;

  box-shadow: 0px 5px 8px -3px rgba(0, 0, 0, 0.14);
  border: 1px solid #eee;
  border-top: none;
  transition: 0.15s opacity;
  opacity: 0;
}
.float-category.visible {
  opacity: 1;
}
/* top nav end */

@keyframes blink {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  /* finish at 50% to prevent weird behaviour */
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.offline {
  opacity: 0;
  position: fixed;
  top: -50px;
  left: 50%;
  background: #cc3300;
  z-index: 900000000;
  color: white;
  padding: 7px 13px;
  font-size: 15px;
  border-radius: 4px;

  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.29);
  transform: translateX(-50%);
  font-weight: 600;
  transition: 0.3s;
  white-space: nowrap;
}

.offline.shown {
  opacity: 1;
  top: 70px;
}

/* attributes start */
.attribute-row .field {
  width: auto;
  display: inline-block;
  margin: 0px 2px;
}

.combo-select-wrapper select[data-parent_value_id].hidden,
.any-value-wrapper .field.hidden {
  display: none !important;
}

.attribute-row {
  padding: 4px 10px;
  border: 1px solid #ccc;
}

.attribute-row + .attribute-row {
  border-top: none;
}

.combo-select-wrapper select.empty:not(:focus) {
  color: #aaa;
}
/* attributes end */

.color-circle {
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  vertical-align: sub;
  margin-left: 5px;
  border-radius: 50%;

  box-shadow: inset 2px -2px 3px 0px rgba(0, 0, 0, 0.15),
    inset -2px 2px 3px 0px rgb(255 255 255 / 20%),
    0px 2px 2px 0px rgba(0, 0, 0, 0.4);
  position: relative;
}
.color-circle:after {
  content: "";
  position: absolute;
  right: 0.3em;
  top: 0.3em;
  width: 0.01em;
  height: 0.01em;
  display: block;
  background: #fff;

  box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 1);
  border-radius: 50%;
  transform: rotate(45deg) scaleY(0.5);
  opacity: 0.5;
}

.center {
  text-align: center;
}

@media only screen and (max-width: 799px) {
  .hide-mobile {
    display: none;
  }
  .full-width-mobile {
    width: 100% !important;
  }
  .auto-width-mobile {
    width: auto;
  }
}

@media only screen and (min-width: 800px) {
  .auto-width-desktop {
    width: auto !important;
  }
  .hide-desktop {
    display: none;
  }
}

.jscolor.field {
  border: none !important;

  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.18);
}

.jscolor.field.inline {
  width: 60px;
}

.align-middle {
  vertical-align: middle;
}

.flex-children-width {
  display: flex;
}
.flex-children-width * {
  min-width: 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.item-list {
  width: 100%;
  border-spacing: 0;
}
.item-list td:last-child {
  width: 70px;
}
.item-list td:first-child {
  width: 40px;
}
.item-list td {
  padding: 6px 8px;
}
/*.item-list tr:nth-child(even) {
  background: #f8f8f8;
}
.item-list tr:nth-child(odd) {
  background: #f3f3f3;
}*/

.freeze_before_load,
.freeze_before_load * {
  transition: 0s all !important;
}

h1,
h2,
h3 {
  font-weight: 600;
}
