/* css[global] */

/* responsive start */
@media only screen and (min-width: 800px) {
  .case-mobile {
    display: none;
  }
}
@media only screen and (max-width: 799px) {
  .case-desktop {
    display: none;
  }
}
/* responsive end */

/* width start */
header .logo-wrapper {
  margin-left: max(50vw - 750px, 10px);
}

header .nav-wrapper {
  margin-right: max(50vw - 750px, 10px);
}

.navigation {
  padding-left: max(50vw - 750px, calc(1px - 1px));
  padding-right: max(50vw - 750px, calc(1px - 1px));
}
/* width end */

header {
  position: fixed;
  min-width: calc(100vw - 20px);
  width: calc(100vw - var(--scrollbar-width));
  top: 0;
  left: 0;
  z-index: 600;
  height: 0;
}
header .header-top {
  display: flex;
  flex-wrap: wrap;
  background: white;
  position: relative;
  z-index: 2;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
}

header .logo-wrapper img {
  width: clamp(85px, 10vw, 120px);
  display: block;
  margin: 10px;
}

/* nav start */
header nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: #fafafa;
  overflow: hidden;
  box-shadow: 0px 3px 14px -3px rgba(0, 0, 0, 0.08);
  border-bottom: 1px solid #ccc;
}

@media only screen and (max-width: 799px) {
  header nav {
    display: none;
  }
}

header nav.collapsed {
  transform: translateY(-100%);
  pointer-events: none;
}

header nav > div {
  flex-grow: 1;
}

.navigation a {
  display: block;
}

header nav > div > a {
  display: block;
  padding: 20px 14px;
  width: 100%;
  text-align: center;
}

nav > div > a.current-route {
  background: var(--primary-clr);
  color: white;
}
nav > div:hover > a:not(.current-route) {
  color: var(--primary-clr);
  background: #0001;
}
nav > div:hover > a:not(.current-route) > * {
  text-decoration: underline;
}

#mainMenu .navigation a {
  padding: 10px;
  width: 100%;
  border-top: 1px solid #ccc;
}

#mainMenu .navigation div:last-child a {
  border-bottom: 1px solid #ccc;
}

/* nav end */

/* user start */

header .user-wrapper {
  text-align: center;
  font-size: 14px;
  position: relative;
}

header .user-menu {
  transition: opacity 0.2s;
  overflow: hidden;
  position: absolute;
  background: white;
  min-width: 100%;
  right: 0;
  top: 100%;
  text-align: left;
  opacity: 0;
  pointer-events: all;
  z-index: 200;
  box-shadow: 0px 4px 12px -3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.user-menu .menu_item {
  width: 100%;
  display: block;
  padding: 4px 9px;
  background: white;
}
.menu_item.admin {
  color: #05c;
  background: #fafafa;
}
.user-menu .menu_item:hover {
  filter: brightness(0.95);
}

header .user-wrapper:hover .user-menu {
  opacity: 1;
  pointer-events: auto;
}

header .nav-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
}

.my-acc-text {
  display: inline-block;
  max-width: 250px;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: text-top;
}

/* user end */

/* basket start */

header .basket-wrapper {
  position: relative;
  max-width: 250px;
  height: 50px;
  min-width: 50px;
}
header .basket-wrapper > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
header .basket-wrapper h2 {
  margin: 0;
}

header .basket-wrapper:hover .nav_basket_content {
  opacity: 1;
  pointer-events: auto;
}

.basket-wrapper .basket-icon {
  width: 40px;
  vertical-align: middle;
  margin-bottom: 4px;
}

.nav-wrapper .user-icon {
  width: 27px;
  vertical-align: middle;
  margin-bottom: 4px;
}

.nav-wrapper .dropdown-header:after {
  content: "";
}

.basket-wrapper .basket-icon-wrapper {
  display: inline-block;
  position: relative;
  margin-top: 3px;
}

header .basket-wrapper .basket_item_count {
  font-weight: bold;
  position: absolute;
  display: inline-block;
  left: -5px;
  font-size: 12px;
  width: 50px;
  text-align: center;
  top: 19px;
}

.nav-wrapper .menu-icon {
  width: 21px;
  transform: scaleY(1.3) translateY(2px);
  margin-right: -5px;
}

.nav_basket_content {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 250px;
  box-sizing: border-box;
  margin: 0 5%;
  background-color: white;
  box-shadow: 0px 4px 12px -3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  top: 99%;
  z-index: 10000;
  right: 0;
}

.nav_basket_content .product-image,
#basketMenu .product-image {
  width: 80%;
  margin: 10px 10% 5px;
  object-fit: contain;
  max-width: 80vw;
}

.basketSplit {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}
.basketItemsWrapper {
  position: relative;
}
header .scrollableContent {
  padding: 20px 0;
  max-height: calc(100vh - 280px);
  overflow-y: auto;
}
.basketItemsWrapper::before {
  content: "";
  position: absolute;
  top: -15px;
  width: 100%;
  height: 20px;
  background-color: white;
  filter: blur(10px);
  left: 0;
}
.basketItemsWrapper::after {
  content: "";
  position: absolute;
  bottom: -15px;
  width: 100%;
  height: 20px;
  background-color: white;
  filter: blur(10px);
  left: 0;
}
.scrollableContent::-webkit-scrollbar {
  width: 10px;
  background-color: #efefef;
  border-radius: 5px;
}
.scrollableContent::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 5px;
}

/* basket end */

/* search start */

header .main-search-wrapper {
  width: auto;
  flex-grow: 1;
  align-self: center;
  max-width: min(500px, 40vw);
  margin: auto;
  position: relative;
}

header .main-search-wrapper:not(.active) .search-results {
  display: none;
}

.search-results {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  box-shadow: 0px 4px 12px -3px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.search-results .result {
  padding: 2px 5px;
  background: white;
  cursor: pointer;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.search-results .result.selected {
  background: #f3f3f3;
}

.search-results .result:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.main-search-wrapper .search-icon {
  width: 16px;
  filter: invert();
  transform: translateY(2px);
}

.mobile-main-search-wrapper .search-icon {
  width: 25px;
  transform: translateY(2px);
}

header .main-search-wrapper input {
  width: 100%;
  padding: 8px 12px;
}

.main-search-wrapper {
  position: relative;
}
#mainSearch .main-search-wrapper {
  display: flex;
}
#mainSearch .main-search-wrapper label {
  flex-grow: 1;
}
#mainSearch .main-search-wrapper label input {
  width: 100%;
}
#mainSearch .result {
  padding: 6px 9px;
}

/* search end */
