/* css[global] */

/* miscellaneous start */

@media only screen and (min-width: 800px) {
  .case-mobile {
    display: none !important;
  }
}
@media only screen and (max-width: 799px) {
  .case-desktop {
    display: none !important;
  }
}

.modal-body .header img {
  margin-right: 10px;
}

@media only screen and (min-width: 1300px) {
  .headerbtn {
    margin-left: 5px;
  }
}

.headerbtn {
  padding: 5px 7px;
  border-radius: 6px;
  transition: 0.2s all;
  height: 3em;
  min-width: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

header .heart-icon,
#wishList .heart-icon {
  width: 30px;
}
/*@media only screen and (max-width: 360px) {
  .headerbtn {
    margin: -2px;
    transform: scale(0.95);
  }
}

@media only screen and (max-width: 340px) {
  .headerbtn {
    margin: -4px;
    transform: scale(0.9);
  }
}*/

.navigation .product-history-icon {
  width: 25px;
  vertical-align: middle;
  margin-bottom: -5px;
  transform: translateY(-3px);
  margin-right: 1px;
}
.navigation .heart-icon {
  width: 22px;
  vertical-align: middle;
  margin-bottom: -5px;
  transform: translateY(-4px);
  margin-right: 3px;
  margin-left: 1px;
}

/* miscellaneous end */

/* width start */
.page-header .logo-wrapper {
  margin-left: max(50vw - 750px, 10px);
}

.page-header .nav-wrapper {
  margin-right: max(50vw - 750px, 10px);
}

.navigation {
  padding-left: max(50vw - 750px, calc(1px - 1px));
  padding-right: max(50vw - 750px, calc(1px - 1px));
}
/* width end */

.page-header {
  position: fixed;
  min-width: calc(100vw - 20px);
  width: calc(100vw - var(--scrollbar-width));
  top: 0;
  left: 0;
  z-index: 600;
  height: 0;
}
header .header-top {
  display: flex;
  flex-wrap: wrap;
  background: white;
  position: relative;
  z-index: 2;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
}

.logo-default {
  width: max(85px, min(10vw, 120px));
  height: max(38.25px, min(4.5vw, 54px));
  display: block;
  margin: 10px;
  object-fit: contain;
}

/* nav start */
header nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: #fafafa;
  overflow: hidden;
  box-shadow: 0px 3px 14px -3px rgba(0, 0, 0, 0.08);
  border-bottom: 1px solid #ccc;
}

@media only screen and (max-width: 799px) {
  header nav {
    display: none;
  }
}

header nav.collapsed {
  transform: translateY(-100%);
  pointer-events: none;
}

header nav > div {
  flex-grow: 1;
}

.navigation a {
  display: block;
}

header nav > div > a {
  display: block;
  padding: 20px 14px;
  width: 100%;
  text-align: center;
}

nav > div > a.current-route {
  background: var(--primary-clr);
  color: white;
}
nav > div:hover > a:not(.current-route) {
  color: var(--primary-clr);
  background: #0001;
}
nav > div:hover > a:not(.current-route) > * {
  text-decoration: underline;
}

#mainMenu .navigation a {
  padding: 10px 12px;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

/* nav end */

/* user start */

header .user-wrapper {
  text-align: center;
  font-size: 14px;
  position: relative;
}

header .user-menu {
  transition: opacity 0.2s;
  overflow: hidden;
  position: absolute;
  background: white;
  min-width: 100%;
  right: 0;
  top: 100%;
  text-align: left;
  opacity: 0;
  pointer-events: none;
  z-index: 200;
  box-shadow: 0px 4px 12px -3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.user-menu .menu_item {
  width: 100%;
  display: block;
  padding: 4px 9px;
  background: white;
}

.user-menu .menu_item.border-top {
  border-top: 1px solid #ddd;
}
.user-menu .menu_item.border-bottom {
  border-bottom: 1px solid #ddd;
}

.menu_item.admin {
  color: #05c;
  background: #fafafa;
}
.user-menu .menu_item:hover {
  filter: brightness(0.95);
}

header .user-wrapper:hover .user-menu {
  opacity: 1;
  pointer-events: auto;
}

header .nav-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
}

.my-acc-text {
  display: inline-block;
  max-width: 250px;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: text-top;
}

@media only screen and (max-width: 799px) {
  .user-menu .menu_item {
    padding: 7px 10px;
    border-top: 1px solid #ddd;
  }
  .user-menu .menu_item:last-child {
    border-bottom: 1px solid #ddd;
  }
  .user-menu .menu_item:not(:last-child) {
    border-bottom: unset !important;
  }

  .user-menu .username {
    max-width: unset !important;
    font-size: 15px;
    text-align: center;
  }
}

/* user end */

/* basket start */
.basket-btn {
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}

header .basket-wrapper {
  max-width: 250px;
  /*min-width: 50px;*/
}
header .basket-wrapper > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
header .basket-wrapper h2 {
  margin: 0;
}

header .headerbtn:hover .headerbtn_hover_content {
  opacity: 1;
  pointer-events: auto;
}

.basket-wrapper .basket-icon,
#basketMenu .basket-icon {
  width: 34px;
}

.basket-wrapper .basket-icon {
  margin-bottom: 2px;
  vertical-align: middle;
}
#basketMenu .basket-icon-wrapper {
  margin-top: 4px;
}

.nav-wrapper .user-icon,
#userMenu .user-icon,
#loginForm .user-icon {
  width: 27px;
  vertical-align: middle;
  margin-bottom: 2px;
}

.nav-wrapper .dropdown-header:after {
  content: "";
}

.basket-icon-wrapper {
  display: inline-block;
  position: relative;
}

header .basket_item_count,
#basketMenu .basket_item_count {
  font-weight: bold;
  position: absolute;
  display: inline-block;
  left: -8px;
  font-size: 14px;
  width: 50px;
  text-align: center;
  top: 12px;
}

.nav-wrapper .menu-icon,
#mainMenu .menu-icon {
  width: 21px;
  transform: scaleY(1.4);
}
#mainMenu .menu-icon {
  margin-top: 1px;
}

.header_product_list {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  min-width: 250px;
  box-sizing: border-box;
  margin: 0 5%;
  background-color: white;
  box-shadow: 0px 4px 12px -3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  top: 99%;
  z-index: 10000;
  right: 0;
}

header .header_basket_content_wrapper {
  max-height: calc(90vh - 150px);
}

.header_product_list .product-image,
#basketMenu .product-image {
  width: 80%;
  margin: 10px 10% 5px;
  object-fit: contain;
  max-width: 80vw;
}

#basketMenu .scroll-panel.panel-padding {
  padding: 0;
}

header .smooth-scrollbar::-webkit-scrollbar {
  width: 10px;
  background-color: #efefef;
  border-radius: 5px;
}
header .smooth-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 5px;
}

header .product-block {
  width: 250px;
}

header .product-title span,
#basketMenu .product-title span {
  width: 100%;
  text-align: center;
}

.nav_basket_summary {
  width: 100%;
}

/*@media only screen and (max-width: 799px) {
  #basketMenu .product-title span {
    width: 100%;
    text-align: center;
  }
}*/

@media only screen and (min-width: 1300) {
  .header_product_list {
    right: -30px;
  }
}

/* basket end */

/* search start */

header .main-search-wrapper {
  width: auto;
  flex-grow: 1;
  align-self: center;
  max-width: min(500px, 40vw);
  margin: auto;
  position: relative;
}

header .main-search-wrapper:not(.active) .search-results,
.search-results:empty {
  display: none;
}

.main-search-wrapper button {
  width: 44px;
}

.search-results {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  box-shadow: 0px 4px 12px -3px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #ddd;
}

.search-results .result {
  padding: 2px 5px;
  background: white;
  cursor: pointer;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.search-results .result.selected {
  background: #f3f3f3;
}

.search-results .result:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.any-search-wrapper .search-icon {
  width: 16px;
  filter: invert(1);
  transform: translateY(2px);
}

.search-btn.can-disappear {
  z-index: 10;
  opacity: 1;
  position: absolute;
  right: 0;
  height: 100%;
}

.mobile-main-search-wrapper .search-icon {
  width: 23px;
  transform: translateY(3px);
}
#mainSearch .search-icon {
  width: 23px;
  transform: translateY(1px);
}

.any-search-wrapper input {
  width: 100%;
  padding: 8px 12px;
  /*padding: 8px 16px;
  border-radius: 20px;
  transition: all 0.2s;*/
}
/*.any-search-wrapper input + button {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: all 0.2s;
}*/

/*.any-search-wrapper.has_results input {
  border-bottom-left-radius: 0;
}
.any-search-wrapper.has_results input + button {
  border-bottom-right-radius: 0;
}*/

.main-search-wrapper {
  position: relative;
}
#mainSearch .main-search-wrapper {
  display: flex;
}
#mainSearch .main-search-wrapper label {
  flex-grow: 1;
}
#mainSearch .main-search-wrapper label input {
  width: 100%;
}
#mainSearch .result {
  padding: 6px 9px;
}

/* search end */

/* hover effects start */
@media (hover: hover) {
  .headerbtn:hover {
    background: #0001;
  }
}
/* hover effects end */

/* last viewed products start */

header .last_viewed_products_wrapper {
  max-height: calc(90vh - 100px);
}

header .product-history-icon,
#lastViewedProducts .product-history-icon {
  width: 34px;
}

#lastViewedProducts .modal-header {
  font-size: 16px;
  padding-right: 53px;
}

/* last viewed products end */
