/* css[global] */

.rating {
	direction: rtl;
	white-space: nowrap;
	user-select: none;
	-webkit-user-select: none;
	display: inline-block;
	margin: 0 5px;
	font-size: 0.9em;
}
.rating > span {
	display: inline-block;
	position: relative;
	color: #bbb;
	line-height: 0;
}

.rating > span:after {
	content: "";
	background: url(/img/star-gray.png);
	width: 1em;
	height: 1em;
	display: inline-block;
	background-size: 1em 1em;
	transition: 0.2s all;
	z-index: 2;
}

.rating > span:before {
	position: absolute;
	background: url(/img/star.png);
	content: " ";
	width: 1em;
	height: 1em;
	background-size: 1em 1em;
	top: 0;
	left: 0;
	opacity: 0;
	transition: 0.2s all;
	z-index: 1;
}

.rating1 > span:nth-child(5):before,
.rating2 > span:nth-child(5):before,
.rating2 > span:nth-child(4):before,
.rating3 > span:nth-child(5):before,
.rating3 > span:nth-child(4):before,
.rating3 > span:nth-child(3):before,
.rating4 > span:nth-child(5):before,
.rating4 > span:nth-child(4):before,
.rating4 > span:nth-child(3):before,
.rating4 > span:nth-child(2):before,
.rating5 > span:nth-child(5):before,
.rating5 > span:nth-child(4):before,
.rating5 > span:nth-child(3):before,
.rating5 > span:nth-child(2):before,
.rating5 > span:nth-child(1):before,
.my-rating > span:hover:before,
.my-rating > span:hover ~ span:before {
	opacity: 1;
}

.my-rating > span:hover:not(:active):before {
	transform: scale(1.15);
	filter: brightness(1.15) drop-shadow(0px 2px 0 #0005);
}
.my-rating > span:active:before {
	filter: brightness(1.07);
	transform: scale(1.07);
}

.my-rating {
	cursor: pointer;
}

.rating15 > span:nth-child(4):before,
.rating25 > span:nth-child(3):before,
.rating35 > span:nth-child(2):before,
.rating45 > span:nth-child(1):before {
	width: 50% !important;
}
