/* css[global] */

input,
select {
  font-size: 1em;
  width: 185px; /* default width man */
}

/* buttons */
.btn {
  font-size: 15px;
  padding: 0.25em 0.7em;
  min-height: 2.1em;
}
.btn.medium {
  font-size: 18px;
}
.btn.big {
  font-size: 22px;
}
.btn.large {
  font-size: 29px;
}
.btn.xlarge {
  font-size: 38px;
}
/* buttons */

body,
.ql-editor,
.ql-size .ql-picker-options {
  font-size: 15px;
}

/*
@media only screen and (min-width: 900px) {
  body,
  .ql-editor,
  .ql-size .ql-picker-options {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1500px) {
  body,
  .ql-editor,
  .ql-size .ql-picker-options {
    font-size: 17px;
  }
}
*/
