/* css[global] */

.simple-list > .list {
  overflow-y: auto;
  overflow-x: hidden;
}

.simple-list .controls {
  display: flex;
  padding: 5px;
  background: #ccc;
  border: 1px solid #bbb;
}

div.list .simple-list-row {
  margin: -1px;
  padding-right: 10px;
  display: flex;
  align-items: center;
}

.simple-list-row .btn.fas {
  height: 25px;
  width: 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.simple-list-row > .fa-times,
.simple-list-row > td > .fa-times {
  color: #c22 !important;
  border-color: #c22 !important;
  margin-left: 5px;
}
.simple-list-row > .fa-times:hover,
.simple-list-row > td > .fa-times:hover {
  background: #c22 !important;
  color: #fff !important;
}

.simple-list .sub-list {
  padding-left: 35px;
}

.simple-list-row-wrapper {
  background: #aaa4;
  padding: 10px 0 10px 10px;
}

.simple-list .sub-list > .list > .simple-list-row-wrapper:first-child {
  padding-top: 5px;
}

.simple-list-row-wrapper {
  border: 1px solid #aaac;
}

.simple-list-row-wrapper:not(:last-child) {
  border-bottom: none;
}

.simple-list .sub-list .simple-list-row-wrapper {
  border-right: none;
}

.simple-list .field {
  padding: 1px 5px;
}

.simple-list .add_btn {
  border: none;
  width: 100%;
}

.simple-list .add_begin {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.simple-list .add_end {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.simple-list .list .add_begin {
  margin-top: 10px;
}
.simple-list .list .add_end {
  margin-bottom: 5px;
}

.simple-list > .add_btn {
  background: #5c5;
}
.simple-list
  .list[data-depth="1"]
  > .simple-list-row-wrapper
  > .sub-list
  > .add_btn {
  background: #6bb;
}
.simple-list
  .list[data-depth="2"]
  > .simple-list-row-wrapper
  > .sub-list
  > .add_btn {
  background: #66b;
}

.simple-list .list[data-depth="1"] {
  background: #dfd;
}

.simple-list .list[data-depth="2"] {
  background: #dff;
}

.simple-list .list[data-depth="3"] {
  background: #ddf;
}

/* if empty */
.simple-list[data-count="0"] > .add_btn.add_begin {
  border-radius: 4px;
}
.simple-list[data-count="0"] > .add_btn.add_end,
.simple-list[data-count="0"] table {
  display: none;
}

/* slim paddings */
.simple-list.slim .simple-list-row {
  padding-right: 5px;
}
.simple-list.slim .simple-list-row-wrapper {
  padding: 5px 0 5px 5px;
}

.simple-list[data-count="0"].required > .add_btn.add_begin {
  background: #d33;
}

.simple-list table {
  width: 100%;
  border-spacing: 0;
}

.simple-list th {
  background: var(--primary-clr);
  color: white;
  font-weight: 600;
  padding: 4px 6px;
  text-align: left;
}

.simple-list.has_header .add_begin {
  width: 90px;
  border-radius: 4px;
  margin-left: 3px;
}
