/* css[global] */

.wo997_slider:not(.wo997_slider_ready) {
	/*display: none;*/
}

.wo997_slider {
	position: relative;
	user-select: none;
	-webkit-user-select: none;
}

.wo997_slides_container {
	overflow-x: hidden;
}

.wo997_slides_wrapper {
	display: inline-flex;
	min-width: 100%;
}

.wo997_slide {
	width: var(--slide_width);
	padding: var(--slide_padding);
	flex-shrink: 0;
	position: relative;
}

.wo997_slider .nav {
	body.touch_device & {
		display: none !important;
	}
	& {
		--nav_size: 50px;
		position: absolute;
		top: calc(50% - 0.5 * var(--nav_size));
		width: var(--nav_size);
		height: var(--nav_size);
		display: flex;
		border-radius: 50px;
		justify-content: center;
		align-items: center;
		box-shadow: 0 1px 5px -1px #0008;
		cursor: pointer;
		overflow: hidden;
		transition: all 0.2s, left 0s, right 0s;

		background: #fff8;
		opacity: 0.5;
	}

	&:hover {
		background: #fffc;
		opacity: 0.8;
	}

	&.nav_prev {
		left: 10px;
	}
	&.nav_next {
		right: 10px;
		transform: scale(-1, 1);
	}

	& svg {
		width: 12px;
		display: block;
		position: relative;
		margin-left: -2px;
	}
}

.wo997_slider {
	&.first_slide .nav_prev {
		transform: scale(0.5, 0.5);
		opacity: 0;
		pointer-events: none;
	}
	&.last_slide .nav_next {
		transform: scale(-0.5, 0.5);
		opacity: 0;
		pointer-events: none;
	}
}

.wo997_slide::before {
	content: "";
	position: absolute;
	left: var(--slide_padding);
	top: var(--slide_padding);
	width: calc(100% - 2 * var(--slide_padding));
	height: calc(100% - 2 * var(--slide_padding));
	border: 2px solid var(--primary-clr);
	border-radius: 4px;
	box-shadow: 0 2px 4px 0 #0002;
	opacity: 0;
	transition: 0.2s opacity;
}

.wo997_slide.selected_slide::before {
	opacity: 1;
}

.slider_below .wo997_slide {
	cursor: pointer;
}

.wo997_slider.nav_out {
	.nav_prev {
		left: -55px;
	}
	.nav_next {
		right: -55px;
	}
}
