/* css[global]*/

.swiper-nav {
  transition: 0.2s all;
}
.swiper-nav.swiper-button-disabled {
  transform: scale(0);
}

.swiper-all .swiper-pagination.swiper-pagination-bullets {
  margin-top: -25px;
}
.swiper-all span.swiper-pagination-bullet {
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.4);
  margin: 2px;
  transform: scale(1.2);
}

@media only screen and (max-width: 799px) {
  .slide-desktop {
    display: none;
  }
}
@media only screen and (min-width: 800px) {
  .slide-mobile {
    display: none;
  }
}

.swiper-nav {
  background-image: none !important;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-all .swiper-nav img {
  width: 16px;
  filter: invert(1);
  position: relative;
  top: 1px;
}

.swiper-all .swiper-button-prev img {
  transform: scale(-0.8, 1);
}
.swiper-all .swiper-button-next img {
  transform: scale(0.8, 1);
}
