/* css[global] */

@media only screen and (min-width: 800px) {
  #loginForm .modal-body {
    width: 350px;
    max-height: calc(100% - 20px);
    max-width: calc(100% - 20px);
  }

  #loginForm .modal-body .scroll-panel {
    padding: min(calc(10px + 1vw), 20px);
  }
}
