/* css[view] */

.categories_wrapper {
	& {
		position: relative;
	}
	product-categories-comp {
		&.main > list-comp {
			& {
				padding: 1px;
			}
		}
		& .category_name {
			font-weight: 700;
			width: 250px;
			padding: 0 10px;
			display: inline-block;
		}
		& .category_wrapper {
			& {
				background: #eee;
				display: inline-block;
				padding: 5px;
				border: 1px solid #999;
				position: relative;
			}
			& .btn.subtle {
				--btn-border-clr: #0004;
				--btn-background-clr: #00000012;
			}
			&::before {
				position: absolute;
				display: block;
				width: 0;
				transition: 0.15s width;
				content: "";
				top: -1px;
				left: -1px;
				bottom: -1px;
				background: var(--primary-clr);
			}
			&.row_highlight {
				&::before {
					width: 6px;
				}
			}
		}
		& product-categories-comp {
			& {
				margin-left: 33px;
			}
			& .category_name {
				font-weight: 600;
			}
			& .category_wrapper {
				background: #fafafa;
			}
			& product-categories-comp {
				& .category_name {
					font-weight: 400;
				}
			}
		}
	}

	.overlay {
		position: absolute;
		left: 1px;
		top: 1px;
		right: 1px;
		bottom: 1px;
		pointer-events: none;
		background: white;
		z-index: 900;
	}
}
