/* css[view] */

.categories_wrapper {
	& {
		position: relative;
	}
	product-categories-comp {
		&.main > list-comp {
			& {
				padding: 1px;
			}
		}
		& .category_name {
			& {
				font-weight: 600;
				width: 250px;
				padding: 0 10px;
				display: inline-block;
			}
		}
		& .category_wrapper {
			& {
				background: #eee;
			}
			& .btn.subtle {
				--btn-border-clr: #0003;
				--btn-background-clr: #00000012;
			}
		}
		& product-categories-comp {
			& {
				margin-left: 33px;
			}
			& .category_name {
				font-weight: 400;
			}
			& .category_wrapper {
				background: #fafafa;
			}
		}
		&.categories {
			box-shadow: inset 0 0 0 1px #ccc;
		}
		& .category_wrapper {
			& {
				display: inline-block;
				padding: 5px;
				border: 1px solid #aaa;
			}
			&.row_highlight {
				& {
					// border-color: var(--primary-clr);
					// box-shadow: inset 0px 0px 0px 1px var(--primary-clr);
					// box-shadow: 0px 2px 3px 0px #000d;
					// position: relative;
					// z-index: 10;
					// background: var(--primary-clr);
					// color: #fff;
					border-left-color: var(--primary-clr);
					box-shadow: inset 8px 0 0 -4px var(--primary-clr);
				}
				& .category_name {
					text-decoration: underline;
				}
			}
		}
	}

	.overlay {
		position: absolute;
		left: 1px;
		top: 1px;
		right: 1px;
		bottom: 1px;
		pointer-events: none;
		background: white;
		z-index: 900;
	}
}
