/* css[view] */

product-category-comp {
	&.comp {
	}
	.category_wrapper {
		display: inline-block;
		padding: 5px;
		border: 1px solid #ccc;
		background: white;
	}
	& > product-categories-comp {
		margin-left: 50px;
	}
}
