/* css[tool_newCms] */

.newCms_block.container > .newCms_block_content {
	/*display: flex;*/
	/*flex-shrink: 0;*/
	position: relative;
}

.newCms_block.container > .newCms_block_content {
	/*flex-flow: column;*/
}

.newCms_block.container_row > .newCms_block_content {
	flex-flow: row wrap;
}

/* block inside of a block caused the margins to collapse, the solution down below is simple, make it flex! ;)
    it is just fucked up everything again :/ we need them to flex but we are back to the same shit
    putting flex again does seem to fix it maybe idk
*/
.newCms_block_content {
	display: flex;
	flex-flow: column;
	flex-grow: 1;
	flex-shrink: 1;
}

/*.newCms_block::before,
.newCms_block::after {
	content: " ";
	display: table;
}*/
