/* css[tool_newCms] */

.newCmsContent_copy {
	position: absolute;
	left: 0;
	top: 0;
	width: calc(100% - 12px);
	pointer-events: none;
	opacity: 1;
	z-index: 1000;
}

.newCmsContent_copy:not(.visible) {
	display: none;
}

.newCmsContent_copy {
	& .animation_cramp {
		opacity: 0 !important;
		pointer-events: none !important;
	}
}
