/* css[tool_newCms] */

.newCms_block.container {
	.newCms.grabbed_block &,
	&.select_active,
	&.rearrange_possible {
		& > .newCms_block_content::before {
			& {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background-color: inherit;
				filter: contrast(0.9);
			}
			/*.newCms.grabbed_block & {
				filter: contrast(0.8);
			}*/
		}
	}
}
