/* css[tool_newCms] */

.newCmsContent_copy {
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
	opacity: 1;
	z-index: 1000;
}

.newCmsContent_copy:not(.visible) {
	opacity: 0;
}

.newCmsContent_copy .cramped {
	display: none !important;
}
