/* css[tool_newCms] */

.edit_block_node {
	& {
		position: absolute;
		z-index: 9000;
		transition: 0.2s opacity;
	}
	&:not(.visible) {
		opacity: 0;
		pointer-events: none;
	}
	& .btn:hover {
		background: var(--primary-clr);
		border-color: var(--primary-clr);
		color: white;
	}
	& .btn.remove_btn:hover {
		background: var(--red-clr);
		border-color: var(--red-clr);
	}
	& .btn {
		box-shadow: 0 2px 3px -1px #0004;
		border: 1px solid #ccc;
		margin-left: -1px;
	}
	.space_btn {
		margin-left: 10px;
	}
}
