/* css[tool_newCms] */

.newCms_block[data-block="grid"] {
	& > .newCms_block_content {
		& {
			display: grid;
			min-width: 200px;
			min-height: 200px;
		}
		& > * {
			/*min-width: 60px; just height lol */
			min-height: 60px;
		}
	}
	&.select_active,
	&.rearrange_possible {
		& > .newCms_block_content::before {
			& {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background-color: inherit;
				filter: brightness(0.93);
			}
			.newCms.grabbed_block & {
				filter: brightness(0.85);
			}
		}
	}
}

.grid_wireframe_line {
	position: relative;
	pointer-events: none;
	z-index: 110;
}
.grid_wireframe_line {
	&:before,
	&:after {
		content: "";
		position: absolute;
		background-image: repeating-linear-gradient(
			-45deg,
			#0003 0px 6px,
			#0000 6px 12px
		);
		transition: opacity 0.2s;
	}
}
.grid_wireframe_line_left:before {
	left: -1px;
	top: 0;
	width: 2px;
	height: 100%;
}
.grid_wireframe_line_top:before {
	left: 0;
	top: -1px;
	width: 100%;
	height: 2px;
}
.grid_wireframe_line_right:after {
	right: -1px;
	top: 0;
	width: 2px;
	height: 100%;
}
.grid_wireframe_line_bottom:after {
	left: 0;
	bottom: -1px;
	width: 100%;
	height: 2px;
}
