/* css[tool_newCms] */

:root {
	--rearrange_control_width: 26px;
	--rearrange_control_height: 26px;
}

.rearrange_controls {
	& {
		transition: opacity 0.2s;
		position: relative;
		z-index: 500;
	}
	&:not(.visible) {
		opacity: 0;
		pointer-events: none;
	}
}

.rearrange_control {
	& {
		position: absolute;
		width: var(--rearrange_control_width);
		height: var(--rearrange_control_height);
		background: #ccc;
		border: 1px solid #0008;
		color: #222;
		/*opacity: 0.55;*/
		border-radius: 4px;
		transition: 0.2s all;
		font-size: 1.15em;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		box-shadow: 0 1px 1px 0 #0005;
	}
	&.unavailable {
		opacity: 0;
		pointer-events: none;
	}
	&.first_grid_node {
		pointer-events: none;
	}
	&.grid_control {
		border-radius: 50%;
	}
	&.rearrange_possible,
	&.first_grid_node {
		opacity: 1;
		background: var(--primary-clr);
	}
	&.rearrange_possible > *,
	&.first_grid_node > * {
		filter: invert(1);
	}
	& > * {
		transition: 0.2s all;
	}
}

.rearrange_insert_rect {
	position: absolute;
	pointer-events: none !important;
	background-image: repeating-linear-gradient(
		-45deg,
		#fff3 0px 10px,
		#0003 10px 20px
	);
}
.rearrange_insert_rect:not(.visible),
.newCms {
	&:not(.grabbed_block) .rearrange_insert_rect,
	&:not(.rearrange_possible) .rearrange_insert_rect {
		opacity: 0;
	}
}

.rearrange_grabbed_rect {
	position: absolute;
	background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%230000004F' stroke-width='4' stroke-dasharray='5%2c 9' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
	background-color: #8881;
	z-index: 110;
	pointer-events: none;
}

.rearrange_grabbed_rect:not(.visible) {
	opacity: 0;
	pointer-events: none;
}

.newCms_block.grabbed {
	background: #aaa3;
}

.newCms_block.grabbed,
.rearrange_node > .newCms_block {
	/*overflow: hidden;*/
}

.newCms_block.grabbed,
.side_block.grabbed {
	opacity: 0.4 !important;
	box-shadow: 0 4px 12px -1px #0008;
	pointer-events: none !important;
	position: relative;
	z-index: 1000;
}

.newCms .sidebar .grabbed,
.newCms .content_scroll_panel .grabbed.newCms_block {
	opacity: 0 !important;
}

.newCms.grabbed_block .sidebar {
	pointer-events: none;
}

.newCms.grabbed_block * {
	cursor: not-allowed !important;
}

.newCms.grabbed_block.rearrange_possible .content_scroll_panel * {
	cursor: pointer !important;
}

.content_scroll_panel.grabbed_block .newCms_block.container {
	border-color: #ccc7 !important;
}

.newCms.grabbed_block {
	.newCms_block.container {
		box-shadow: 0px 0px 0px 2px #bbb, inset 0px 0px 0px 2px #bbb;
	}

	/*.newCms_block:not(.container),
	.select_controls {
		filter: contrast(0.9) brightness(1.1);
	}*/

	.newCms_block[data-block="grid"] > .newCms_block_content {
		pointer-events: none;
	}
}

.rearrange_node {
	position: absolute;
	pointer-events: none;
	z-index: 9000;
}

.rearrange_node:not(.visible) {
	display: none;
}

.newCms.animating_rearrangement {
	& .content_responsive_wrapper {
		&::before,
		& > .shadow-node {
			z-index: 20000;
		}
	}
	& .newCms_block {
		flex-grow: 0 !important;
		flex-shrink: 0 !important;
	}
}
