/* css[tool_newCms] */

:root {
	--select_control_width: 26px;
	--select_control_height: 26px;
}

.select_controls {
	& {
		transition: opacity 0.2s;
		position: relative;
		z-index: 210;
	}
	&.non_clickable {
		pointer-events: none;
	}
}

.select_control {
	position: absolute;
	width: var(--select_control_width);
	height: var(--select_control_height);
	background: #ccc;
	border: 1px solid #000c;
	color: #222;
	opacity: 0.45;
	border-radius: 4px;
	transition: 0.2s all;
	font-size: 1.15em;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.select_control:not(.container) {
	background: #fafafa;
	color: var(--primary-clr);
}

.select_control {
	&.select_active,
	&.rearrange_possible {
		opacity: 1;
	}
	&.select_active {
		border-color: var(--primary-clr);
		box-shadow: 0 0 0 2px var(--primary-clr);
	}
}

/*.newCms:not(.grabbed_block) .select_control.select_active {
	box-shadow: 0 1px 1px 0 #0005;
}*/

.newCms:not(.grabbed_block):not(.anything_selected)
	.content_scroll_panel:not(:hover)
	.select_controls,
.select_controls:not(.visible) {
	opacity: 0;
	pointer-events: none;
}

.newCms:not(.grabbed_block):not(.animating_rearrangement)
	.content_scroll_panel:not(:hover)
	.grid_wireframe_line {
	&:before,
	&:after {
		opacity: 0;
		pointer-events: none;
	}
}

.selection_node,
.rearrange_target_rect {
	& {
		position: absolute;
		opacity: 1;
		border: 4px solid var(--primary-clr) !important;
		z-index: 200;
		pointer-events: none;
		box-shadow: 0 2px 7px 0 #0003, 0 1px 3px 0 #0009; /*, inset 0 0 0 1px white;*/
		border-radius: 4px;
	}
	&:not(.visible) {
		opacity: 0;
	}
	&:before {
		content: "";
		position: absolute;
		left: -3px;
		top: -3px;
		width: calc(100% + 6px);
		height: calc(100% + 6px);
		border: 2px solid #fff2;
		border-radius: inherit;
	}
}

.newCms {
	.svg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 195;
		pointer-events: none;
	}
}
