/* css[tool_newCms] */

#admin .trash_block {
	& {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1000;
		font-size: 34px;
		background: #fff;
		color: var(--red-clr);
		width: 60px;
		height: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		box-shadow: 0 6px 19px 0 #000b, inset 0 3px 6px -2px #fffa,
			inset 0 -3px 6px -2px #0003, 0 -1px 0 0 #fff3, 0 0 0 1px #0003;
		transition: 0.2s all;
		opacity: 0.8;
	}
	&:hover,
	&:not(.visible) {
		opacity: 1;
		color: #fff;
		background: var(--red-clr);
	}
	&,
	* {
		cursor: pointer !important;
	}
}
