/* css[piep_cms] */

.piep_editor_add_block_menu {
	& {
		position: absolute;
		box-shadow: -2px 3px 6px -2px #0003;
		padding: 10px;
		border: 1px solid #ccc;
		z-index: 2600;
		background: #fff;
		transition: opacity 0.15s;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}
	.blocks {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 5px;
	}
	&:not(.visible) {
		pointer-events: none;
		opacity: 0;
	}
	.block_to_add {
		& {
			--hover-shadow: none;
			display: flex;
			align-items: center;
			width: 150px;
			text-align: left;
			line-height: 1.2;
		}
		i {
			font-size: 1.25em;
			transform: translateY(1px);
		}
		& > *:first-child {
			margin-right: 10px;
			flex-shrink: 0;
		}
	}
	.label {
		font-size: 1.1em;
		margin: 0;
		padding: 20px 0 3px;
	}
	.label:first-child {
		padding-top: 3px;
	}
}
