/* css[piep_cms] */

.piep_editor_display_text_selection {
	& {
		position: absolute;
		z-index: 500;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		pointer-events: none;
	}
	.text_selection {
		position: absolute;
		background: #22f5;
	}
	.just_underline {
		position: absolute;
		border-bottom: 2px solid #22f;
		transform: translateY(-2px);
	}
}

.piep_editor_content {
	::selection {
		background: transparent;
	}
}

.piep_editor .focus_rect {
	//background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%233339' stroke-width='4' stroke-dasharray='2%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
	border: 2px solid #22f;
	border-radius: 4px;
}

// .piep_editor .outline_rect {
// 	position: absolute;
// 	border: 1px solid #0005;
// }
.piep_editor_content:hover {
	.blc:not(.editor_disabled):not(.textable) {
		outline: 1px solid #0005;
	}
}

.piep_editor_cursor {
	position: absolute;
	background: #000;
	pointer-events: none;
	animation: cursor_blink 1s infinite;
	//box-shadow: 0 0 0 1px #7775;
	z-index: 500;
}

@keyframes cursor_blink {
	0%,
	20%,
	80%,
	100% {
		background: #000;
		//box-shadow: 0 0 1px 1px transparent;
		//box-shadow: 0 0 1px 1px #fff5;
	}
	50% {
		background: #fff;
		//box-shadow: 0 0 1px 1px #fff;
		//box-shadow: 0 0 1px 1px #0005;
	}
}
