/* css[piep_cms] */

.piep_editor_display_text_selection {
	& {
		position: absolute;
		z-index: 2600;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		pointer-events: none;
	}
	.text_selection {
		position: absolute;
		background: #22f5;
	}
	.just_underline {
		position: absolute;
		border-bottom: 2px solid #22f;
	}
}

.piep_editor_content {
	::selection {
		background: transparent;
	}
}
