/* css[global] */

// IMPORTANT, the order in which we include files does matter, these are global styles that can be overriden
.blc {
	& {
		min-width: 0;
		min-height: 0;
		border: 0 solid transparent; // we can actually change border width even if it's hidden
		margin: 0;
		padding: 0;
	}
	h1& {
		font-size: var(--size_h1);
		font-weight: var(--bold);
		margin: 0.8em 0;
		text-align: center;
	}
	h2& {
		font-size: var(--size_h2);
		font-weight: var(--bold);
		margin: 0.65em 0;
	}
	h3& {
		font-size: var(--size_h3);
		font-weight: var(--semi_bold);
		margin: 0.55em 0;
	}
	p& {
		margin: 0.5em 0;
	}
}

.vertical_container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.columns_container {
	display: flex;
	flex-direction: row;
	min-height: 50px;
	flex-wrap: wrap;
}

// .text_container > * {
// 	display: inline-block; // inline / inline-block / block basically anything dude
// }

.module_img > img {
	display: block;
	width: 100%;
}
