/* css[global] */

.blc {
	& {
		min-width: 0;
		min-height: 0;
		border: 0 solid transparent; // we can actually change border width even if it's hidden
		margin: 0;
		padding: 0;
		background-position: center;
		background-size: cover;
	}
}

.vertical_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.module_template_hook {
	display: flex;
	flex-direction: column;
}

.main_wrapper,
.piep_editor_content,
.vertical_container {
	> * {
		width: 100%;
		// align-self: center;
	}
}
