/* css[piep_cms] */

.columns_icon {
	& {
		display: inline-flex;
		vertical-align: middle;
		gap: 2px;
		transform: translateY(-1px);
	}
	& > * {
		& {
			height: 1.2em;
			width: 0.3em;
			//border: 1px solid #000;
			//border-radius: 3px;
			background: #aaa;
		}
	}
	&.vertical {
		& {
			flex-direction: column;
		}
		& > * {
			& {
				height: 0.3em;
				width: 1.2em;
			}
		}
	}
}

.flip_icon {
	& {
		position: relative;
	}
	&::before {
		transform: scale(1.3);
		display: block;
	}
	&::after {
		content: "";
		background: #fff;
		display: block;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	&.fa-arrows-alt-h::after {
		width: 2px;
		height: 1.3em;
	}
	&.fa-arrows-alt-v::after {
		width: 1.3em;
		height: 2px;
	}
}

.flex_align_self_horizontal_icon {
	transform: rotate(-90deg);
}

.flex_align_self_vertical_icon,
.flex_align_self_horizontal_icon {
	& {
		font-size: 2em;
		display: flex;
		height: 1em;
		width: 1em;
		border: 1px solid #bbb;
	}

	&::before {
		content: "";
		min-height: 0.5em;
		width: 1em;
		border: 1px solid #03f7;
		display: block;
		background: #03f2;
	}
}

.flex_align_items_horizontal_icon {
	transform: rotate(-90deg);
}

.flex_align_items_horizontal_icon,
.flex_align_items_vertical_icon {
	& {
		font-size: 2.7em;
		display: flex;
		height: 1em;
		width: 1em;
		border: 1px solid #bbb;
	}

	& > * {
		& {
			display: block;
			border: 1px solid #03f7;
			background: #03f2;
			width: 0.333em;
		}
		&:not(:first-child) {
			margin-left: -1px;
		}
		&:nth-child(1) {
			min-height: 0.5em;
		}
		&:nth-child(2) {
			min-height: 0.7em;
		}
		&:nth-child(3) {
			min-height: 0.3em;
		}
	}
}

.flex_justify_content_vertical_icon {
	transform: rotate(90deg);
}

.flex_justify_content_vertical_icon,
.flex_justify_content_horizontal_icon {
	& {
		font-size: 2.7em;
		display: flex;
		height: 1em;
		width: 1em;
		border: 1px solid #bbb;
	}

	& > * {
		& {
			display: block;
			border: 1px solid #03f7;
			background: #03f2;
			min-width: 0.2em;
		}
		&:not(:first-child) {
			margin-left: -1px;
		}
	}
}

.container_layout_type_icon {
	& {
		font-size: 2em;
		display: flex;
		height: 1.3em;
		width: 2em;
		border: 1px solid #bbb;
		align-items: center;
		justify-content: center;
	}

	.b {
		content: "";
		min-height: 0.8em;
		width: 1.2em;
		border: 1px solid #03f7;
		background: #03f2;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.a,
	.c {
		height: 100%;
		flex-grow: 1;
		background-image: repeating-linear-gradient(45deg, #fff, #fff 3px, #ccc 3px, #ccc 6px);
	}
}
