/* css[piep_cms] */

.piep_editor_layout_controls {
	& {
		// width: 500px;
		// height: 300px;
		// border: 2px solid red;
		// position: absolute;
		// left: 500px;
		// top: 300px;
	}
	.margin_input,
	.padding_input,
	.width_input {
		position: absolute;
		width: 60px;
	}

	.margin_display {
		position: absolute;
		//background: #d809;
	}
	.padding_display {
		position: absolute;
	}

	.width_control {
		//width: 40px;
		position: absolute;
	}
	//height_input
}
