/* css[piep_cms] */

.piep_editor_layout_controls {
	.margin_input,
	.padding_input,
	.width_input {
		position: absolute;
		width: 60px;
	}

	.margin_display {
		position: absolute;
		//background: #d809;
	}
	.padding_display {
		position: absolute;
	}

	.width_control {
		& {
			position: absolute;
			width: 15px;
			height: 15px;
			border: 2px solid #000;
			background: #139;
			opacity: 0.3;
			cursor: pointer;
		}
		&:hover {
			opacity: 0.6;
		}
	}
}

.piep_editor {
	&.width_grabbed .width_control {
		pointer-events: none;
		opacity: 0.6;
	}
}
