/* css[piep_cms] */

.piep_editor_layout_controls {
	.margin_input,
	.padding_input,
	.width_input {
		position: absolute;
		width: 60px;
	}

	.margin_display {
		position: absolute;
		//background: #d809;
	}
	.padding_display {
		position: absolute;
	}

	.width_control {
		background: #139;
	}
	.margin_control {
		background: #841;
	}
	.padding_control {
		background: #273;
	}
	.border_control {
		background: #555;
	}

	.layout_control {
		& {
			position: absolute;
			width: 15px;
			height: 15px;
			border: 2px solid #000;
			opacity: 0.3;
			cursor: pointer;
		}
		&:hover,
		&.grabbed {
			opacity: 0.6;
		}
		&.grabbed {
			pointer-events: none;
		}
	}
}

// .piep_editor {
// 	&.width_grabbed .width_control {
// 		pointer-events: none;
// 		opacity: 0.6;
// 	}
// }

// basically copied from controls.scss
.field.editing_now {
	border-color: var(--focus-clr);
	box-shadow: 0 0 0 1px var(--focus-clr);
	background-color: #fff;
	transition: 0s all;
}
