/* css[piep_cms] */

.piep_editor_float_focuses {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	pointer-events: none;
}

.piep_editor_float_focuses .focus_rect,
.piep_editor_parent_float_focus {
	position: absolute;
	// border: 2px solid var(--clr_primary);
	// box-shadow: 0 1px 4px 0 #0007, inset 0 1px 4px 0 #0007;
	pointer-events: none;
	margin-right: -10000px;
	margin-bottom: -10000px;
	// border-radius: 4px;
}

.piep_editor_float_focus .focus_rect {
	box-shadow: 0 0 10px 0 #0002;
}

.piep_editor {
	.edit_page_link_wrapper {
		& {
			display: inline-block;
			font-size: 1rem;
		}
		&:not(.active) {
			.edit_page_link_input {
				width: auto;
				border-width: 0;
				background: transparent;
				pointer-events: none;
				font-weight: var(--bold);
				padding: 0;
				font-size: 1.2rem;
			}
			.dismiss_btn,
			.save_btn {
				display: none;
			}
		}
		&.active {
			.edit_btn {
				display: none;
			}
		}

		.link_input {
			width: auto;
		}
		.edit_btn {
			font-size: 1rem;
		}
	}

	// &::before,
	// &::after {
	// 	content: "";
	// 	background: #eee;
	// 	position: absolute;
	// 	left: -20px;
	// 	right: -20px;
	// 	height: 20px;
	// 	z-index: 2000;
	// }
	// &::before {
	// 	top: 0;
	// }
	// &::after {
	// 	bottom: 0;
	// }
	&.grabbed_block {
		cursor: grab;
	}

	.piep_editor_center_column {
		display: flex;
		flex-direction: column;
		grid-area: 2 / 2 / 3 / 3;
		overflow: hidden;
	}
	.piep_editor_content_wrapper {
		overflow: hidden;
		box-shadow: inset 0 1px 5px 0 #0003;
		display: flex;
		flex-direction: column;
		padding: 15px;
		grid-area: 2 / 2 / 3 / 3;
		flex-grow: 1;
	}
	.piep_editor_content_scroll {
		box-shadow: 0 1px 5px 0 #0003;
		margin: auto;
		width: 100%;
	}
	.piep_editor_content {
		& {
			background: #fff;

			display: flex;
			flex-direction: column;
			box-shadow: 0 2px 5px 0 #0002;
			flex-shrink: 0;
			flex-grow: 1;
			grid-area: 2 / 2 / 3 / 3;
			align-items: stretch;
		}
		.text_container {
			white-space: pre-wrap;
		}
	}

	&.has_insert_pos .insert_blc:not(:hover) {
		opacity: 0.3;
	}

	&.disable_editing {
		& {
			user-select: none;
		}

		.piep_editor_float_menu {
			display: none !important;
		}
	}

	&.grabbed_block {
		&:not(.has_insert_pos) {
			.piep_editor_content {
				opacity: 0.7;
			}
			.piep_editor_float_focus {
				display: none !important;
			}
		}

		.piep_editor_cursor {
			display: none !important;
		}

		.piep_editor_inspector {
			display: none !important;
		}
	}

	::placeholder {
		color: #aaa;
	}

	&:not(.advanced_mode) {
		.case_advanced {
			display: none !important;
		}
	}

	&:not(.is_desktop) {
		.case_non_desktop {
			display: none !important;
		}
	}

	.edit_pageable_btn {
		--btn-font-clr: var(--clr_primary);
	}
}

.piep_editor_alternative_scroll_panel {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: 1500;
}

.blc.nonclickable > * {
	pointer-events: none;
}
