/* css[piep_cms] */

.piep_editor_selection_breadcrumbs {
	& {
		background: #fff;
		font-weight: var(--semi_bold);
		padding: 5px 10px;
		z-index: 1600;
		user-select: none;
		// background: #fff;
		// font-weight: var(--bold);
		// padding: 5px 10px;
		// z-index: 1600;
		// user-select: none;
		// color: #33e;
	}
	.v_node_label {
		& {
			cursor: pointer;
			padding: 3px 0;
			margin: -3px 0;
			display: inline-block;
		}
		&:hover,
		&:last-child {
			text-decoration: underline;
		}
	}
}
