/* css[piep_cms] */

.piep_editor_selection_helper {
	& {
		position: absolute;
		display: flex;
	}
	.btn {
		--field_padding_hor: 0.7em;
		--field_padding_ver: 0.2em;
		line-height: 1;
		font-size: 7px;
		color: transparent;
		box-shadow: 0 1px 2px -1px #0006;
	}
	.part_btn {
		--btn-border-clr: #ccc;
		border-width: 3px;
		--btn-background-clr: #555;
	}
	.full_btn {
		--btn-border-clr: #555;
		border-width: 3px;
		--btn-background-clr: #ccc;
	}
}
