/* css[piep_cms] */

.piep_editor {
	.select_blc {
		& {
			--select_blc_clr: var(--focus-clr);
			position: absolute;
			width: 24px;
			height: 24px;
			// background: #fff7;
			border-radius: 4px;
			transform: translate(-50%, -50%);
			z-index: 1100;
			display: flex;
			align-items: center;
			justify-content: center;
			// color: var(--select_blc_clr);
			// border: 2px solid var(--select_blc_clr);
			background: var(--select_blc_clr);
			color: #fff;
			pointer-events: none;
		}
	}
}
