/* css[piep_cms] */

.piep_editor {
	&.selecting_block {
		.piep_editor_content > * {
			pointer-events: none;
		}
	}
	&.has_select_pos {
		& {
			cursor: pointer;
		}
		.select_blc {
			// opacity: 0.3;
			// background: transparent;
			// color: transparent;
		}
		.select_blc.hovered {
			// opacity: 0.7;
		}
		.select_blc:not(.hovered) {
			opacity: 0.4;
			//background: transparent;
			color: transparent;
		}
	}
	.select_blc {
		& {
			--select_blc_clr: var(--focus-clr);
			position: absolute;
			width: 24px;
			height: 24px;
			background: #fff;
			border-radius: 4px;
			transform: translate(-50%, -50%);
			z-index: 1100;
			display: flex;
			align-items: center;
			justify-content: center;
			color: var(--select_blc_clr);
			border: 2px solid var(--select_blc_clr);
			pointer-events: none;
		}
		&.hovered {
			color: #fff;
			background: var(--select_blc_clr);
			box-shadow: 0 1px 3px 0 #0006;
		}
	}
}
