/* css[piep_cms] */

.piep_editor_side_menu {
	& {
		background: #fff;
		border-right: 1px solid #ccc;
		flex-shrink: 0;
		z-index: 1300;
		grid-area: 2 / 1 / 3 / 2;
		display: flex;
		flex-direction: column;
		overflow: hidden;
	}
	.case_blc_menu_empty {
		flex-grow: 1;
	}
	.filter_blc_menu {
		& {
			display: flex;
		}
		.checkbox_area {
			& {
				display: flex;
				align-items: center;
				flex-direction: column;
				flex: 1 1 0;
				transition: all 0.2s;
				padding: 8px 5px;
				color: #666;
			}
			.filter_icon {
				font-size: 20px;
				transition: all 0.2s;
			}
			&:not(.checked) {
				& {
					background: #eee;
					cursor: pointer;
				}
				&:hover {
					background: #fafafa;
					box-shadow: inset 0 -2px 0 0 #ddd;
					transition: none;
				}
			}
			&.checked {
				& {
					box-shadow: inset 0 -3px 0 0 var(--clr_primary);
					color: #000;
					cursor: default;
				}
				.filter_icon {
					color: var(--clr_primary);
				}
			}
			& > span {
				font-size: 0.9em;
				display: block;
				margin-top: 5px;
			}
		}
	}

	.blc_menu_scroll_panel {
		& > * {
			&:not(.first_visible) {
				border-top: 1px solid #ccc;
				margin-top: var(--form_spacing);
			}
			&.first_visible {
				margin-top: calc(-1 * var(--form_spacing));
			}
		}
		.hidden_completely {
			display: none !important;
		}
	}

	.responsive_info:not(:empty) {
		color: #777;
		text-align: center;
		//background: #fafafa;
		//display: inline-block;
		padding: 3px;
		//min-width: 27px;
	}

	.inherited:not(.checked) {
		background: #eee;
	}
}

.color_circle {
	border-radius: 8px;
	width: 16px;
	height: 16px;
	box-shadow: inset 0 0 0 1px #0004;
}

p-option color-picker {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0;
}

.piep_editor {
	.select_resolution {
		padding: 5px;
		border-top: 1px solid #ccc;
		width: 100%;
		justify-content: center;
		margin-top: 0;
	}
}
