/* css[admin] */

.any_picker_wrapper {
	& {
		position: absolute;
		z-index: 1600;
	}
	&:not(.visible) {
		display: none !important;
	}
	&:not(.above) {
		transform-origin: 50% 0;
	}
	&.above {
		transform-origin: 50% 100%;
	}
}
