/* css[admin] */

.breadcrumbs {
	display: inline-block;
	font-size: 1.2em;
}

.breadcrumbs,
.breadcrumbs.title {
	&,
	& .btn {
		font-weight: 700;
	}
	.crumb {
		padding: 0.1em;
		display: inline-block;
	}
}
