/* css[admin] */

/* .btn.important {
	background: var(--important-clr);
	color: white;
	font-weight: 600;
}
.btn.primary {
	background: var(--clr_primary);
	color: white;
}
.btn.secondary {
	background: white;
	color: var(--clr_primary);
}
.btn.red {
	background: var(--red-clr);
	color: white;
}
.btn.subtle {
	background: var(--subtle_bckg_clr);
	color: var(--subtle_font_clr);
} */

/* body {
	font-size: 14px;
} */

:root {
	--base_font_size: 14px;
}

.status_rect {
	width: 179px;
}

/* .user_info {
	background: #fafafa;
	padding: 10px;
	border-radius: 4px;
	color: #444;
	box-shadow: 0 1px 4px 0 #0003;
	font-weight: var(--semi_bold);
	display: inline-block;
} */
