/* css[admin] */

/* .btn.important {
	background: var(--important-clr);
	color: white;
	font-weight: 600;
}
.btn.primary {
	background: var(--primary-clr);
	color: white;
}
.btn.secondary {
	background: white;
	color: var(--primary-clr);
}
.btn.red {
	background: var(--red-clr);
	color: white;
}
.btn.subtle {
	background: var(--subtle-background-clr);
	color: var(--subtle-font-clr);
} */

/* body {
	font-size: 14px;
} */

:root {
	--base_font_size: 14px;
}

.status_rect {
	width: 179px;
}

table img {
	display: block;
}

.user_info {
	margin: 25px 0;
	background: #fafafa;
	padding: 10px;
	border-radius: 4px;
	color: #444;
	box-shadow: 0 1px 4px 0 #0003;
	font-weight: 600;
	display: inline-block;
}
