/* css[admin] */

body {
	transition: 0 !important;
	opacity: 1 !important;
}

.home {
	display: block;
	text-align: center;
	margin: 10px;
}

.navbar_admin {
	flex-grow: 0;
	flex-shrink: 0;
	width: 220px;
	border-right: 1px solid #ccc;
	background: #eee;
	color: #444;
	position: relative;
	z-index: 1;
}

footer {
	display: none;
}
.footer {
	background: #222;
	color: #eee;
	padding: 10px;
	text-align: center;
	margin-top: auto;
}

.content {
	flex-shrink: 1;
	flex-grow: 1;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	height: 100%;
}
.menu_item.current {
	--menu_item_clr: #0001;
}
.admin_layout {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	flex-grow: 1;
	height: 100vh;
}
.admin_root {
	--normal: 400;
	--semi_bold: 600;
	--bold: 700;
	--font_family: "Open Sans", sans-serif;
	--clr_primary: #47a;
	--subtle_font_clr: #333;
	--subtle_bckg_clr: #ececec;
	--important-clr: #d37;
	--red-clr: #e22;
}
@media only screen and (max-width: 999px) {
	.navbar_admin {
		width: 100%;
		max-height: calc(100% - 37px);
	}
	.content {
		height: auto;
	}
	.admin_layout {
		flex-direction: column;
		height: auto;
	}
	.navbar_admin.hidden > .scroll_panel {
		overflow: initial !important;
	}
	.navbar_admin > .scroll_panel {
		padding-bottom: 10px;
		border-bottom: 1px solid #ccc;
	}
	header.mobile {
		padding: 7px;
		background: #fafafa;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #ccc;
	}
	.menu_icon {
		display: block;
		margin: auto;
	}
	.menu_btn {
		& {
			margin: -7px;
			padding: 9px 0;
			cursor: pointer;
			font-size: 32px;
			line-height: 1;
			width: 50px;
			height: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			background: #eee;
		}
		.menu_icon {
			width: 28px;
		}
	}
	.navbar_admin .logo_wrapper {
		visibility: hidden;
		overflow: hidden;
		height: 0px;
		margin: 0;
	}

	header.mobile.open .menu_btn .menu_icon,
	header.mobile:not(.open) .menu_btn .close {
		display: none;
	}

	header .shadow_node {
		display: none;
	}
	.close {
		display: block;
		width: 50px;
		height: 50px;
		font-size: 0;
		position: relative;
	}
	.close:before,
	.close:after {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 2px;
		height: 23px;
		background-color: #000;
		transform: rotate(45deg) translate(-50%, -50%);
		transform-origin: top left;
		content: "";
	}
	.close:after {
		transform: rotate(-45deg) translate(-50%, -50%);
	}
}
@media only screen and (min-width: 1000px) {
	.panel_padding.actual_content {
		padding: 15px;
	}
	.content > .custom_toolbar {
		padding-left: 10px;
	}
	.navbar_admin {
		box-shadow: 0 0 12px -4px rgba(0, 0, 0, 0.39);
	}
	header.mobile {
		display: none;
	}
	.navbar_admin .logo_default {
		margin: 10px auto;
	}
}

.navbar_admin .sub_menu {
	margin: -1px 0;
}

.navbar_admin .sub_menu .menu_item {
	padding-left: 1em;
}

.navbar_admin .menu_item a {
	display: block;
	width: 100%;
	padding: 7px 9px;
}
.navbar_admin .menu_item {
	display: block;
	// margin: 1px 0;
	display: block;
	cursor: default;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	transition: all 0.1s;
	--menu_item_clr: #eee;
	background: var(--menu_item_clr);
}

.navbar_admin .menu_item .expand_arrow {
	align-self: center;
	width: 35px;
	height: 35px;
	border-radius: 0;
	flex-shrink: 0;
}
@media (hover: hover) {
	.navbar_admin .menu_item .expand_arrow:hover {
		background: #fff5;
	}
}

.navbar_admin .menu_item.current_route,
.navbar_admin .menu_item:hover {
	--menu_item_clr: #cacaca;
	color: black;
}
.navbar_admin .sub_menu,
.navbar_admin .menu_item.open {
	background: #0000000f;
	color: black;
}

.menu_item.open .red-notification {
	opacity: 0;
}

.red-notification {
	background: red;
	color: white;
	padding: 0 2px;
	font-weight: normal;
	min-width: 1.3em;
	text-align: center;
	display: inline-block;
	line-height: 1.35;
	opacity: 1;
	transition: 0.2s opacity;
}

.navbar_admin .menu_item .fas {
	width: 1.2em;
	text-align: center;
}

.panel {
	background: #fff;
	padding: 10px;
	box-shadow: 0 2px 4px #0001;
	border-radius: 4px;
}

.navbar_admin > .scroll_panel {
	height: 100%;
}

.navbar_admin .scroll_panel > div > .menu_item {
	margin-top: 5px;
}

.admin_shortcuts {
	.header {
		font-weight: var(--bold);
	}
	.header,
	a {
		padding: 2px 9px;
	}
	a {
		display: block;
		width: 100%;
		font-weight: var(--semi_bold);
	}
}

hr {
	margin: 5px 10px;
}

.pages_icon_1 {
	transform: translate(1px, -1px);
}
.pages_icon_2 {
	background: var(--menu_item_clr);
	border-top-right-radius: 4px;
	margin-left: -20px;
	transform: translate(1px, 2px);
	padding-right: 1px;
	padding-top: 1px;
	margin-right: 6px;
	width: auto !important;
}
