/* css[admin] */

.simple-list > .list {
	overflow-y: auto;
	overflow-x: hidden;
}

.simple-list .controls {
	display: flex;
	padding: 5px;
	background: #ccc;
	border: 1px solid #bbb;
}

div.list .simple-list-row {
	margin: -1px;
	padding-right: 10px;
	display: flex;
	/*align-items: center;*/
}

.simple-list-row .btn.fas,
.simple-list-row .add_btn_top {
	height: 25px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-height: unset;
}

.simple-list-row .btn.fas {
	width: 25px;
}
.simple-list .field {
	padding: 0.25em 0.55em;
}
.simple-list-row .add_btn_top > *:not(:first-child) {
	margin-left: 3px;
}

.simple-list .list {
	border-radius: 4px;
}
.simple-list .list > :first-child {
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}
.simple-list .list > :last-child {
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.simple-list-row .remove-row-btn {
	color: #c22 !important;
	border-color: #c22 !important;
}
.simple-list-row .remove-row-btn:hover {
	background: #c22 !important;
	color: #fff !important;
}

.simple-list .sub-list {
	padding-left: 35px;
}

.simple-list-row-wrapper {
	background: #aaa4;
	padding: 10px 0 10px 10px;
}

.simple-list .sub-list > .list > .simple-list-row-wrapper:first-child {
	padding-top: 5px;
}

.simple-list-row-wrapper {
	border: 1px solid #aaac;
}

.simple-list-row-wrapper:not(:last-child) {
	border-bottom: none;
}

.simple-list .sub-list .simple-list-row-wrapper {
	border-right: none;
}

.simple-list .add_begin {
	margin-left: 6px;
	/*width: 100%;*/
}

/*.simple-list .add_begin {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.simple-list .add_end {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}*/

/*.simple-list .list .add_begin {
  margin-top: 10px;
}
.simple-list .list .add_end {
  margin-bottom: 5px;
}*/

/*.simple-list.recursive .scroll_panel > div > .add_btn {
  background: #5c5;
}
.simple-list.recursive
  .list[data-depth="1"]
  > .simple-list-row-wrapper
  > .sub-list
  > .add_btn {
  background: #6bb;
}
.simple-list.recursive
  .list[data-depth="2"]
  > .simple-list-row-wrapper
  > .sub-list
  > .add_btn {
  background: #66b;
}

.simple-list.recursive .list[data-depth="1"] {
  background: #dfd;
}

.simple-list.recursive .list[data-depth="2"] {
  background: #dff;
}

.simple-list.recursive .list[data-depth="3"] {
  background: #ddf;
}*/

/* if empty */
/*.simple-list[data-count="0"] > div > div > div > .add_btn.add_begin {
  border-radius: 4px;
}
.simple-list[data-count="0"] > div > div > div > .add_btn.add_end,*/
.simple-list[data-count="0"] table {
	display: none;
}
/*.simple-list .list .list:empty + .add_btn.add_end {
  display: none;
}*/

/* slim styling start */
.simple-list.slim .simple-list-row {
	padding-right: 5px;
}
.simple-list.slim .simple-list-row-wrapper {
	padding: 5px 0 5px 5px;
}
.simple-list.slim .field {
	padding: 1px 5px;
}
.simple-list.slim .btn:not(.add_btn) {
	padding: 1px 5px;
	min-height: 1em;
}
@media only screen and (min-width: 1200px) {
	.simple-list:not(.slim) td:first-child,
	.simple-list:not(.slim) th:first-child {
		padding-left: 10px;
	}
	.simple-list:not(.slim) td:last-child,
	.simple-list:not(.slim) th:last-child {
		padding-right: 10px;
	}
}
/* slim styling end */

.simple-list[data-count="0"].required > div > div > div > .add_btn.add_begin {
	background: #d33;
}

.simple-list table {
	width: 100%;
	border-spacing: 0;
}

.simple-list th {
	background: var(--primary-clr);
	color: white;
	font-weight: 600;
	padding: 4px 6px;
	text-align: left;
}

tr.simple-list-row td {
	border-bottom: 1px solid #ccc;
	padding: 5px;
}
tr.simple-list-row td:first-child {
	border-left: 1px solid #ccc;
}
tr.simple-list-row td:last-child {
	border-right: 1px solid #ccc;
}

.simple-list.has_header .add_end {
	background: var(--primary-clr);
}

.simple-list.has_header .add_end.main_add_btn {
	display: none;
}

.simple-list .action_buttons {
	text-align: right;
	flex-shrink: 0;
}

.simple-list table .action_buttons {
	white-space: nowrap;
}

.simple-list.no-order .action_buttons .swap-row-btn {
	display: none !important;
}

.simple-list.no-remove .action_buttons .remove-row-btn {
	display: none !important;
}

.simple-list.no-add .add_btn {
	display: none !important;
}

.simple-list .list > .simple-list-row-wrapper:first-child > .simple-list-row > .action_buttons > .btn-up,
.simple-list .list > .simple-list-row-wrapper:last-child > .simple-list-row > .action_buttons > .btn-down,
.simple-list table > tbody > tr:first-child > td > .btn-up,
.simple-list table > tbody > tr:last-child > td > .btn-down {
	filter: contrast(0.3);
	opacity: 0.5;
	background: #0001;
	pointer-events: none !important;
}

.simple-list > .label {
	margin-bottom: 0.4em;
}

.simple-list-scroll-wrapper {
	display: flex;
}

.simple-list-scroll-content {
	flex-grow: 1;
}

.above-simple-list .btn {
	margin-bottom: 4px;
	display: inline-block;
}
