/* css[global] */

.custom_toolbar {
	display: flex;
	padding: 5px;
	align-items: center;
	flex-wrap: wrap;
	flex-shrink: 0;
	top: 0;
	z-index: 150;
	border-bottom: 1px solid #ccc;
}

.custom_toolbar .title {
	// margin-right: auto;
	display: block;
	padding: 2px 5px;
	font-weight: var(--bold);
}

// .custom_toolbar > *:not(.title) {
// 	margin-left: 5px;
// }
