/* css[view] */

h1 {
	text-align: center;
}

.buy_products_wrapper,
.buy_now_form {
	padding: 10px;
}

// .buy_now_form {
// 	padding: 10px;
// 	max-width: 600px;
// }

.buy_now_wrapper {
	max-width: 600px;

	margin: 0 auto;
	width: 100%;
}
