/* css[view] */

.easypack-widget {
	.search-widget .search-group {
		padding: 15px !important;
	}
	.label {
		margin: 0;
		display: inline-block;
	}
}

.InpostParcelLockerPicker .modal_header {
	@media (max-width: 499px) {
		.desktop {
			display: none;
		}
	}
	@media (min-width: 500px) {
		.mobile {
			display: none;
		}
	}
}

.buy_products_wrapper,
.buy_now_form {
	padding: 10px;
}

.buy_now_container {
	.big_boxes {
		--box_height: 60px;
	}

	& {
		margin: 0 auto;
		width: 100%;
	}

	.add_rebate_code_btn,
	.cart_summary {
		margin-top: var(--form_spacing);
	}

	.cart_summary {
		font-weight: var(--semi_bold);
	}

	.buy_products .list_row {
		padding-left: 5px;
		padding-right: 5px;
	}

	.account_buttons {
		max-width: 350px;
	}

	.boxes {
		.pln {
			display: block;
			text-align: center;
		}
	}

	.carrier {
		.checkbox_area {
			& {
				border-top: 1px solid #ccc;
				display: flex;
				height: 65px;
				align-items: center;
			}
			&:last-child {
				border-bottom: 1px solid #ccc;
			}
			.name {
				width: 15%;
				margin-left: 3%;
			}
			.duration {
				margin-left: calc(30% - 65px);
			}
			.carrier_img {
				margin-left: 10px;
				width: 80px;
				height: 48px;
				object-fit: contain;
				// object-position: left;
			}
			.pln {
				font-weight: var(--semi_bold);
				min-width: 50px;
				margin-left: auto;
			}
		}
	}
}

@media (max-width: 999px), (max-height: 599px) {
	.buy_now_container {
		& {
			max-width: 600px;
		}

		.desktop_view {
			display: none;
		}

		.cart_summary_wrapper {
			text-align: center;
		}

		.buy_products_wrapper {
			margin-bottom: 20px;
		}

		.choosen_account {
			max-width: 350px;
			margin: auto;
		}
	}
}

@media (min-width: 1000px) and (min-height: 600px) {
	.buy_products_wrapper {
		position: fixed;
		left: 50%;
		top: calc(var(--header_height));
		width: var(--searching_wrapper_width);
		flex-shrink: 0;
		height: calc(100vh - var(--header_height));
		overflow: hidden;
		width: 500px;
		--margin_top: 100px;
		margin-top: var(--margin_top);
	}

	.buy_now_container {
		min-height: 1000px;
	}

	.buy_now_form {
		margin-left: 50%;
		width: 500px;
		transform: translateX(-100%);
		margin-top: 100px;
	}

	.buy_now_container {
		.products_cart_panel {
			max-height: min(calc(100vh - var(--header_height) - 255px), 500px);
		}

		.buy_now_form h1 {
			height: 0;
			margin: 0;
			transform: translateY(-60px);
		}

		.mobile_view {
			display: none;
		}

		.cart_summary_wrapper {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
		}

		.cart_summary {
			text-align: right;
			margin-top: 10px;
			line-height: 1.7;
		}
	}
}

@media (min-width: 1100px) and (min-height: 600px) {
	.buy_products_wrapper {
		margin-left: 30px;
	}

	.buy_now_form {
		margin-left: calc(50% - 30px);
	}
}

.activateRebateCode {
	.show_errors:not(:empty) {
		color: var(--error-clr);
		font-weight: var(--semi_bold);
		margin-top: 3px;
	}
	.rebate_code {
		text-transform: uppercase;
		text-align: center;
	}
}

.radio_group.carrier[data-delivery_type_id="3"] {
	.checkbox_area {
		.name {
			width: auto;
		}
		.carrier_img,
		.duration {
			display: none;
		}
	}
}

.in_person_map_wrapper {
	& {
		height: 450px;
	}
	iframe {
		width: 100%;
		height: 100%;
		margin-top: 20px;
	}
}
