/* css[view] */

.easypack-widget {
	.search-widget .search-group {
		padding: 15px !important;
	}
	.label {
		margin: 0;
		display: inline-block;
	}
}

.InpostParcelLockerPicker .modal_header {
	@media only screen and (max-width: 499px) {
		.desktop {
			display: none;
		}
	}
	@media only screen and (min-width: 500px) {
		.mobile {
			display: none;
		}
	}
}

.buy_products_wrapper,
.buy_now_form {
	padding: 10px;
}

.buy_now_container {
	& {
		margin: 0 auto;
		width: 100%;
	}

	.add_rebate_code_btn,
	.cart_summary {
		margin-top: var(--form_spacing);
	}

	.cart_summary {
		font-weight: 600;
	}

	.buy_products .list_row {
		padding-left: 5px;
		padding-right: 5px;
	}

	.account_buttons {
		max-width: 350px;
	}

	.delivery {
		.pln {
			display: block;
			text-align: center;
		}
	}

	.courier_address_different {
		--box-width: 90px;
		--box_height: 40px;
		margin-bottom: 0;
	}
}

.rebate_code_block {
	& {
		display: inline-flex;
		background: #eee;
		border-radius: 100px;
		padding: 0 0 0 15px;
		height: 32px;
		align-items: center;
		margin: 2px 0;
		box-shadow: 0 1px 2px 0 #0003;
	}
	& .btn {
		border-radius: 100px;
		margin-right: -5px;
		width: 32px;
		height: 32px;
		margin: -2px -1px -2px 2px;
	}
}

@media only screen and (max-width: 999px), (max-height: 599px) {
	.buy_now_container {
		& {
			max-width: 600px;
		}

		.desktop_view {
			display: none;
		}

		.cart_summary_wrapper {
			text-align: center;
		}

		.buy_products_wrapper {
			margin-bottom: 20px;
		}

		.choosen_account {
			max-width: 350px;
			margin: auto;
		}
	}
}

@media only screen and (min-width: 1000px) and (min-height: 600px) {
	.buy_products_wrapper {
		position: fixed;
		left: 50%;
		top: calc(var(--header_height));
		width: var(--searching_wrapper_width);
		flex-shrink: 0;
		height: calc(100vh - var(--header_height));
		overflow: hidden;
		width: 500px;
		--margin_top: 100px;
		margin-top: var(--margin_top);
	}

	.buy_now_form {
		margin-left: 50%;
		width: 500px;
		transform: translateX(-100%);
		margin-top: 100px;
		min-height: calc(100vh - var(--header_height));
	}

	.buy_now_container {
		.products_cart_panel {
			max-height: min(calc(100vh - var(--header_height) - 255px), 500px);
		}

		.buy_now_form h1 {
			height: 0;
			margin: 0;
			transform: translateY(-60px);
		}

		.mobile_view {
			display: none;
		}

		.cart_summary_wrapper {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
		}

		.cart_summary {
			text-align: right;
			margin-top: 10px;
			line-height: 1.7;
		}
	}
}

@media only screen and (min-width: 1100px) and (min-height: 600px) {
	.buy_products_wrapper {
		margin-left: 30px;
	}

	.buy_now_form {
		margin-left: calc(50% - 30px);
	}
}

.activateRebateCode {
	.show_errors:not(:empty) {
		color: var(--error-clr);
		font-weight: 600;
		margin-top: 3px;
	}
	.rebate_code {
		text-transform: uppercase;
		text-align: center;
	}
}

.buy_now_form .courier_address {
	margin-top: 25px;
}
