/* css[global] */

#preview_iframe {
	width: 100%;
	height: 100%;
	margin: auto;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
	border: none;
}

.single-row-labels label {
	display: inline-block;
	margin-top: 0;
}

.module-content i.fas.fa-puzzle-piece {
	margin: 5px;
}

.space-radios {
	margin-top: 5px;
	font-size: 30px;
	opacity: 0.2;
}

.module-content {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 150px;
	background: #eee;
	margin: 10px;
	border-radius: 10px;
	font-size: 20px;
}

#cmsBlockSettings h4,
#cmsContainerSettings h4 {
	margin: 20px 0 0;
}

#actual_cms_wrapper video {
	pointer-events: none;
}

#actual_cms_wrapper a,
#actual_cms_wrapper img {
	pointer-events: none;
}

#actual_cms_wrapper .cms-wrapper {
	flex-shrink: 1;
	flex-grow: 1;
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
	/*background-image: repeating-linear-gradient(-45deg, #ddd 0px 10px, #eee 10px 20px);*/
	background: #fafafa;
	padding: 10px 5px;
	height: 100%;
}

.moduleList > .btn {
	margin: 3px;
}

#gallery {
	height: auto;
	margin: 0;
}

/* .overlay {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
} */

.cms-toolbar {
	display: flex;
	align-items: center;
	padding: 5px;
}

.cms-toolbar label {
	margin: 0;
}

#actual_cms_wrapper .cms-container {
	border: 1px solid #eee;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
	position: relative;
	transition: all 0.4s, background-color 0.2s, box-shadow 0.3s, width 0.2s;
}

#actual_cms_wrapper .cms-block {
	border: 1px solid #fff0;
	position: relative;
	transition: all 0.4s, background-color 0.2s, box-shadow 0.3s, width 0.2s;
}

#actual_cms_wrapper .cms-container:hover .cms-block:not(:hover),
#actual_cms_wrapper.show_wireframe .cms-block:not(:hover) {
	border: 1px solid #fffa;
	box-shadow: 0px 0px 0px 1px #000a;
}

#actual_cms_wrapper .activeBlock:not(.side-module) .cms-block-content {
	box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 1);
}

#actual_cms_wrapper .cms-block,
#actual_cms_wrapper .cms-block *,
#actual_cms_wrapper .cms-container,
#actual_cms_wrapper .cms-container * {
	cursor: grab;
}

#actual_cms_wrapper .cms-container.activeContainer {
	box-shadow: 0px 2px 11px -2px rgba(0, 0, 0, 0.5);
	border-color: #ddd;
}

.cms-container-options {
	z-index: 11000;
	display: none;
	position: absolute;
	white-space: nowrap;
	background: #f8f8f8;
	user-select: none;
}

#actual_cms_wrapper .cms-block.activeBlock:not(.side-module) {
	box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.34);
	z-index: 10000;
	border-color: #ddd;
}

.cms-container-options {
	z-index: 11000;
	display: none;
	position: absolute;
	white-space: nowrap;
	background: #f8f8f8;
	user-select: none;
}

.cms-container-options .btn {
	background: #f8f8f8;
}

.cms-block-actions {
	z-index: 11000;
	display: none;
	position: absolute;
	user-select: none;
}

.cms-block-options {
	z-index: 11000;
	display: none;
	position: absolute;
	white-space: nowrap;
	background: #f8f8f8;
	user-select: none;
}

.cms-block-options .btn {
	background: #f8f8f8;
	border-radius: 0;
}

.cms-toolbar-shadow {
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.28);
}

.cms-block-options .btn:hover {
	background: white;
	opacity: 1 !important;
}

.cms-block-options .delete_block_btn {
	margin-left: auto;
	color: red;
}

#actual_cms_wrapper .cms-container {
	border: 6px solid #ccc;
	border-top-width: 29px;
	margin: 10px 0;
	border-radius: 5px;
}

#actual_cms_wrapper .cms-container::before {
	content: "";
	position: absolute;
	width: calc(100% + 10px);
	height: calc(100% + 34px);
	left: -6px;
	top: -30px;
	border: 1px solid #888;
	border-radius: inherit;
	pointer-events: none;
}

#actual_cms_wrapper .cms-container::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: -1px;
	top: -1px;
	border: 1px solid #888;
	pointer-events: none;
}

.cms-container-content {
	min-height: 20px;
}
#actual_cms_wrapper .cms-container-content {
	padding: 2px;
}

.cms-block-content {
	min-height: 45px;
}

#actual_cms_wrapper .action_block {
	width: 100%;
	height: 25px;
	border: none;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #333f;
	font-size: 15px;
	cursor: pointer;
	z-index: 1000;
}

#actual_cms_wrapper .cms-block-actions .action_block {
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	width: 150px;
}

.add_before_btn,
.add_after_btn {
	background: url("/src/img/cms_block_btn.png") !important;
	background-size: 100% 100% !important;
}

.add_before_btn {
}

.add_after_btn {
	transform: translateX(-50%) scaleY(-1) !important;
}

.action_block:not(:hover) {
	opacity: 0.6;
}

#actual_cms_wrapper .edit_block_btn div {
	background: #333;
}

#actual_cms_wrapper .add_after_btn {
	bottom: -23px;
}

#actual_cms_wrapper .add_before_btn {
	top: -23px;
}

[data-select-group] .selectedOption {
	transform: scale(1.2);
	border-color: black !important;
	box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.22);
}

[data-select-group="desktop-flex-direction"] .selectedOption {
	transform: scale(1.1);
}

[data-select-group] {
	font-size: 12px;
}

#actual_cms_wrapper .add_after:after,
#actual_cms_wrapper .add_before:after {
	content: "";
	width: 100%;
	height: 20px;
	position: absolute;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #59c236;
	font-size: 24px;
	cursor: pointer;
	background-image: repeating-linear-gradient(-45deg, #555 0px 10px, #999 10px 20px);
	z-index: 1000;
	left: 0;
}

#actual_cms_wrapper .add_after:after {
	bottom: -11px;
}

#actual_cms_wrapper .add_before:after {
	top: -11px;
}

.cms-container.add_before::after {
	top: -45px !important;
}

.cms-container.add_after::after {
	bottom: -25px !important;
	top: unset !important;
}

/* no longer used */
.col-lg-0 {
	display: none;
}
.col-lg-1 {
	width: 8.3333%;
}
.col-lg-2 {
	width: 16.6666%;
}
.col-lg-3 {
	width: 25%;
}
.col-lg-4 {
	width: 33.3333%;
}
.col-lg-5 {
	width: 41.6666%;
}
.col-lg-6 {
	width: 50%;
}
.col-lg-7 {
	width: 58.3333%;
}
.col-lg-8 {
	width: 66.6666%;
}
.col-lg-9 {
	width: 75%;
}
.col-lg-10 {
	width: 83.3333%;
}
.col-lg-11 {
	width: 91.6666%;
}
.col-lg-12 {
	width: 100%;
}

@media only screen and (max-width: 800px) {
	.col-sm-0 {
		display: none;
	}
	.col-sm-1 {
		width: 8.3333%;
	}
	.col-sm-2 {
		width: 16.6666%;
	}
	.col-sm-3 {
		width: 25%;
	}
	.col-sm-4 {
		width: 33.3333%;
	}
	.col-sm-5 {
		width: 41.6666%;
	}
	.col-sm-6 {
		width: 50%;
	}
	.col-sm-7 {
		width: 58.3333%;
	}
	.col-sm-8 {
		width: 66.6666%;
	}
	.col-sm-9 {
		width: 75%;
	}
	.col-sm-10 {
		width: 83.3333%;
	}
	.col-sm-11 {
		width: 91.6666%;
	}
	.col-sm-12 {
		width: 100%;
	}
}
.col-lg-13 {
	width: 100%;
}

.class-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.class-wrapper div {
	padding: 3px;
	margin: 2px;
	border: 1px solid #555;
}

.class-wrapper div.selected {
	background: #555;
	color: white;
}

.borderPreview {
	width: 200px;
	height: 120px;
	margin-top: 5px;
	background: #eee;
}

.modules-sidebar {
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.34);
	padding: 3px 3px;
	background: #eee;
	position: relative;
	z-index: 1100;
	margin-right: 4px;
	width: 200px;
	margin-left: -200px;
	transition: all 0.5s;
	flex-shrink: 0;
}
#cms .modules-sidebar.shown {
	margin-left: 0;
}

/*@media (hover: hover) {
  .add_module_top_btn {
    display: none;
  }
}*/

.btn.toggle-sidebar-btn {
	position: absolute;
	top: 10px;
	right: -30px;
	width: 30px;
	height: 30px;
	border-radius: 7px;
	transition: all 0.4s, color 0s;
}

.modules-sidebar .toggle-sidebar-btn .fas {
	position: absolute;
	transition: all 0.2s;
	left: 50%;
	top: 50%;
	opacity: 1;
	transform: translate(-50%, -50%);
}
.modules-sidebar.shown .toggle-sidebar-btn {
	right: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.modules-sidebar:not(.shown) .toggle-sidebar-btn {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.35);
	top: 5px;
	height: 40px;
}
.modules-sidebar:not(.shown) .toggle-sidebar-btn .fa-chevron-left {
	opacity: 0;
}
.modules-sidebar.shown .toggle-sidebar-btn .fa-puzzle-piece {
	opacity: 0;
}

.modules-sidebar .modules {
	overflow-y: auto;
}
.modules-sidebar-title {
	margin-bottom: 7px;
	margin-left: 4px;
	font-size: 1.1em;
}

.side-module .cms-block-content {
	min-height: 0;
	padding: 5px;
	pointer-events: none;
	border: 1px solid #aaa;
	background: #fff8;
	border-radius: 4px;
}

#actual_cms_wrapper .side-module {
	transition: 0s all !important;
}

#actual_cms_wrapper .side-module:hover {
	background: white;
}

#actual_cms_wrapper {
	flex-shrink: 1;
	overflow-y: hidden;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

#actual_cms_wrapper .desktopRow {
	height: 100%;
	overflow-y: auto;
}
