:root {
  --select_control_width: 26px;
  --select_control_height: 26px;
  --rearrange_control_width: 26px;
  --rearrange_control_height: 26px;
}

.newCmsContent {
  height: 100%;
  user-select: none;
}

.newCms_block_content:not(.newCms_container_content) {
  padding: 10px;
}

.newCms_block {
  min-width: 40px;
  min-height: 40px;
  background-color: #fff0;
  box-shadow: 0 0 0 1px #0002;
  position: relative;
  position: relative;
  transition: box-shadow 0.2s, background-color 0.2s, opacity 0.2s;
}

/* block selection start */

.newCms_block.select_active {
  box-shadow: 0 0 2px 0 var(--primary-clr), inset 0 0 2px 0 var(--primary-clr);
  background: #0001;
}

.newCms_block.select_active:not(.grabbed) .newCms_block {
  /*transform: scale(0.95);*/
  /*transform: translate(5px, 10px);*/
}

.select_controls {
  transition: opacity 0.2s;
}
.select_controls:not(.visible) {
  opacity: 0;
}

.select_control {
  position: absolute;
  width: var(--select_control_width);
  height: var(--select_control_height);
  background: #ddd;
  border: 1px solid #222;
  color: #222;
  z-index: 100;
  opacity: 0.55;
  border-radius: 4px;
  transition: 0.2s all;
  font-size: 1.15em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.select_control.select_active {
  opacity: 0.2;
  background: #fff;
  z-index: 100000;
}

/* block selection end */

/* block rearrangement start */

.newCms_block.rearrange_active {
  box-shadow: 0 0 2px 0 var(--primary-clr), inset 0 0 2px 0 var(--primary-clr);
  background: #0001;
}

.newCms_block.rearrange_active:not(.grabbed) .newCms_block {
  /*transform: scale(0.95);*/
  /*transform: translate(5px, 10px);*/
}

.rearrange_controls {
  transition: opacity 0.2s;
}
.rearrange_controls:not(.visible) {
  opacity: 0;
}

.rearrange_control {
  position: absolute;
  width: var(--rearrange_control_width);
  height: var(--rearrange_control_height);
  background: #ddd;
  border: 1px solid #222;
  color: #222;
  z-index: 100;
  opacity: 0.55;
  border-radius: 4px;
  transition: 0.2s all;
  font-size: 1.15em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.rearrange_control.rearrange_active {
  opacity: 0.2;
  background: #fff;
  z-index: 100000;
}

/* block rearrangement end */

/* newCms_container_content start */
.newCms_container_content {
  display: flex;
  flex-shrink: 0;
  position: relative;
}

.newCms_container_content {
  flex-flow: column;
}

.newCms_container.container_row > .newCms_container_content {
  flex-flow: row;
}

/* newCms_container_content end */

.newCms_container_header {
  display: block;
  background: var(--primary-clr);
  margin: -5px -9px 0;
  transition: 0.5s opacity;
  padding: 1px 7px;
  box-shadow: 0 3px 0 -2px #0005;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
}

.newCms_container_header .fa-border-all {
  font-size: 20px;
  display: inline-block;
  color: #fffe;
  text-shadow: 0 0 2px black, 0 1px 2px black;
}

/* edit_block_node start */
.edit_block_node {
  position: absolute;
  transition: 0.2s opacity;
  background: #ddd5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  z-index: 100;
}
.edit_block_node .btn {
  background: #ddd;
  margin: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
}
.edit_block_node .btn:hover {
  box-shadow: 0 1px 4px 0 #0004;
}
.edit_block_node:not(.active) {
  opacity: 0;
  pointer-events: none;
}
.edit_block_node .remove_btn:hover {
  color: var(--error-clr);
}

.newCms_container.edit_options_visible .newCms_container_content:before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: -8px;
  width: calc(100% + 8px);
  height: calc(100% + 4px);
  border: 4px solid #ddd5;
  border-top-width: 0;
  pointer-events: none;
}

.edit_block_node .btn:hover {
  box-shadow: 0 1px 4px 0 #0004;
}
/* edit_block_node end */

.edit_block_node .btn:not(.remove_btn):hover {
  color: var(--primary-clr);
}

.relocate_btn {
  cursor: grab;
}

/* quill_editor end */

.quill_editor.ql-container {
  height: auto;
}

.quill_editor_wrapper:not(.visible) {
  display: none;
}

.newCmsContent .quill_editor {
  min-height: 30px;
}
/* quill_editor end */

.newCmsContent .during_inline_edit {
  border: none !important;
  box-shadow: 0 2px 6px #0005;
}
.newCmsContent .during_inline_edit .newCms_block_content {
  display: none;
}

/* grab start */
.newCms_block.grabbed {
  background: #aaa3;
  filter: contrast(0.7);
  opacity: 0.6;
  box-shadow: 0 4px 12px -1px #0008;
  pointer-events: none;
  position: relative;
  z-index: 1000;
}

.newCmsContent_scroll_panel.grabbed_block * {
  cursor: not-allowed !important;
  user-select: none;
}

.newCmsContent_scroll_panel.grabbed_block .edit_block_node {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%230000004F' stroke-width='4' stroke-dasharray='5%2c 9' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

/*.newCmsContent_scroll_panel.grabbed_block .newCms_container_header,
.newCmsContent_scroll_panel.grabbed_block .newCms_block:not(.newCms_container) {
  filter: contrast(0.7);
}*/

.newCmsContent_scroll_panel.grabbed_block .newCms_container {
  border-color: #ccc7 !important;
}

/* grab end */

.newCmsContent_scroll_panel {
  height: 100%;
}

.locked_input {
  pointer-events: none;
}
