/* css[global] */

:root {
	// --p-checkbox-height: 2.05em;
	// --p-checkbox-width: 4.5em;
	--p-checkbox-height: 2.1em;
	--p-checkbox-width: 4.5em;
}

input[type="checkbox"] {
	width: 0;
	height: 0;
	opacity: 0;
}

p-checkbox {
	width: var(--p-checkbox-width) !important;
	height: var(--p-checkbox-height);
	border-radius: var(--p-checkbox-height);
	position: relative;
	border: none;
	cursor: pointer;
	vertical-align: middle;
	user-select: none;
	font-size: 0.8em;
	transition: 0.2s box-shadow;
	margin: -5px 0;
}

p-checkbox::before {
	content: "";
	width: var(--p-checkbox-width);
	height: var(--p-checkbox-height);
	box-shadow: inset 0 0 0 1px #0002;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	background: var(--checkbox_color, #0001);
	border-radius: 4px;
}

p-checkbox:not(.square)::before {
	border-radius: var(--p-checkbox-height);
}

p-checkbox .circle {
	width: var(--p-checkbox-height);
	height: var(--p-checkbox-height);
	border-radius: var(--p-checkbox-height);
	background: #f7f7f7;
	position: absolute;
	left: 0;
	top: 0;
	transition: 0.2s all;
	z-index: 2;
}

p-checkbox.square,
p-checkbox.circle {
	&:not(.checked) .circle {
		transform: scale(0.3);
		opacity: 0;
	}
}

p-checkbox:not(.checked) .circle {
	border: 1px solid #aaa;
}

p-checkbox {
	display: block;
}
.checkbox_area {
	& {
		cursor: pointer;
		user-select: none;
	}
	p-checkbox {
		& {
			display: inline-block;
		}
		& + span {
			margin-left: 2px;
		}
	}
}

.checkbox_area:hover p-checkbox,
p-checkbox:hover {
	& {
		box-shadow: var(--field-hover-shadow);
		filter: brightness(1.05);
	}
}

p-checkbox:not(.square):not(.circle)::after {
	content: "";
	background: var(--success-clr);
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.3;
	width: var(--p-checkbox-height);
	height: var(--p-checkbox-height);
	border-radius: inherit;
	transition: 0.2s all;
}

p-checkbox:not(.square):not(.circle).checked::after {
	width: var(--p-checkbox-width);
}

p-checkbox.checked .circle {
	background: var(--success-clr);
	left: calc(var(--p-checkbox-width) - var(--p-checkbox-height));
}

p-checkbox .check,
p-checkbox .minus {
	position: absolute;
	opacity: 1;
	transition: 0.2s all;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
p-checkbox .check {
	border-bottom: 2px solid #000;
	border-left: 2px solid #000;
	width: 1em;
	height: 0.6em;
	transform: translate(-47%, -83%) rotate(-53deg);
	color: transparent;
}
p-checkbox.checked .check {
	border-color: #fff;
}
p-checkbox .minus {
	border-bottom: 2px solid #777;
	width: 12px;
}

p-checkbox:not(.checked) .check,
p-checkbox.checked .minus {
	opacity: 0;
	pointer-events: none;
}

p-checkbox.square {
	& {
		border-radius: 4px;
	}
	.circle {
		border-radius: 4px;
	}
}

p-checkbox.square,
p-checkbox.circle {
	& {
		--p-checkbox-width: var(--p-checkbox-height);
	}
	.minus {
		display: none;
	}
}

p-checkbox:focus-within,
p-checkbox.focus {
	& {
		box-shadow: 0 0 0 2px var(--focus-clr) !important;
		outline: none;
		transition: 0s all;
	}
	&::before {
		border-width: 0 !important;
	}
}

.radio_group.invalid .checkbox_area span {
	text-decoration: underline red !important;
}

p-checkbox.black_light {
	&.checked {
		.circle {
			border: 1px solid #0004;
			background: #0001;
			background: #fff;
		}
		.check {
			border-color: #000;
		}
	}
}
p-checkbox.colorful {
	.circle {
		background: none;
	}
	.check {
		border-color: #fff;
	}
	&.bright_color .check {
		border-color: #000;
	}
}
