/* css[global] */

// .jscolor.field {
// 	border: none !important;
// 	box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.18);
// }

.jscolor.field.inline {
	width: 75px;
	text-align: center;
}

.jscolor_wrapper {
	& {
		position: relative;
	}
	.jscolor {
		width: 100% !important;
		position: absolute;
	}
	.overlay {
		background: #fff;
		position: relative;
		z-index: 10;
	}
}
